@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model RicercaPdfModel

<div class="form-group">
    <div class="row push-10">
        <div class="col-sm-12">
            <label class="rai-caption">Stato</label>
            @Html.DropDownListFor(x => x.stato, Model.listastati, new { @class = "form-control", id = "stato", onchange = "CheckPuls()" })
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <label class="rai-caption">Sede</label>
            @Html.DropDownListFor(x => x.codSede, Model.listasedi, "Sede", new { @class = "form-control", name = "sede", id = "sede", onchange = "CheckPuls()" })
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-6 col-sm-12 col-lg-6 push-10">
            <label class="rai-caption">Dal</label>
            <div class="input-group ">
                <span onclick="$('#data1ric').datetimepicker('show')" class="rai-input-group-addon input-group-addon bg-neutrals-xl-10"><i class="fa fa-calendar interactive-primary-color"></i></span>
                <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="data1ric" name="datada" placeholder="Dal">
            </div>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6 push-10">
            <label class="rai-caption">Al</label>
            <div class="input-group ">
                <span onclick="$('#data2ric').datetimepicker('show')" class="rai-input-group-addon input-group-addon bg-neutrals-xl-10"><i class="fa fa-calendar interactive-primary-color"></i></span>
                <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="data2ric" name="dataal" placeholder="Al">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <div class="rai-btn-fill">
                <a href="#" onclick="RicercaPdf()" id="btnRicerca" class="btn btn-primary" title="Cerca" value="Cerca">Cerca</a>
            </div>
        </div>
    </div>
</div>