   

@* FREAK - PROVA DEL NUOVO PROFILO *@

<section class="rai panel">
    <div class="panel-body">
                  <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-default my-card-loading-block">
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                      
                        <span class="my-card-loading-block" > </span>
                       
                        
                        <div class="info"  >
                            <span class="my-card-loading-block" > </span>

                        </div>
                    </div>
                    <div class="summary-footer">
                       
                    </div>
                </div>
            </div>
        <div class="thumb-info mb-md">
            <img src="" class="rounded img-responsive my-card-loading-block" alt="">
										<div class="thumb-info-title">
											<span class="thumb-info-inner h1 nomeProfilo my-card-loading-block"></span>
											<span class="thumb-info-wrapper h4 sottonomeProfilo my-card-loading-block"></span>
										</div>
        </div>
    </div>
</section>



@* FINE PROVA NUOVO PROFILO *@


<section class="rai panel">
    <div class="panel-body">


@* freak - progress bar *@
        <div id="menu-new">

        </div>
<hr class="dotted short"/>

        </div>
    </section>