@model List<myRaiCommonModel.cvModels.MenuModel>



<div class="panel panel-primary panel-featured-primary " id="panel-main" data-portlet-item="" style="opacity: 1;margin-bottom:0px; z-index:99;padding-top:1px;">
    <header class="panel-heading pointer" style="border-radius:5px 5px 5px 5px" onclick="togg($(this).closest('.panel'));$('#panel-main').toggleClass('panel-featured-bottom')">
        <div class="panel-actions " onclick="togg($(this).closest('.panel'));$('#panel-main').toggleClass('panel-featured-bottom')">
            <a onclick="togg($(this).closest('.panel'));$('#panel-main').toggleClass('panel-featured-bottom')">
                <i class="fa fa-caret-up mcv flip pointer" aria-hidden="true" onclick="togg($(this).closest('.panel'));$('#panel-main').toggleClass('panel-featured-bottom')"></i>
            </a>
        </div>
		<h2 class="panel-title" style="text-align:center">Inserisci</h2>
    </header>
    <div class="panel-body" style="display:block;padding:0px;padding-left:0px;padding-right:0px">
        <div id="menu-cv2" class="internal collapse" aria-expanded="true">


            @foreach (var sezione in Model)
            {
                <div class="panel panel-primary" id="panel-main22" data-portlet-item="" style="opacity: 1;margin-bottom: 2px;">
                    <header class="panel-heading text-primary sez-he">
                        <div class="panel-actions">
                            <a>
                                <i class="pointer fa fa-chevron-up mcv text-primary" aria-hidden="true"
                                   onclick="togg($(this).closest('.panel'))"></i>
                            </a>
                        </div>

                        <h2 onclick="togg($(this).closest('.panel'))" class="pointer panel-title text-primary sez-menu">@sezione.sez</h2>
                    </header>
                    <div class="panel-body body-sez">
                        <div class="internal collapse" aria-expanded="true">
                            @foreach (var box in sezione.voci)
                            {
                                <a class="vocim pointer" onclick="$(document).scrollTop($('#@box.id').offset().top-70); $('#@box.id a.panel-action').click()">
                                    @box.titolo
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>