@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.ess;
@using MVCProject.Custom_Helpers;

<div style="width: 100%" data-async="/resoconti/getresoconti">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            </div>
            <h2 class="panel-title">Resoconti settimanali</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="block rai-loader" id="my-block" style="box-shadow:none">
                    <div id="appr" class="block-content tab-content">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>