@model myRaiCommonModel.RicercaPianoFormativo
@{
    Layout = null;
    var pageIndex = 1;
}


<div class="block" style="margin-bottom:0px;">
    <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
        <li class="active" role="presentation">
            <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1" onclick="loadTabDaPianificare()" data-target="false">
                DA PIANIFICARE
                <div class="rai-badge-tab">
                    <span id="totDaPianificare"> </span>
                </div>
            </a>
        </li>
        <li class="" role="presentation">
            <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2" onclick="loadTabPianificati(@pageIndex)" data-target="false">
                PIANIFICATI
                <div class="rai-badge-tab">
                    <span id="totPianificati"> </span>
                </div>
            </a>
        </li>
    </ul>
    <div class="block-content tab-content" style="padding:20px 0 0 0;overflow:unset;">
        <div class="tab-pane active" id="tab1" role="tabpanel">
            <div id="tblContainerInAttesa">
                <div class="" id="">
                    <table class="rai-table rai-loader table trasferte rai-table-vcenter" id="table_DaPianificare">
                        <thead>
                            <tr>
                                <th style="width:auto;">Matricola</th>
                                <th style="width:auto;">Nominativo</th>
                                <th style="width:auto;">Data imm.</th>
                                <th style="width:auto;">Data assunzione</th>
                                <th class="rai-table-td-toggle"></th>
                                <th class="rai-table-td-toggle" style="width:27%"> &nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="listaPF_DaPianificare"></tbody>
                    </table>

                </div>
                <div class="text-center">
                    <div id="divCaricamentoInCorsoAltrPianiFormativiDaPian" class="rai-loader" style="height:50px; display:none;margin-bottom:15px"></div>
                </div>
                <div class="section-bottom">
                    <a href="" id="btnAltriPianiFormativiDaPian" style="display:none;" data-tourdb="tour-index-arrowdown" onclick="LoadDaPianificareNext()" data-step="7" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Quando trovi questo simbolo puoi espandere la sezione. Ci sono altri piani che non vedi dalla pagina principale.</p>" data-toggle="collapse" data-target="" class="apri-panel">
                        <i class="fa fa-2x push-7-t font-w600 fa-angle-down text-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2" role="tabpanel">
            <div id="tblContainerFirmate">
                <div class="" id="">
                            <table class="rai-table rai-loader table trasferte rai-table-vcenter" id="table_Pianificati">
                                <thead>
                                    <tr>
                                        <th style="width:auto;">Matricola</th>
                                        <th style="width:auto;">Nominativo</th>
                                        <th style="width:auto;">Data creazione piano</th>
                                        <th style="width:auto;">Data assunzione</th>
                                        <th class="rai-table-td-toggle" style="width:27%"> &nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="listaPF_Pianificati"></tbody>
                            </table>
                        
                </div>
                <div class="text-center">
                    <div id="divCaricamentoInCorsoAltrPianiFormativi" class="rai-loader" style="height:50px; display:none;margin-bottom:15px;"></div>
                </div>
                <div class="section-bottom">
                    <a href="" id="btnAltriPianiFormativi" style="display:none;" data-tourdb="tour-index-arrowdown" onclick="LoadPianificatiNext()" data-step="7" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Quando trovi questo simbolo puoi espandere la sezione. Ci sono altri piani che non vedi dalla pagina principale.</p>" data-toggle="collapse" data-target="" class="apri-panel">
                        <i class="fa fa-2x push-7-t font-w600 fa-angle-down text-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        //$(function () {
        //    console.log(hasNextPianificati);
        //    if (hasNextPianificati) {
        //        $('#btnAltriPianiFormativi').show();
        //    } else {

        //    }
        //});
</script>
