@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

<div id="wiz-tit" class="block-header bg-cel  pull-up-block">
    <ul class="block-options">
        <li>
            <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
        </li>
    </ul>
    <h4 class="font-w600  tit-richieste" style="text-align:center">
        Richieste per il:

    </h4>
    <div class="row div-data" style="display:block">
        <div class="col-sm-4" style="text-align:right">   <a class="daybefore" href="javascript:ScorriBack()"><span style="font-size: 10px" class="glyphicon glyphicon-triangle-left text-muted"></span></a></div>
        <div class="col-sm-4">   <h4 class="giorno-display" style="text-align: center;font-weight:bold;margin-top:2px"></h4></div>
        <div class="col-sm-4" style="text-align:left">  <a class="dayafter" href="javascript:ScorriAhead()"><span style="font-size: 10px" class="glyphicon glyphicon-triangle-right text-muted"></span></a></div>
    </div>
</div>
<br /><br />
<div style="text-align: center; margin: auto;">
    <i class="icons icon-lock col-fe" style="font-size: 80px;"></i>
    <h5>Non è possibile effettuare richieste poichè la giornata risulta chiusa</h5>
</div>
