<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="myRaiServiceTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MyRaiServiceInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    </sectionGroup>
  </configSections>



  <appSettings>
    <!-- SVILUPPO -->
    <!--<add key="URLdigigapp" value="http://svildigigappws-his2016.intranet.rai.it/wsdigigapp.asmx"/>
    <add key="URLhrga" value="http://svilhrga.servizi.rai.it/Filtro/sedi.asmx"/>
    <add key="URLhrgb" value="http://svilhrgb.servizi.rai.it/ws/Service.asmx"/>-->
    <!-- FINE SVILUPPO -->
    <!-- PRODUZIONE -->
    <add key="URLdigigapp" value="http://digigappws-his2016vip.intranet.rai.it/wsdigigapp.asmx" />
    <add key="URLhrga" value="http://hrga.servizi.rai.it/Filtro/sedi.asmx" />
    <add key="URLhrgb" value="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    <!-- FINE PRODUZIONE -->
  </appSettings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyRaiService1" maxReceivedMessageSize="2100000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://digigappws-his2016vip.intranet.rai.it/API/MyRaiService1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyRaiService1" contract="MyRaiServiceReference1.IMyRaiService1" name="BasicHttpBinding_IMyRaiService1" />
      <!--<endpoint address="http://svildigigappws-his2016.intranet.rai.it/API/MyRaiService1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyRaiService1"
                contract="MyRaiServiceReference1.IMyRaiService1" name="BasicHttpBinding_IMyRaiService1" />-->
    </client>

  </system.serviceModel>
  <applicationSettings>
    <myRaiServiceTestClient.Properties.Settings>
      <setting name="myRaiServiceTestClient_WebReference_firmaStandard" serializeAs="String">
        <value>http://10.16.161.202:8080/FirmaRemota/services/FirmaStandard</value>
      </setting>
      <setting name="myRaiServiceTestClient_firmaRemota_remoteSignature" serializeAs="String">
        <value>http://10.16.161.202:8080/FirmaRemota/services/RemoteSignature</value>
      </setting>
      <setting name="myRaiServiceTestClient_it_rai_servizi_sendmail_MailSender" serializeAs="String">
        <value>http://sendmail.servizi.rai.it/mail.asmx</value>
      </setting>
      <setting name="myRaiServiceTestClient_it_rai_servizi_anagraficaws1_APWS" serializeAs="String">
        <value>http://anagraficaws.servizi.rai.it/apwebservice/APWS.asmx</value>
      </setting>
      <setting name="myRaiServiceTestClient_WSlocalhost_WSDigigapp" serializeAs="String">
        <value>http://digigappws-his2016vip.intranet.rai.it/wsdigigapp.asmx</value>
      </setting>
      <setting name="myRaiServiceTestClient_it_rai_servizi_svildigigappws_WSDigigapp" serializeAs="String">
        <value>http://digigappws-his2016vip.intranet.rai.it/WSDigigapp.asmx</value>
      </setting>
    </myRaiServiceTestClient.Properties.Settings>


    <MyRaiServiceInterface.Properties.Settings>

      <setting name="MyRaiServiceInterface_it_rai_servizi_digigappws_WSDigigapp" serializeAs="String">
        <value>http://digigappws-his2016vip.intranet.rai.it/WSDigigapp.asmx</value>
        <!--<value>http://svildigigappws-his2016.intranet.rai.it/WSDigigapp.asmx</value>-->
      </setting>

      <setting name="MyRaiServiceInterface_CeitonWS_GappPrpService" serializeAs="String">
        <value>http://bts-r2d2.servizi.rai.it/GAPPPRP/Planning.svc</value>
      </setting>

      <setting name="MyRaiServiceInterface_CeitonScheduall_GappRadioPrpService" serializeAs="String">
        <value>http://BTS-R2D2.servizi.rai.it/GAPPScheduAll/Planning.svc</value>
      </setting>

    </MyRaiServiceInterface.Properties.Settings>


  </applicationSettings>
  <connectionStrings>

    <!--<add name="digiGappEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stocav420,6000;initial catalog=digiGapp;user id=dba_digigapp;password=g2w3e3r3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stocav420,6000;initial catalog=digiGapp;user id=dba_digigapp;password=g2w3e3r3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="digiGappEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRPADBEntities" connectionString="metadata=res://*/HRPA.csdl|res://*/HRPA.ssdl|res://*/HRPA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vrmteulsql435A\ISTA;initial catalog=HRPADB;user id=user_hrpadb;password=c9k4x4x5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>