@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model EventsPDFmodel

@using (Html.BeginModal("Documento evento"))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4" id="dataPubblicazione" style="">Nome Evento: <b> @Model.NomeEvento</b></div>
                        <div class="col-sm-4" id="dataCompetenza" style="">Data Evento: <b> @Model.dataEvento</b></div>
                        <div class="col-sm-4" id="" style=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary-dark" style="padding: 8px;height:80vh;">
        <input type="hidden" id="idpdfcurrent" value="@Model.idEvento" />
        <input type="hidden" id="tipodoc" value="00" />
        <iframe id="myframe" style="width:100%;height:100%" onload="onMyFrameLoad(this)" src="/Events/getpdfbinary?idPdf=@Model.id&matricola=@Model.matricola" />
    </div>
}