@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model IntervalloOsservazione
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblSitFeriePerm" aria-expanded="true"></a>
        </div>
        <h2 id="lblSitFeriePerm" class="panel-title">
            Tempo medio di risposta Cics in ms @Model.avg
            degli ultimi @Model.IntervalloMin minuti
        </h2>
    </header>
    <div class="panel-body" style="display: block; padding: 8px">
        <div class="block" style="max-height: 300px; overflow-y: auto">
            @if ( Model.Avg_Call == null )
            {
                <div style="text-align: center;">
                    <i class="fa fa-refresh fa-spin" style="font-size: 22px; color: #ebebeb;"></i>
                </div>
            }
            else
            {
                <table id="tab-chiamate" class="table table-hover">
                    <thead>
                        <tr>
                            <td class="text-primary"><b>Tipo Chiamata</b> </td>
                            <td class="text-primary"><b>Numero Chiamate</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach ( var item in Model.Avg_Call )
                        {
                            <tr>
                                <td>
                                    <b> @item.NomeChiamata</b>
                                </td>
                                <td>
                                    <b>@item.AvgCall</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>