@model myRaiCommonModel.IntervalloOsservazione
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblSitFeriePerm" aria-expanded="true"></a>
        </div>
        <h2 id="lblSitFeriePerm" class="panel-title">

            Tempo medio di risposta Cics

        </h2>



    </header>
    
        <form id="intervallominutiform" class="panel-body">
            <p class="text-primary">
                Inserisci l'intervallo di minuti:<br />
                <input type="text" name="minuti" id="intervallominuti" />
            </p>

            <p>
                <input class="btn rai-btn-primary" type="submit" value="Invia">
            </p>
        </form>

        <div id="formminuti" class="panel-body" style="display: block; padding: 8px">

        </div>
    
</section>

@*<script type="text/javascript">

 $(document).ready(function() {  
      $("form#intervallominutiform").submit(function(){  
        var intervallominuti = $("#intervallominuti").val();  
          alert(intervallominuti);
        $.ajax({  
          type: "GET",
            url: "/tech/getresptimeHH",  
          data: "/" + intervallominuti,
          dataType: "html",
          success: function(risposta) {  
              $("div#formminuti").html(risposta);
              
              
          },
          error: function(){
            alert("Chiamata fallita!");
          } 
        }); 
        return false;  
      });
    });

    </script>*@
