@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model TimbratureCore.AnalisiGiornata

<h1>Analisi giornata</h1>
@{
    List<Tuple<int , string>> breaks = new List<Tuple<int , string>>( );
    string last = null;
    int co = 0;
}
<table style="width:100%" cellspacing="0">
    <tr>
        @foreach ( var item in Model.DettaglioMinutiGiornata )
        {
            co++;
            if ( item.tipo != last )
            {
                last = item.tipo;
                Tuple<int , string> T = new Tuple<int , string>( co , item.Copertura );
                breaks.Add( T );
                co = 0;
            }
            string colore = "#00ff00";
            if ( item.tipo == null )
            {
                colore = "#cccccc";
            }
            <td style="width:1px;height:20px;background-color:@colore" title="@item.HHMM"></td>
        }
        <td></td>
    </tr>
</table>