@{
    
    string[] mess = myRaiHelper.CommonHelper.GetParametri<string>(myRaiHelper.EnumParametriSistema.MessaggioChiusura);
}

<div class="col-lg-12">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3 class="font-w300 push-15 text-black ">@mess[0]</h3>
        <p class="text-black">@mess[1]</p>

    </div>
</div>
