@{
    Layout = "~/Views/Shared/_layoutNoSidebar.cshtml";
}

<section class="body">
    @Html.Partial("../Shared/header2",new myRaiCommonModel.NotifichePopupModel(myRaiHelper.CommonHelper.GetCurrentUserMatricola()))
    <div class="inner-wrapper">
        <section role="main" class="">
            <main id="main-container">
				<div class="content bg-white text-center pulldown overflow-hidden">
					<div class="row">
                        <div class="col-sm-12">
                            <i class="font-s128 font-w300 push-50 text-danger animated bounceInDown h1 di di-error fa-2x" style="font-size: 14em;"></i>
                             <h2 class="h1 font-w300 push-50 animated fadeInUp">Errore...</h2>
                             <h4 class="h2 font-w300 push-50"> 
                             Utente non abilitato            
                             </h4>
                         </div>
					</div>
				</div>
		    </main>
        </section>
    </div>
</section>