@using myRaiCommonModel
@using myRaiCommonManager
@using myRai.Business

@model XR_DEM_DOCUMENTI_EXT
@{
    var r = Model;
}

<tr>
    <td>
        <div class="col-sm-12" style="margin-top:-20px; margin-left: -20px;">
            @Html.Partial( "~/Views/Dematerializzazione/subpartial/_profiloimage.cshtml" , new ProfiloImageModel() {
           Matricola= r.MatricolaDestinatario ,
           Row1 = CommonManager.ToTitleCase(r.NominativoUtenteDestinatario),
           Row2 = "Matricola "+ r.MatricolaDestinatario ,
           InServizio = HomeManager.IsInServizio( r.MatricolaDestinatario )
       })
        </div>
    </td>
    <td class="align-v">
        <label class="rai-font-md" style="display:block; margin-bottom:0px !important;">@r.Descrizione</label>
        <span class="rai-font-sm">@r.DataCreazione.ToString("dd/MM/yyyy")</span>
    </td>
    <td class="text-right">
        @*<button class="btn rai-btn-small" aria-label="Visualizza" onclick="Dematerializzazione_OpenDettaglioFirma('@r.Id')" title="Visualizza" style="min-width:80px;">
                Visualizza
            </button>*@
    </td>
</tr>


