@using myRai.Models
@using myRai.Controllers

@model Dematerializzazione_DocumentiInFirmaVM
@{
    Layout = null;
}

<div class="row" id="dem-div-carrello">
    <section class="rai panel" id="">
        <header class="panel-heading">
            <h2 class="panel-title">Pronti per la firma</h2>
            <div class="panel-actions visible-xs" style="position: absolute">
                <a href="#" class="panel-action  panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
            </div>
        </header>
        <div class="panel-body">
            <div class="widget-summary push-10">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                        <i class="fa fa-edit"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        @{
                            string tx = "pronti per la firma";
                            if ( Model.ConteggioDocumentiInFirma > 0 )
                            {
                                if ( Model.ConteggioDocumentiInFirma > 1 )
                                {
                                    <h3 class="title" style="word-break: break-word;">Ci sono @(Model.ConteggioDocumentiInFirma) documenti</h3>
                                }
                                else
                                {
                                    tx = "pronto per la firma";
                                    <h3 class="title" style="word-break: break-word;">C'è 1 documento</h3>
                                }
                            }
                            else
                            {
                                <h3 class="title" style="word-break: break-word;">Non ci sono documenti</h3>
                            }
                        }

                        <h5 class="title" style="word-break: break-word;">@tx</h5>
                    </div>
                </div>
            </div>
            <div class="summary-footer">
                <a href="#" class="btn btn-sm rai-btn-small full-width @(Model.ConteggioDocumentiInFirma == 0 ? "disable":"")" onclick="Dematerializzazione_OpenModaleFirmaDocs()">Firma documenti</a>
            </div>
        </div>
    </section>
</div>