<div class="row">
    <section class="rai panel">
        <header class="panel-heading">
            <h2 class="panel-title">Documenti</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="block rai-loader" style="box-shadow:none">
                    <div class="block-content tab-content"></div>
                </div> 
            </div>
        </div>
    </section>
</div>
