@using myRai.Models

@model CaricaTabellaDocumentiVM

<div class="row" id="div-tabella-documenti-internal">
    <section class="rai panel" style="">
        <header class="panel-heading" data-panel-toggle="">
            <h1 class="panel-title">Richieste di firma documenti</h1>
            <div class="panel-actions rai-panel-actions">
                <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
            </div>
        </header>
        <div id="div-dem-documenti" class="panel-body no-padding">
            <div id="">
                <div class="block" style="margin-bottom:0px;">
                    <ul class="nav nav-tabs nav-tabs-alt  nav-justified" data-toggle="tabs" role="tablist">
                        <li class="tabbianco active" role="presentation">
                            <a href="#dem-tab-1-lavorazione" tabindex="0" role="tab" aria-controls="btabswo-static-home" style="border:0px;">
                                IN LAVORAZIONE
                            </a>
                        </li>
                        <li class=" tabbianco" role="presentation">
                            <a href="#dem-tab-2-rifiuate" tabindex="-1" role="tab" aria-controls="btab4" style="border:0px;">
                                RIFIUTATE
                            </a>
                        </li>
                    </ul>

                    <div class="block block-transparent tab-content" style="padding:0px 5px;overflow:unset; margin-bottom:0px;">
                        <div id="dem-tab-1-lavorazione" role="tabpanel" class="tab-pane tab-filtro active">
                            <div class="table-responsive">
                                <table class="rai-table table rai-table-vcenter rai-table-high-row rai-table-panel" id="">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Dipendente</th>
                                            <th class="text-left">Documento e data richiesta</th>
                                            <th class="text-right">Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.DocumentiDaLavorare == null || Model.DocumentiDaLavorare.Any( ) == false)
                                        {
                                            <tr>
                                                <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var r in Model.DocumentiDaLavorare)
                                            {
                                                @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRowInFirma.cshtml" , r)
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="dem-tab-2-rifiuate" role="tabpanel" class="tab-pane tab-filtro">
                            <div class="table-responsive">
                                <table class="rai-table table rai-table-vcenter rai-table-high-row rai-table-panel" id="">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Dipendente</th>
                                            <th class="text-left">Documento e data richiesta</th>
                                            <th class="text-right">Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.DocumentiRifiutati == null || Model.DocumentiRifiutati.Any( ) == false)
                                        {
                                            <tr>
                                                <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var r in Model.DocumentiRifiutati)
                                            {
                                                @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRowRifiutoInFirma.cshtml" , r)
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>