<div class="row no-margin-left-right">
<div class="row">
    <div class="col-md-12 nopaddingGuida">
        <div class="tabs tabs-vertical tabs-left">
          <ul class="nav nav-tabs col-sm-3 col-xs-5 col-md-4 col-lg-4">
                <li class="active"><a href="#item0" data-toggle="tab" aria-expanded="true" class="text-primary">1. Esperienze Professionali</a></li>
              <li class=""><a href="#item1" data-toggle="tab" aria-expanded="false" class="text-primary">2. Formazione</a></li>
              <li class=""><a href="#item2" data-toggle="tab" aria-expanded="false" class="text-primary">3. Competenze</a></li>
              <li class=""><a href="#item3" data-toggle="tab" aria-expanded="false" class="text-primary">4. Su di te</a></li>
              <li class=""><a href="#item4" data-toggle="tab" aria-expanded="false" class="text-primary">5. FAQ</a></li>
              <li class=""><a href="#item5" data-toggle="tab" aria-expanded="false" class="text-primary">6. Privacy</a></li>
              <li class=""><a href="#item6" data-toggle="tab" aria-expanded="false" class="text-primary">7. Contattaci</a></li>
            </ul>
            <div class="tab-content">
                <div id="item0" class="tab-pane active">
                    <h4 class="Titoletto-paragrafo">Esperienze</h4>
                    <p class="Corpo-paragrafo">Sezione dedicata alle esperienze lavorative sia Rai che Extra Rai. Qui potrai dettagliare le esperienze più significative e qualificanti che sono state fondamentali per la tua formazione dal punto di vista professionale. Puoi anche inserire più esperienze nello stesso periodo utilizzando più schede.</p>
                    <p class="Corpo-paragrafo">Le esperienze sono visualizzate automaticamente nella pagina di riepilogo che mostra i dati sintetici in ordine cronologico a partire dall'esperienza più recente.</p>
                    <br />
                    <h4 class="Titoletto-paragrafo">Impegni Editoriali</h4>
                    <p class="Corpo-paragrafo">In questa sezione puoi vedere e monitorare i tuoi impegni:</p>
                    <ul>
                        <li><p class="Corpo-paragrafo">Gli impegni editoriali vengono inseriti dalle Strutture di Pianificazione (PEM o PS)</p></li>
                        <li><p class="Corpo-paragrafo">La sezione contiene dati consultabili ma non modificabili. Per eventuali chiarimenti rivolgersi alle suddette strutture.</p></li>
                    </ul>
                    <br />
                    <h4 class="Titoletto-paragrafo">Contributi Multimediali</h4>
                    <p class="Corpo-paragrafo">In questa sezione puoi inserire file audio, video, foto e altri documenti relativi a:</p>
                    <ul>
                        <li><p class="Corpo-paragrafo">Aspetti/momenti significativi delle tue esperienze professionali Rai.</p></li>
                        <li><p class="Corpo-paragrafo">Interessi, progetti, attività, passioni personali extra Rai che potrebbero avere utili applicazioni in Rai (per es. certificazioni, attività pubbliche e formative).</p></li>
                    </ul>
                    <p class="Corpo-paragrafo">Per inserire un allegato seleziona il pulsante aggiungi (+) e dai un nome al file. Puoi aggiungere fino ad un massimo di 5 allegati da 20 mega l’uno.</p>
                </div>
                <div id="item1" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Titoli di Studio e Specializzazioni</h4>
                    <p class="Corpo-paragrafo">Inserisci il tuo diploma/i (istruzione primaria e secondaria), laurea/e specializzazione/i.</p>
                    <p class="Corpo-paragrafo">Sono visibili i titoli di studio inseriti nei vecchi CV.</p>
                    <p class="Corpo-paragrafo">L’inserimento del titolo di studio non equivale alla consegna presso il proprio ufficio personale della copia semplice e/o conforme, ritenuta necessaria a certificarne l'acquisizione.</p>
                    <br />
                     <h4 class="Titoletto-paragrafo">Certificazioni e Premi</h4>
                    <p class="Corpo-paragrafo">Inserisci, selezionando la sezione di interesse: Attestati (es. linguistico, abilitazione alle professioni, informatico, praticante giornalista, ecc.), Brevetti, Pubblicazioni (sia carta stampata che digitale), Albi professionali (relativa all’iscrizione), Premi.</p>
                    <br />
                    <h4 class="Titoletto-paragrafo">Corsi di Formazione</h4>
                    <ul>
                        <li><p class="Corpo-paragrafo">Nella sezione Corsi Rai sono visibili i corsi di formazione già fruiti, prelevati dagli archivi aziendali.</p></li>
                        <li><p class="Corpo-paragrafo">Per eventuali chiarimenti sui corsi di formazione contattare l'ufficio personale di riferimento o scrivere a: <a href="mailto:raiplace.cv@rai.it">raiplace.cv@rai.it</a>.</p></li>
                        <li><p class="Corpo-paragrafo">Nella sezione Corsi Extra Rai è possibile inserire i corsi effettuati fuori dall'Azienda.</p></li>
                    </ul>
                </div>
                <div id="item2" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Attività e Competenze Editoriali</h4>
                    <p class="Corpo-paragrafo">Indicare le attività svolte in ambito Rai e/o Extra Rai:</p>
                    <ul class="Corpo-paragrafo">
                        <li class="Corpo-paragrafo">Selezionare l'attività svolta, specificando se principale o secondaria.</li>
                        <li class="Corpo-paragrafo">Per attività principale si intende quella attualmente svolta (max. 2 attività)</li>
                        <li class="Corpo-paragrafo">Per attività secondaria si intende l'attività già svolta e che si è disponibili a svolgere in caso di necessità o di interesse.</li>
                    </ul>
                    <br />
                    <h4 class="Titoletto-paragrafo">Autovalutazione Competenze Specialistiche</h4>
                    <p class="Corpo-paragrafo">Indicare le competenze acquisite in ambito Rai e/o Extra Rai ed il livello di conoscenza:</p>
                    <ul class="Corpo-paragrafo">
                        <li class="Corpo-paragrafo">Tra quelle indicate, per ognuno dei 4 ambiti, scegliere quella maggiormente presidiata.</li>
                        <li class="Corpo-paragrafo">E' possibile selezionare nuove competenze e apportare modifiche a quelle già indicate.</li>
                    </ul>
                    <br />
                    <h4 class="Titoletto-paragrafo">Autovalutazione Competenze Informatiche</h4>
                    <p class="Corpo-paragrafo">Sezione per l’autovalutazione. Selezionare i diversi applicativi specificando per ciascuno il livello di conoscenza (base, intermedio, avanzato)</p>
                     <br />
                    <h4 class="Titoletto-paragrafo">Autovalutazione Competenze Digitali</h4>
                    <p class="Corpo-paragrafo">Sezione per l’autovalutazione. Indicare il livello di competenza come riportato nella scheda di autovalutazione </p>
                    <p class="Corpo-paragrafo">Una volta effettuata l’autovalutazione, il sistema visualizza automaticamente una pagina di riepilogo che mostra i dati sintetici dell’autovalutazione effettuata.</p>
                    <br />
                     <h4 class="Titoletto-paragrafo">Autovalutazione Competenze Linguistiche</h4>
                    <p class="Corpo-paragrafo">Sezione per l’autovalutazione. Indicare il livello di competenza come riportato nella scheda di autovalutazione </p>
                    <p class="Corpo-paragrafo">Una volta effettuata l’autovalutazione, il sistema visualizza automaticamente una pagina di riepilogo che mostra i dati sintetici dell’autovalutazione effettuata.</p>
                </div>
                <div id="item3" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Dati Personali</h4>
                    <p class="Corpo-paragrafo">Nella pagina sono visualizzati i dati anagrafici come presenti negli archivi aziendali.</p>
                    <p class="Corpo-paragrafo">Per eventuali chiarimenti rivolgersi al proprio Ufficio Personale.</p>
                    <p class="Corpo-paragrafo">Ti ricordiamo che i titolari del trattamento dei dati sono le funzioni del Personale, come già specificato nel testo della Privacy.</p>
                    <br />
                    <h4 class="Titoletto-paragrafo">Aree di interesse aziendale</h4>
                    <p class="Corpo-paragrafo">Indica la disponibilità a cambiare, eventualmente, la tua Area di attività nel gruppo Rai.</p>
                </div>
                <div id="item4" class="tab-pane" >
                    <div class="accordion" id="accordion">
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false">
									    Presso quali uffici è visibile e consultabile il mio CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse1" class="collapse in" aria-expanded="true" >
								<div class="panel-body">
									<p class="Corpo-paragrafo">Il CV, così come indicato nel documento della Privacy, è visibile da Direzione Risorse Umane e Organizzazione (Responsabile del trattamento) e/o dalle competenti strutture del personale delegate delle Direzioni Produzione TV e Radio, nonché dai presidi di personale che operano nell’ambito delle diverse Direzioni aziendali.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false">
									    Come faccio a navigare nelle varie sezioni del CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse2" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Ci sono due modalità per accedere alle varie sezioni del CV, o si procede sequenzialmente dalla home page oppure si clicca sul pulsante a sinistra “Inserisci”.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false">
									    Trovo sull’attuale CV le informazioni da me inserite nelle precedenti versioni?
								    </a>
							    </h4>
							</div>
                            <div id="collapse17" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Sì, in parte.</p>
                                    <p class="Corpo-paragrafo">Troverai sempre nell’attuale CV i dati relativi a:</p>
                                    <ul>
                                        <li class="Corpo-paragrafo">Titoli di studio</li>
                                        <li class="Corpo-paragrafo">Lingue conosciute</li>
                                        <li class="Corpo-paragrafo">Conoscenze informatiche</li>
                                    </ul>
                                    <p class="Corpo-paragrafo">Per le altre informazioni, come le esperienze professionali, dovrai reinserirle, a meno che non sei un programmista regista, assistente ai programmi, giornalista che ha compilato il proprio CV nell’ambito dei progetti specifici.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">
									    Come faccio ad entrare in una sezione ed inserire un elemento nell’ambito  del CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse3" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Per poter accedere ad una scheda di inserimento del CV si deve cliccare sul simbolo + a destra di ogni sezione.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">
									    Come faccio a modificare le informazioni già inserite in una sezione del CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse4" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Tutte le informazioni inserite sul CV possono essere sia modificate oppure eliminate anche dopo il salvataggio. A destra di ogni sezione (quando è aperta) ci sono 2 piccole icone: una matita che servirà per rientrare nella sezione per la modifica e un cestino che permette di eliminare le relative informazioni.</p>
                                    <p class="Corpo-paragrafo">La sezione Esperienze Professionali ha una diversa impostazione: c’è un’unica icona con 3 puntini, cliccando sopra con il mouse vengono visualizzate le seguenti funzioni disponibili: Cancellare, Modificare, Duplicare una scheda già riempita.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false">
									    Cosa significa la barra con la percentuale sul lato sinistro del CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse5" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">
                                        La barra percentuale indica il livello di completamento delle sezioni ritenute fondamentali per ogni figura professionale, ossia le sezioni che sono considerate propedeutiche per accedere ad un corso di formazione, per partecipare ad un job posting o richiedere un cambio mansione. 
                                        Se hai completato tutte le seguenti sezioni hai raggiunto il 100%: <i>Esperienze professionali in Rai; Titolo di studio e specializzazioni; Autovalutazione competenze informatiche; Autovalutazione competenze digitali; Autovalutazione competenze linguistiche; Aree di interesse aziendale. Per i giornalisti, anche la sezione Competenze specialistiche; per i programmisti registi e assistenti ai programmi dell’area TV, anche la sezione Attività e competenze editoriali.</i>
                                        <br />
                                        Ti suggeriamo comunque di compilare tutte le sezioni che ritieni utili a fornire un quadro completo della tua persona.
									</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false">
									    Come mai, nonostante abbia inserito tutte le informazioni fondamentali, la barra di completamento continua a segnare lo 0%?
								    </a>
							    </h4>
							</div>
                            <div id="collapse18" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">
                                        Si tratta di un problema di natura tecnica che riguarda il personale appena assunto in azienda il cui contratto non è ancora stato contabilizzato dal punto di vista amministrativo. Non appena verrà contabilizzata l’assunzione il calcolo elaborato dal sistema relativamente alla barra di completamento % risulterà quello corretto.
									</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false">
									    Come faccio a vedere l’anteprima del mio CV per controllare le informazioni inserite?
								    </a>
							    </h4>
							</div>
                            <div id="collapse6" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">In ogni sezione del CV è presente l’avviso scritto in verde “Visualizza l’anteprima del tuo CV”, puoi vedere l’anteprima anche cliccando STAMPA CV dalla Home Page.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false">
									    Come faccio ad inserire esperienze lavorative diverse nello stesso arco temporale?
								    </a>
							    </h4>
							</div>
                            <div id="collapse7" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">
                                       Nella sezione dedicata “Esperienze Professionali” puoi inserire tutte le esperienze professionali che ritieni importanti e qualificanti, anche più esperienze lavorative riferite allo stesso arco temporale.
                                       <br />
                                       Questa è anche la sezione per segnalare eventuali <b>stage</b>.
									</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false">
									    Quanti e che tipo di file multimediali posso allegare?
								    </a>
							    </h4>
							</div>
                            <div id="collapse8" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">
                                       Puoi allegare file audio, video, foto e altri documenti relativi ad aspetti/momenti significativi delle tue esperienze professionali Rai e/o interessi, progetti, attività, passioni personali extra Rai che potrebbero avere utili applicazioni in Rai.
                                       <br /> 
                                       Per inserire un allegato seleziona il pulsante aggiungi (+) e dai un nome al file. Puoi aggiungere fino ad un massimo di 5 allegati da 20 mega l’uno. Puoi allegare un file multimediale dopo averlo salvato nel computer.  Ricordati di dare un nome al file che intendi allegare.
                                    </p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false">
									    Non ricordo di preciso la data di inizio dell’esperienza, come posso fare se il sistema mi chiede giorno, mese, anno?
								    </a>
							    </h4>
							</div>
                            <div id="collapse9" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Le date sono comunque indicative, puoi inserire il primo giorno del mese, se ricordi il mese, il primo giorno dell’anno se ricordi l’anno.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false">
									    Dove posso inserire la mia abilitazione alla professione non essendo iscritto ad un albo?
								    </a>
							    </h4>
							</div>
                            <div id="collapse10" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Se non sei iscritto ad un Albo Professionale ma sei in possesso di un’abilitazione alla professione, lo puoi segnalare nella Sezione Certificazioni – Attestati.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false">
									    Dove trovo i riferimenti  per l’autovalutazione competenze digitali e linguistiche?
								    </a>
							    </h4>
							</div>
                            <div id="collapse11" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Le sezioni di Autovalutazione Digitale e Linguistica hanno al loro interno le spiegazioni per guidare al meglio l’autovalutazione. Basta cliccare sulla (i) accanto ad ogni livello per leggere la relativa descrizione di riferimento.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false">
									    Se nella sezione di Autovalutazione Competenze Informatiche non trovo nell’elenco un applicativo che uso quotidianamente come lo segnalo?
								    </a>
							    </h4>
							</div>
                            <div id="collapse12" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Se negli elenchi proposti non trovi l’applicativo che usi e di cui vuoi indicare il livello di conoscenza, vai nella sottosezione “altro”, scrivilo a testo libero, dai un valore e salva.</p>
								</div>
							</div>
                        </div>   
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false">
									    Posso modificare le informazioni con il lucchetto?
								    </a>
							    </h4>
							</div>
                            <div id="collapse13" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Le sezioni contrassegnate con il lucchetto non possono essere modificate perché sono informazioni prelevate dagli archivi aziendali. Se trovi delle incongruenze per ciò che attiene i corsi di Formazione vai alla sezione “Contattaci“ e manda la tua mail; se invece attiene ai tuoi dati anagrafici e/o impegni editoriali e/o per la segnalazione del cambio di residenza, rivolgiti al tuo Ufficio del Personale di riferimento.</p>
								</div>
							</div>
                        </div>  
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false">
									    La segnalazione di voler cambiare area nella Sezione “Aree di interesse aziendale” equivale ad una domanda di trasferimento?
								    </a>
							    </h4>
							</div>
                            <div id="collapse14" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">No, è una indicazione di disponibilità. Per eventuali specifiche richieste di trasferimento occorre come sempre rivolgersi agli uffici gestionali di riferimento.</p>
								</div>
							</div>
                        </div>
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false">
									    A chi posso rivolgermi se ho problemi tecnici relativi alla compilazione del CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse15" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Per le problematiche di natura tecnica puoi contattare l’Help Desk al 2550.</p>
								</div>
							</div>
                        </div>   
                        <div class="panel panel-accordion" >
                            <div class="panel-heading" style="padding:10px;">
							    <h4 class="panel-title" style="font-size:14px;">
								    <a class="accordion-toggle collapsed text-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false">
									    A chi posso rivolgermi se ho suggerimenti oppure ho bisogno di chiarimenti per la compilazione del CV?
								    </a>
							    </h4>
							</div>
                            <div id="collapse16" class="collapse" style="">
								<div class="panel-body">
									<p class="Corpo-paragrafo">Per suggerimenti o chiarimenti relativi alla compilazione del CV vai alla sezione “Contattaci” e manda la tua mail.</p>
								</div>
							</div>
                        </div>                                                                                            
                    </div>                                        
                </div>
                
                <div id="item5" class="tab-pane">
                    @*Html.Raw(myRaiHelper.CommonHelper.GetParametro<string>(EnumParametriSistema.TestoPrivacy))*@
                    @Html.Raw(myRaiHelper.CommonHelper.getTestoPrivacy())
                    <h4 class=" text-primary titolettoBox">Hai preso visione dell'informativa in data @myRai.Business.ProfiloPersonaleManager.PrivacyAcceptedAt(myRaiHelper.UtenteHelper.EsponiAnagrafica()._matricola)</h4>
                </div>

                <div id="item6" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Contattaci</h4>
                    <p class="Corpo-paragrafo">
                    Per qualsiasi segnalazione o suggerimento riguardante la compilazione del tuo CV puoi contattare l'Academy al seguente indirizzo: <a href="mailto:raiplace.cv@rai.it">raiplace.cv@rai.it</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>