<div class="row">
						<div class="col-md-12 nopaddingGuida">
							<div class="tabs tabs-vertical tabs-left">
								<ul class="nav nav-tabs col-sm-3 col-xs-5">
									<li class="active ">
										<a href="#guida1" class="borderright" data-toggle="tab">Orario e Timbrature</a>
									</li>
									<li>
										<a href="#guida2" data-toggle="tab">Ferie e Permessi</a>
									</li>

									<li class="">
										<a href="#guida3" class="borderright" data-toggle="tab">Domande frequenti</a>
									</li>
									<li>
										<a href="#guida4" data-toggle="tab">Contattaci</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="guida1" class="tab-pane active">
                         
										<h4 class="Titoletto-paragrafo">Orario</h4>
										<p class="Corpo-paragrafo">Il box informativo di destra denominato "Il tuo orario di lavoro per oggi" visualizza il tuo orario effettivo di lavoro per la giornata odierna, calcolando l'eventuale orario di uscita risultato dall'entrata in flessibilità di orario. </p>
                                        <p class="Corpo-paragrafo">Il colore rosso indica se si è entrati o usciti in ritardo </p>
                                    	<h4 class="Titoletto-paragrafo">Timbrature</h4>
										<p class="Corpo-paragrafo">Il box informativo di destra denominato "Timbrature" visualizza tutte le tue timbrature con l'indicazione dell'insediamento. Il colore dell'icona posta accanto all'orario assume i seguenti significati: </p>
                                         <ul>
                                            <li><p class="Corpo-paragrafo">Rosso: significa che manca la timbratura, solitamente è necessario far intervenire la segreteria per sistemare i transiti sfasati</p></li>
                                            <li><p class="Corpo-paragrafo">Arancio: significa che si è ancora nell'insediamento aziendale</p></li>
                                            <li><p class="Corpo-paragrafo">Verde: la timbratura è andata a buon fine!</p></li>
                                        </ul>
                                   <p class="Corpo-paragrafo">E' inoltre possibile spostarsi tra le settimane cliccando sulle frecce posizionate subito sotto l'elenco delle timbrature</p>

									</div>
									<div id="guida2" class="tab-pane">
										<h4 class="Titoletto-paragrafo">Ferie e Permessi</h4>
										<p>Il pannello centrale è un riepilogo delle tue ferie e permessi. In un unico pannello sono elencati il numero di giorni spettanti, fruiti e pianificati.</p>
                                        <p>Il tasto <b>"VEDI RIEPILOGO"</b> ti permetterà di entrare nella pagina di dettaglio</p>
									</div>
                                    <div id="guida3" class="tab-pane">
										<h4 class="Titoletto-paragrafo">Dove trovo la "Scheda Presenze" e "Il cartellino orologio"?</h4>
										<p>Queste due funzioni sono state inglobate in un unico posto che trovi sotto la voce <b>"Visualizzazioni Mensili"</b> nel menu contestuale di sinistra proprio sotto la sezione <i>"Presenze"</i>.</p>
                                		<h4 class="Titoletto-paragrafo">Dove trovo la mia situazione delle trasferte e debitoria?</h4>
										<p>Queste due funzioni sono state totalmente rinnovate e le trovi proprio sotto la sezione <i>"La mia situazione"</i> nel menu contestuale di sinistra.</p>
                                        </div>
                                    <div id="guida4" class="tab-pane">
										<h4 class="Titoletto-paragrafo">Informazioni e suggerimenti</h4>
										<p>Per qualsiasi tipo di informazione di tipo tecnico puoi chiamare il 2550, mentre se hai bisogno di chiarimenti di altro tipo oppure hai dei suggerimenti per noi scrivici pure alla mail raiplace.selfservice@rai.it .</p>
                                       
									</div>
								</div>
							</div>
						</div>
						
					</div>