<div class="row no-margin-left-right">
<div class="row">
    <div class="col-md-12 nopaddingGuida">
        <div class="tabs tabs-vertical tabs-left">
          <ul class="nav nav-tabs col-sm-3 col-xs-5 col-md-4 col-lg-4">
                <li class="active"><a href="#item0" data-toggle="tab" aria-expanded="true" class="text-primary">Busta Paga</a></li>
              <!--li class=""><a href="#item1" data-toggle="tab" aria-expanded="false" class="text-primary">Aprire un documento</a></!--li-->
              <li class=""><a href="#item2" data-toggle="tab" aria-expanded="false" class="text-primary">Come stampare</a></li>
              <li class=""><a href="#item3" data-toggle="tab" aria-expanded="false" class="text-primary">Verifica del Timbro Digitale</a></li>
              <li class=""><a href="#item4" data-toggle="tab" aria-expanded="false" class="text-primary">Domande Frequenti</a></li>
              <li class=""><a href="#item5" data-toggle="tab" aria-expanded="false" class="text-primary">Contattaci</a></li>
            </ul>
            <div class="tab-content">
                <div id="item0" class="tab-pane active">
                    <h4 class="Titoletto-paragrafo">Buste Paga</h4>
                    <p class="Corpo-paragrafo">Nella parte centrale dello schermo trovi l'elenco delle buste paga dell'anno in corso. Cliccando sul tasto</p>
                    <img width="290px"  src="~/assets/img/help_assets/bustapaga/vedi_storico.png" />
                    <p class="Corpo-paragrafo">potrai visualizzare l'elenco tle tue busta paga.</p>
                    <br />
                    <h4 class="Titoletto-paragrafo">Da leggere</h4>
                    <p class="Corpo-paragrafo">In questa sezione ti verrà indicato il numero di buste paga ancora da leggere ed eventualmente, se fosse una, quale.</p>
                    <br />
                    <br />
                     <p class="Corpo-paragrafo">leggi anche: <em><u> <a href="#item1" data-toggle="tab" aria-expanded="false" class="text-primary">Aprire un documento</a></em></u>.</p>
                        </div>
              <div id="item1" class="tab-pane ">
                
                    <!--h4 class="Titoletto-paragrafo">Apri un documento</!--h4>
                    <p class="Corpo-paragrafo">In questa sezione ti verrà indicato il numero di buste paga ancora da leggere ed eventualmente, se fosse una, quale.</p-->
                </div>
                <div id="item2" class="tab-pane">
<h4 class="Titoletto-paragrafo">Raccomandazioni su come stampare la tua busta paga</h4>
                    <p class="Corpo-paragrafo">Le stampanti aziendali, multifunzione o laser da tavolo, sono adeguate a garantire la leggibilità del
Timbro Digitale, è necessario, però, assicurarsi che la stampa del documento sia effettuata senza
modificare le <b><u>dimensioni effettive</u></b>, cioè senza operare <b><u>nessun ridimensionamento pagina</u></b>, per
ottenere un documento stampato al <b><u>100% delle dimensioni originali</u></b> (vedi esempio con Acrobat
Reader X). </p>
                      <br />
                    <img src="~/assets/img/help_assets/bustapaga/raccomandazioni_stampa.png" />
                    
                </div>
                <div id="item3" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Istruzioni per la verifica
  del Timbro Digitale</h4>
                    <p class="Corpo-paragrafo">Il Timbro Digitale, normalmente utilizzato da Enti terzi per accertare validità e conformità del
documento, può essere verificato attraverso il software “SecurePaper Viewer” reperibile sul sito
www.rai.it.</p>
 <p class="Corpo-paragrafo">Su tutte le postazioni di lavoro aziendali tale software è già stato installato automaticamente dalla
Direzione ICT ed è possibile avviarlo tramite la sequenza:</p>
 <p class="Corpo-paragrafo text-center"><b>Start -> Programmi -> SecurePaper Viewer</b></p>
                      </div>
                <div id="item4" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Non vedo tutte le mie buste paga come posso fare?</h4>
                    <p class="Corpo-paragrafo">Hai provato a cliccare su questo tasto?</p>
                    <p class="text-center"><img width="290px"  src="~/assets/img/help_assets/bustapaga/vedi_storico.png" /></p>

                    
                </div>
                <div id="item5" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Informazioni e suggerimenti</h4>
										<p>Per qualsiasi tipo di informazione di tipo tecnico puoi chiamare il 2550, mentre se hai bisogno di chiarimenti di altro tipo oppure hai dei suggerimenti per noi scrivici pure alla mail <a =href="mailto:raiplace.raiperme@rai.it">raiplace.raiperme@rai.it</a> .</p>
							
                </div>
            </div>
        </div>
    </div>
</div>
</div>