@{
    
    var act = "";
}

<div class="row">
    <div class="col-md-12 nopaddingGuida">
        <div class="tabs tabs-vertical tabs-left">
            <ul class="nav nav-tabs col-sm-3 col-xs-5">
                <li class="active ">
                    <a href="#guida1" class="borderright" data-toggle="tab">Orario e Timbrature</a>
                </li>
                @if (myRaiHelper.UtenteHelper.IsAbilitatoGapp())

                {

                    <li>
                        <a href="#guida8" data-toggle="tab">Giornate in evidenza</a>
                    </li>
                    if (myRaiHelper.UtenteHelper.GetQuadratura() == myRai.Models.Quadratura.Settimanale)
                    {
                        <li>
                            <a href="#guida9" data-toggle="tab">Riepilogo settimanale</a>

                        </li>
                    }
                    else
                    {

                        <li>

                            <a href="#guida10" data-toggle="tab">Permessi orari </a>

                        </li>
                    }

                    <li id="link-richieste">

                        <a href="#guida13" data-toggle="tab">Richieste</a>

                    </li>

                    <li>

                        <a href="#guida2" data-toggle="tab">Ferie e Permessi</a>

                    </li>

                    <li>

                        <a href="#guida7" data-toggle="tab">Piano Ferie</a>

                    </li>


                    <li class="">
                        <a href="#guida3" class="borderright" data-toggle="tab">Calendario</a>
                    </li>

                    if (myRaiHelper.UtenteHelper.IsBoss(myRaiHelper.CommonHelper.GetCurrentUserMatricola()))

                    {

                        <li class="">
                            <a href="#guida11" class="borderright" data-toggle="tab">Approvazioni 1° Livello</a>
                        </li>
                    }

                    if (myRaiHelper.UtenteHelper.IsBossLiv2(myRaiHelper.CommonHelper.GetCurrentUserMatricola()))
                    {

                        <li class="">
                            <a href="#guida12" class="borderright" data-toggle="tab">Approvazioni 2° Livello</a>
                        </li>
                    }

                    <li class="">
                        <a href="#guida4" class="borderright" data-toggle="tab">Notifiche</a>
                    </li>


                }

                <li class="">
                    <a href="#guida5" class="borderright" data-toggle="tab">Domande frequenti</a>
                </li>
                <li>
                    <a href="#guida6" data-toggle="tab">Contattaci</a>
                </li>


            </ul>
            <div class="tab-content">

                <div id="guida1" class="tab-pane active">

                    <h4 class="Titoletto-paragrafo">Orario</h4>
                    <p class="Corpo-paragrafo">Il box informativo di destra denominato "Il tuo orario di lavoro per oggi" visualizza il tuo orario effettivo di lavoro per la giornata odierna, calcolando l'eventuale orario di uscita risultato dall'entrata in flessibilità di orario. </p>
                    <p class="Corpo-paragrafo">Il colore rosso indica se si è entrati o usciti in ritardo </p>
                    <p class="text-center"><img style="width:400px;" src="~/assets/img/help_assets/scrivania/orario_lavoro.png" /></p>
                    <h4 class="Titoletto-paragrafo">Timbrature</h4>
                    <p class="Corpo-paragrafo">Il box informativo di destra denominato "Timbrature" visualizza tutte le tue timbrature con l'indicazione dell'insediamento. Il colore dell'icona posta accanto all'orario assume i seguenti significati: </p>
                    <ul>
                        <li><p class="Corpo-paragrafo">Rosso: significa che manca la timbratura, solitamente è necessario far intervenire la segreteria per sistemare i transiti sfasati</p></li>
                        <li><p class="Corpo-paragrafo">Arancio: significa che si è ancora nell'insediamento aziendale</p></li>
                        <li><p class="Corpo-paragrafo">Verde: la timbratura è andata a buon fine!</p></li>
                    </ul>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/timbrature2.png" /></p>
                    <p class="Corpo-paragrafo">E' inoltre possibile spostarsi tra le settimane cliccando sulle frecce posizionate subito sotto l'elenco delle timbrature</p>

                </div>
                <div id="guida2" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Ferie e Permessi</h4>
                    <p>Il pannello centrale è un riepilogo delle tue ferie e permessi. In un unico pannello sono elencati il numero di giorni spettanti, fruiti e pianificati.</p>
                    <p class="text-center"><img width="550" src="~/assets/img/help_assets/scrivania/situazione_ferie_permessi.png" /></p>
                    <p>Il tasto <b>"VEDI RIEPILOGO"</b> ti permetterà di entrare nella pagina di dettaglio.</p>
                    <p>Cliccando su <b>"CHIEDI PERMESSI O FERIE"</b> si aprirà la schermata per poter effettuare una richiesta:</p>
                    <p>Una volta aperta la schermata è possibile selezionare la data o l’intervallo di date di interesse, poi cliccare su VAI</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/chiedi_permessi_ferie_date.png" /></p>
                    <p>e selezionare ferie  e poi cliccare su prosegui.</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/selezione_ferie.png" /></p>
                    <p>In seguito sarà possibile inserire la motivazione (in questo caso facoltativa) nell’apposito riquadro e procedere all’invio della richiesta.</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/motivazione_ferie.png" /></p>
                    <p>
                        N.B. Nel caso dei giorni di ferie viene selezionato automaticamente “Giornata”, nel caso dei permessi sarà possibile scegliere tra:Giornata, Mattina, Pomeriggio o quarto.
                        Quando viene selezionato il PRQ, il sistema chiederà di inserire anche la fascia oraria nella quale si desidera usufruirne.
                    </p>
                    <h6 class="Titoletto-paragrafo">Stato delle richieste</h6>
                    <p>E’ possibile visualizzare lo stato delle richieste (in attesa di approvazione o esito) nella sezione le mie richieste raggiungibile dal menù “le mie presenze/situazione” o dal menù di sinistra espandendo Le Mie Richieste/ Elenco Richieste. </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/richieste_inapprovazione.png" /></p>
                    <p>Per visualizzare le richieste già approvate sarà sufficiente spostarsi su "Esiti"</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/richieste_esiti.png" /></p>
                    <h6 class="Titoletto-paragrafo">Cancellazione ferie al di fuori del piano ferie</h6>
                    <p>Dalla stessa schermata è possibile cancellare le richieste sia in approvazione che già approvate, cliccando sul cestino:</p>
                    <ul>
                        <li><p class="Corpo-paragrafo">Per la cancellazione delle richieste in approvazione, basterà semplicemente cancellare la richiesta.</p></li>
                        <li><p class="Corpo-paragrafo">Per la cancellazione delle richieste già approvate, bisognerà: inserire la motivazione e attendere l'approvazione del responsabile di primo livello</p></li>
                        <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/cancella_richiesta.png" /></p>
                        <li>
                            <p class="Corpo-paragrafo">
                                <u>
                                    Se si è effettuata una richiesta di ferie o permessi per un periodo di più giorni e si desidera cancellare soltanto uno di questi, bisognerà <b>
                                        necessariamente
                                        cancellare la richiesta di tutto il periodo (che risulterà unica)
                                    </b> e rieffettuare, in seguito, la richiesta per gli altri giorni.
                                </u>
                            </p>
                        </li>

                    </ul>

                </div>
                <div id="guida3" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Calendario</h4>
                    <p>Il box informativo oltre a visualizzare il mese corrente (o quello selezionato utilizzando le frecce “◀” “▶”) consente di accedere direttamente ad una specifica giornata selezionandola con un clic, similmente a quanto accade cliccando il pulsante “Entra nella giornata” nel box Orario.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/calendario_con_evidenze.png" /></p>
                    <p>Inoltre risultano evidenziate le giornate che presentano:</p>
                    <ul>
                        <li><p class="Corpo-paragrafo">Una richiesta in approvazione: pallino arancione</p></li>
                        <li><p class="Corpo-paragrafo">Una richiesta approvata: pallino verde</p></li>
                        <li><p class="Corpo-paragrafo">Necessità di inserire una giustificazione: riquadro rosso</p></li>
                    </ul>
                </div>
                <div id="guida4" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Notifiche</h4>
                    <p>Il box informativo consente di visualizzare comunicazioni (ad esempio possibili richieste approvate). La presenza di notifiche viene segnalata anche dall’icona “campanello” nella barra dei menu in alto a destra. Una volta visionate le notifiche è possibile eliminarle cliccando sulla “x” posta a fianco.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/notifiche.png" /></p>
                </div>
                <div id="guida5" class="tab-pane">

                    <div id="faq" class="accordion-toggle"  style="border-right: none; border-left: none; border-top: none">

                        <div class="panel panel-default">

                            <div class="panel-heading" style="background-color: transparent">
                                <h4 class="Titoletto-paragrafo"  >
                                    <a class="accordion-toggle" data-toggle="collapse"
                                       data-parent="#faq"
                                       href="#risposta-1">
                                        Dove trovo la "Scheda Presenze" e "Il cartellino orologio"?
                                        
                                    </a>
                                </h4>

                            </div>


                            <div id="risposta-1" class="panel-collapse collapse in ">
                                <div class="panel-body" style="padding: 0px">
                    <p>Queste due funzioni sono state inglobate in un unico posto che trovi sotto la voce <b>"Visualizzazioni Mensili"</b> nel menu contestuale di sinistra proprio sotto la sezione <i>"Le mie presenze"</i>.</p>
                                </div>

                            </div>
                        </div>
                        </div>

                    <h4 class="Titoletto-paragrafo">Come faccio ad inserire una richiesta?</h4>
                    <p>L'inserimento di una richiesta/eccezione è spiegato in maniera dettagliata nella sezione <a href="#guida13" data-toggle="tab"><b>Richieste</b></a> di questa guida.</p>
                    @if (myRai.Models.Utente.GetQuadratura() == myRai.Models.Quadratura.Settimanale)
                    {
                        <h4 class="Titoletto-paragrafo">Dove trovo il riepilogo di tutte le mie richieste e delle giornate che necessitano di un inserimento?</h4>
                        <p>Accedendo alla pagina <b>Situazione</b> -raggiungibile dal menù di sinistra cliccando su <b>Le mie presenze/Situazione</b>- è possibile trovare</p>
                        <p>il riepilogo delle giornate in evidenza, delle richieste effettuate e del loro stato, del riepilogo settimanale</p>
                        <p>Aprendo <b>Guida all'utilizzo</b> dalla pagina <b>Situazione</b> si accederà alla guida ad essa dedicata.</p>

                    }
                    else
                    {
                        <h4 class="Titoletto-paragrafo">Dove trovo il riepilogo di tutte le mie richieste e delle giornate che necessitano di un inserimento?</h4>
                        <p>Accedendo alla pagina <b>Situazione</b> -raggiungibile dal menù di sinistra cliccando su <b>Le mie presenze/Situazione</b>- è possibile trovare</p>
                        <p>il riepilogo delle giornate in evidenza, delle richieste effettuate e del loro stato, dei permessi e dei recuperi orari.</p>
                        <p>Aprendo <b>Guida all'utilizzo</b> dalla pagina <b>Situazione</b> si accederà alla guida ad essa dedicata.</p>

                    }
                    <h4 class="Titoletto-paragrafo">Dove trovo la mia situazione delle trasferte e debitoria?</h4>
                    <p>Queste due funzioni sono state totalmente rinnovate e le trovi proprio sotto la sezione <i>"La mia situazione"</i> nel menu contestuale di sinistra.</p>
                </div>
                <div id="guida6" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Informazioni e suggerimenti</h4>
                    <p>Per qualsiasi tipo di informazione di tipo tecnico puoi chiamare il 2550, mentre se hai bisogno di chiarimenti di altro tipo oppure hai dei suggerimenti per noi scrivici pure alla mail <a href="mailto:raiplace.raiperme@rai.it">raiplace.raiperme@rai.it</a> .</p>
                </div>
                <div id="guida7" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Piano Ferie</h4>
                    <p>In alto a destra è possibile trovare il riquadro "Piano Ferie" che consente accedere al proprio piano ferie.</p>
                    <p class="text-center"><img width="450" src="~/assets/img/help_assets/scrivania/gestisciPF-incomp.jpg" /></p>
                    <p>
                        Cliccando su "Gestisci" si aprirà la schermata per poter compilare il piano, da qui sarà possibile aggiungere e rimuovere giorni di ferie,
                        cliccando sulle celle della griglia. Nel riquadro in basso sono riportati tutti i vincoli da rispettare per poter compilare correttamente il piano.
                    </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/griglia-pf-incomp2020.png" /></p>
                    <br>

                    <h6 class="Titoletto-paragrafo">Vincoli da rispettare</h6>


                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-1.11.png" /></p>
                    <br>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-1.2.png" /></p>
                    <br>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-1.3.png" /></p>
                    <br>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-1.5.png" /></p>
                    <br>
                    <p class="text-center"><b>Per i dipendenti che hanno arretrati da pianificare:</b></p>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-1.4.png" /></p>
                    <br>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-1.66.png" /></p>
                    <br>

                    <p>
                        Lo stato del rispetto dei vincoli del Piano Ferie è visibile tramite la grafica a forma di cerchio presente all'interno dei riquadri.
                    </p>
                    <br>
                    <p> Se il vincolo non è ancora stato rispettato, il cerchio accanto al contatore apparirà di colore rosso,</p>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-cerchiorosso.png" /></p>
                    <br>
                    <p> viceversa, il cerchio apparirà di colore verde</p>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-cerchioverde.png" /></p>
                    <br>
                    <p>Nel momento in cui tutti i vincoli saranno rispettati e tutti i cerchi saranno di colore verde si attiverà anche il pulsante "Invia".</p>
                    <br>




                    <h6 class="Titoletto-paragrafo">Recuperi Riposo e Recuperi Festivi</h6>
                    <p>
                        Nel caso di dipendenti che hanno l'obbligo di pianificare i Recuperi Riposo e i Recuperi Festivi, sarà possibile spostarsi tra le tre schermate, cliccando in alto a sinistra:
                    </p>
                    <p class="text-center"><img width="150" src="~/assets/img/help_assets/scrivania/pianoferie_rr.png" /></p>
                    <h6 class="Titoletto-paragrafo">Stato Piano Ferie</h6>
                    <p>
                        Una volta completato, sarà possibile inviarlo per l'approvazione cliccando su "Invia" e lo stato passerà da "In Compilazione" a "In approvazione".
                        In questa fase, in cui il piano non è ancora stato approvato, sarà possibile modificarlo, dopo aver cliccato su "Annulla" e in seguito, reinviarlo nuovamente.
                    </p>
                    <br>
                    <p class="text-center"><img width="300" src="~/assets/img/help_assets/scrivania/PF-annulla.png" /></p>
                    <p>Il responsabile di primo livello, prima di approvare il piano ferie, potrebbe inviare una nota in cui richiede di modificarlo, in questo caso nel box del piano ferie ne verrà indicata la presenza. </p>
                    <p class="text-center"><img width="500" src="~/assets/img/help_assets/scrivania/PF-nota.jpg" /></p>
                    <br>
                    <p>Quando il piano ferie sarà stato approvato dal responsabile di primo livello, lo stato passerà da "In approvazione" ad "Approvato":</p>
                    <p class="text-center"><img width="300" src="~/assets/img/help_assets/scrivania/stato_approvato.png" /></p>
                    <br>
                    <p>Quando il piano ferie sarà stato convalidato dal responsabile di secondo livello, il dipendente visualizzerà la scritta "Convalidato" nel riquadro "Piano ferie".</p>
                    <p class="text-center"><img width="450" src="~/assets/img/help_assets/scrivania/PF-convalidato.jpg" /></p>
                    <br>
                    <h6 class="Titoletto-paragrafo">Storno e ripianificazione Piano Ferie</h6>

                    <ul>
                        <li>
                            <p class="Corpo-paragrafo">
                                Se il piano ferie è stato approvato ma non convalidato, il dipendente può chiedere lo storno al suo responsabile di primo livello.
                                Una volta che il piano è stato stornato, il dipendente può modificarlo, dopo aver cliccato su "Annulla", e reinviarlo nuovamente per l'approvazioone.
                            </p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">
                                Se il piano ferie è già stato convalidato, il dipendente può gestire i singoli giorni in <b>Le mie presenze/Situazione/Le mie richieste/Esiti</b>,
                                da dove sarà possibile stornare i singoli giorni, utilizzando l'icona cestino, e ripianificarli
                            </p>
                        </li>
                        <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/ripianificazione.png" /></p>
                        <li>
                            <p>
                                Se le ferie da piano ferie sono presenti come un'unica richiesta per un periodo di più giorni,
                            </p>
                            <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/periodo-ferie.png" /></p>
                            <p>
                                cliccando sull'icona Cestino accanto alla richiesta in <b>Le mie presenze/Situazione/Le mie richieste/Esiti</b>
                                verrà prima richiesto di dividere la richiesta in richieste singole per ogni giorno.
                            </p>
                            <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/pianoferie-periodo.png" /></p>
                            <p>Una volta terminata quest'operazione sarà possibile ripianificare i singoli giorni.</p>
                        </li>
                        
                        

                    </ul>
                </div>
                <div id="guida8" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Giornate in evidenza</h4>
                    <p>
                        Il Box "Giornate in evidenza" segnala il numero delle giornate in evidenza, cioè quelle giornate che necessitano di un intervento da parte del dipendente,
                        come ad esempio una carenza o una maggior presenza da giustificare.
                    </p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/giornate_evidenza.png" /></p>
                    <p>Cliccando su "Vedi" si aprirà la pagina "Situazione", raggiungibile anche dal menù di sinistra <b>Le Mie Presenze/Situazione</b></p>
                    <p>
                        Nel caso in cui non ci siano giornate da giustificare al posto di "Vedi" è presente la dicitura "Effettua una richiesta",
                    </p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/giornate_evidenza_zero.png" /></p>
                    <p> cliccando su quest'ultima sarà possibile effettuare una richiesta. </p>
                    <p>
                        Rimandiamo alla guida presente in <b>Le Mie Presenze/Situazione</b> per i dettagli su come effettuare una richiesta e come giustificare le giornate in evidenza.

                    </p>

                </div>
                <div id="guida9" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Riepilogo settimanale</h4>
                    <p>Per i dipendenti a quadratura settimanale, il Box "Riepilogo settimanale" presenta il bilancio orario della settimana.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/riepilogo_settimanale_sintesi2.png" /></p>
                    <p>Cliccando su "Vedi tutte" si aprirà la pagina "Situazione", raggiungibile anche dal menù di sinistra <b>Le Mie Presenze/Situazione</b></p>
                </div>
                <div id="guida10" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Permessi orari</h4>
                    <p>
                        Per i dipendenti a quadratura giornaliera, il Box "Permessi orari" presenta il quantitativo di minuti ancora da recuperare
                        ed il numero di POH richiesti nel mese corrente.
                    </p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/poh_arretrati.png" /></p>
                    <p>Cliccando su "Gestisci" si aprirà la pagina "Situazione", raggiungibile anche dal menù di sinistra <b>Le Mie Presenze/Situazione</b></p>
                </div>

                <div id="guida11" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Approvazioni 1° Livello</h4>
                    <p>Il box "In approvazione (1°liv)" segnala il numero di richieste da approvare.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/riquadro_primo_liv.png" /></p>
                    <p>
                        Cliccando su "Vedi" sarà possibile accedere alla pagina delle approvazioni di primo livello,
                        raggiungibile anche dal menù di sinistra in <b>Approvazioni/Livello 1</b>.
                    </p>
                    <p>
                        Rimandiamo alla guida presente in questa pagina per i dettagli  su come gestire le approvazioni da primo livello.
                    </p>

                </div>
                <div id="guida12" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Approvazioni 2° Livello</h4>
                    <p>Il box "In firma (2°liv)" segnala il numero di documenti da firmare.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/riquadro_secondo_liv.png" /></p>
                    <p>
                        Cliccando su "Vedi" sarà possibile accedere alla pagina delle approvazioni di secondo livello,
                        raggiungibile anche dal menù di sinistra in <b>Approvazioni/Livello 2</b>.
                    </p>
                    <p>
                        Rimandiamo alla guida presente in questa pagina per i dettagli su come gestire le approvazioni da secondo livello.
                    </p>
                </div>

                <div id="guida13" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Richieste</h4>
                    <p>Dalla Scrivania di RaiPerMe è possibile effettuare una richiesta in vari modi:</p>
                    <ul>
                        <li>
                            <p class="Corpo-paragrafo">Cliccando su "Effettua una richiesta" nel Box <b>Giornate in evidenza</b> (visibile soltanto quando il contatore delle giornate in evidenza risulta 0)</p>
                            <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/giornate_evidenza_zero.png" /></p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">Cliccando sulla giornata di interesse dal Box <b>Calendario</b></p>
                            <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/calendario.png" /></p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">Cliccando su "Entra nella giornata" dal Box <b>Orario di Lavoro</b></p>
                            <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/orario_lavoro.png" /></p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">Dal menù di sinistra sotto le voci <b>Le Mie Presenze/Richiedi</b></p>
                            <p class="text-center"><img width="200" src="~/assets/img/help_assets/scrivania/menu_richiedi.png" /></p>
                        </li>
                    </ul>
                    <p>Una volta aperta la schermata è possibile selezionare la data o l’intervallo di date di interesse, poi cliccare su VAI</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/chiedi_permessi_ferie_date.png" /></p>
                    <p>Dopo aver selezionato il giorno si potrà scegliere il tipo di eccezione da inserire, le eccezioni sono raggruppate in tre gruppi:</p>
                    <ul>
                        <li>
                            <p class="Corpo-paragrafo"> <b>Ferie e Permessi</b>: dove è possibile trovare le ferie, i PF, i PR.</p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo"> <b>Straordinari o maggiorazioni</b>: dove è possibile trovare le eccezioni riguardanti lo straordinario o le maggiorazioni</p>
                            <p>Questo raggruppamento è cliccabile solo se si apre una giornata in cui sia presente una maggior presenza o per la quale siano previste maggiorazioni</p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo"> <b>Altre segnalazioni</b>: dove è possibile trovare eccezioni non presenti nei gruppi precedenti, come: Servizio esterno, formazione,</p>
                            <p>uscita per mensa, formazione, permessi orari, fuori sede, etc.</p>
                        </li>
                    </ul>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/gruppi_richieste.png" /></p>
                    <h6 class="Titoletto-paragrafo">Esempio inserimento giorno di ferie al di fuori del piano ferie</h6>
                    <p>Per inserire un giorno di ferie bisognerà selezionare il raggruppamento <b>Ferie e Permessi</b> e poi cliccare su prosegui.</p>
                    <p>Nella schermata successiva selezionare <b>FE</b> </p>

                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/selezione_ferie.png" /></p>
                    <p>In seguito sarà possibile inserire la motivazione (in questo caso facoltativa) nell’apposito riquadro e procedere all’invio della richiesta.</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/motivazione_ferie.png" /></p>
                    <p>
                        N.B. Nel caso dei giorni di ferie viene selezionato automaticamente “Giornata”, nel caso dei permessi sarà possibile scegliere tra:Giornata, Mattina, Pomeriggio o quarto.
                        Quando viene selezionato il PRQ, il sistema chiederà di inserire anche la fascia oraria nella quale si desidera usufruirne.
                    </p>
                    <h6 class="Titoletto-paragrafo">Stato delle richieste</h6>
                    <p>E’ possibile visualizzare lo stato delle richieste (in attesa di approvazione o esito) nella sezione le mie richieste raggiungibile dal menù “le mie presenze/situazione” o dal menù di sinistra espandendo Le Mie Richieste/ Elenco Richieste. </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/richieste_inapprovazione.png" /></p>
                    <p>Per visualizzare le richieste già approvate sarà sufficiente spostarsi su "Esiti"</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/scrivania/richieste_esiti.png" /></p>
                    <h6 class="Titoletto-paragrafo">Cancellazione delle richieste</h6>
                    <p>Dalla stessa schermata è possibile cancellare le richieste sia in approvazione che già approvate, cliccando sul cestino:</p>
                    <ul>
                        <li><p class="Corpo-paragrafo">Per la cancellazione delle richieste in approvazione, basterà semplicemente cancellare la richiesta.</p></li>
                        <li><p class="Corpo-paragrafo">Per la cancellazione delle richieste già approvate, bisognerà: inserire la motivazione e attendere l'approvazione del responsabile di primo livello</p></li>
                        <p class="text-center"><img width="400" src="~/assets/img/help_assets/scrivania/cancella_richiesta.png" /></p>
                        <li>
                            <p class="Corpo-paragrafo">
                                NB in questo caso rientrano solo le ferie inserite al di fuori del piano ferie, per la cancellazione di ferie all'interno del piano ferie
                                si rimanda alla guida <b>Piano ferie</b>.
                                <u>
                                    Se si è effettuata una richiesta di ferie o permessi per un periodo di più giorni e si desidera cancellare soltanto uno di questi, bisognerà <b>
                                        necessariamente
                                        cancellare la richiesta di tutto il periodo (che risulterà unica)
                                    </b> e rieffettuare, in seguito, la richiesta per gli altri giorni.
                                </u>
                            </p>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
    </div>

</div>




