<div class="row">
    <div class="col-md-12 nopaddingGuida">
        <div class="tabs tabs-vertical tabs-left">
            <ul class="nav nav-tabs col-sm-3 col-xs-5">



                <li class="active ">
                    <a href="#guida1" class="borderright" data-toggle="tab">Da approvare</a>
                </li>
                <li>
                    <a href="#guida2" data-toggle="tab">Resoconti settimanali</a>
                </li>

                <li>
                    <a href="#guida3" data-toggle="tab">Cerca tra le richieste</a>
                </li>


                <li>
                    <a href="#guida4" data-toggle="tab">Presenze dipendente</a>
                </li>


                <li>
                    <a href="#guida5" data-toggle="tab">Approvazione Piano ferie</a>
                </li>
         



            </ul>
            <div class="tab-content">

                <div id="guida1" class="tab-pane active">

                    <h4 class="Titoletto-paragrafo">Da approvare</h4>
                    <p>
                        Il box "Da approvare" contiene le richieste dei dipendenti raggruppate per sede GAPP e reparto in ordine cronologico, con indicazione del totale delle richieste.
                    </p>

                    <p>
                        Le richieste sono suddivise in tre classi:
                    </p>
                        <ul>

                            <li>
                    <p class="Corpo-paragrafo"><u>Urgenti</u>: sono le richieste effettuate per il futuro (es. PF) da usufruire e quindi approvare entro un brevissimo lasso temporale</p>
                           </li>
                           <li>
                        <p class="Corpo-paragrafo"><u>Scadute</u>: sono quelle richieste fatte con congruo anticipo e che, divenute urgenti, non sono state poi approvate precedentemente la data di fruizione</p>
                           </li>
                           <li>
                        <p class="Corpo-paragrafo"><u>Ordinarie</u>: quelle che non rientrano nelle precedenti categorie.</p>
                           </li>
                        </ul>

                    

                        <p>

                            Ogni richiesta riporta un codice (es. PF, SEH, etc.), la relativa descrizione, il nome e la foto del richiedente e, sulla destra, i pulsanti per l’approvazione e rifiuto.
                        </p>
                        <p>Le richieste che sono state visualizzate dalla segreteria, presentano in alto a sinistra la dicitura "Visualizzato"</p>
                        <p class="text-center"><img width="400" src="~/assets/img/help_assets/primo-livello/richiesta_visualizzata.png" /></p>
                        <p>
                            È possibile selezionare in modo massivo tutte le richieste (spuntando “seleziona tutti”) e approvarle o rifiutarle con un’unica operazione, deselezionando manualmente quelle che non si desidera trattare al momento (esempio: quelle che necessitano di approfondimenti).

                            Per le richieste che lo prevedono come obbligo è indicata anche la motivazione (esempio: straordinario, servizio esterno).
                        </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/da_approvare_richiesta3.png" /></p>
                    <p>Cliccando su "Vista per giornata" in alto a destra, è possibile visualizzare le richieste raggruppate per giornata e approvare o rifituare tutte le richieste di quella giornata.</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/da_approvare_giornata2.png" /></p>
                    <p>In caso di richiesta di “macro assenze” (ferie, permessi retribuiti o permessi ex festività), cliccando sul nominativo, potrai verificare sulla destra della finestra che si apre la situazione degli altri colleghi della sede GAPP/Reparto nella stessa giornata, al fine di agevolare la decisione.</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/assenti_stesso_giorno.png" /></p>
                    <p>Tutte le richieste approvate saranno consolidate in un documento elettronico che verrà settimanalmente sottoposto al Responsabile di 2° livello per la sua approvazione mediante firma digitale.</p>

                </div>

                <div id="guida2" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Resoconti settimanali</h4>
                    <p>
                        Nel Box "Resoconti settimanli" è possibile visionare in un’unica schermata, per il personale a controllo orario settimanale, le carenze e le maggior presenze registrate relative alle settimane precedenti a quella in corso.
                    </p>
                    <p>
                        <u>A partire dal mercoledì di ogni settimana sarà necessario prendere visione del documento tramite l'opzione "Resoconto visionato, predisponi per la firma" (visibile solo a partire dal Mercoledì)</u>; questo produrrà il documento elettronico che verrà sottoposto al responsabile di 2° livello per la firma.
                    </p>

                    <p> <u>Per la chiusura del mese, la presa visione deve essere effettuata il 2° giorno lavorativo del mese successivo. </u> </p>

                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/predisponi_firma.png" /></p>

                    <p>
                        Una volta che il responsabile di 2° livello avrà firmato digitalmente il documento, al posto dell'opzione "Resoconto visionato, predisponi per la firma" verrà visualizzata l'opzione
                        "PDF FIRMATO IN DATA GG/MM/AAAA", e cliccando su di essa sarà possibile aprire il PDF per visualizzarlo.
                    </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/pdf_firmato.png" /></p>

                </div>


                <div id="guida3" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Cerca tra le richieste</h4>

                    <p>
                        È possibile effettuare ricerche utilizzando vari parametri quali:
                    </p>
                        <ul>
                            <li>
                    <p class="Corpo-paragrafo">nominativo</p>
                    </li>
                    <li>
                        <p class="Corpo-paragrafo"> visualizzate o non visualizzate dalla segreteria</p>
                    </li>

                    <li>
                        <p class="Corpo-paragrafo"> sede GAPP</p>
                    </li>
                    <li>
                        <p class="Corpo-paragrafo"> stato: Approvato, eleminato, rifiutato, cancellato. (Se non selezionato restituisce solo le richieste in approvazione)</p>
                    </li>
                    <li>
                        <p class="Corpo-paragrafo"> eccezione</p>
                    </li>
                    <li>
                        <p class="Corpo-paragrafo"> periodo.</p>
                    </li>
                    </ul>

                    
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/cerca_richieste_stato.png" /></p>
                    <p>La funzione di ricerca "Tutti i livelli" consente ai responsabili di 2° livello di selezionare le richieste effettuate dai propri responsabili di 1° livello senza dover individuare le singole richieste nella sezione “Da Approvare”. </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/cerca_richieste_soloprimi.png" /></p>
                </div>

                <div id="guida4" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Presenze dipendente</h4>
                    <p>Nel box "Presenze dipendente" è possibile visualizzare tutti i dipendenti appartenenti alla sede GAPP/Reparto con l’indicazione della presenza in ufficio (pallino verde/rosso sulla foto), l’insediamento aziendale in cui si trovano al momento ed il numero di richieste effettuate.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/primo-livello/presenze_dipendente.png" /></p>
                    <p>Cliccando sul nominativo di un collega si potrà accedere alla schermata della giornata :</p>

                    <ul>
                        <li>
                            <p class="Corpo-paragrafo">dati riepilogativi del dipendente</p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">giornata (orario previsto, effettivo, etc.)</p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">timbrature</p>
                        </li>
                        <li>
                            <p class="Corpo-paragrafo">segnalazioni presenti</p>
                        </li>
                    </ul>
                    <p class="text-center"><img width="700" src="~/assets/img/help_assets/primo-livello/scheda_dipendente.png" /></p>

                    <p>Cliccando l’icona accanto alla Sede GAPP, è possibile visionare le macroassenze (malattie, ferie, etc.) del personale appartenete alla sede stessa.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/primo-livello/presenze_dipendente2.png" /></p>



                </div>

                <div id="guida5" class="tab-pane">
                    <h4 class="Titoletto-paragrafo">Piano ferie</h4>
                    <p> Il Box "Approva Piano Ferie AAAA" consente di accedere alla schermata di visualizzazione e approvazione dei Piani Ferie.</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/primo-livello/PF-Liv1.png" /></p>
                    <p>Cliccando su "Vedi" si aprirà la schermata:</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/schermata_pianif.png" /></p>

                    <p>Per i responsabili di 1° livello che gestiscono più di una sede gapp, sarà possibile passare da una sede all'altra tramite il menù a tendina accanto alla scritta "Sede Gapp"</p>
                    <p><u>I dipendenti che hanno già inviato il piano ferie e sono in attesa di approvazione presentano i nomi evidenziati in grassetto mentre gli altri sono ancora in fase di compilazione del piano. </u></p>
                    <h6 class="Titoletto-paragrafo">Invio di note sul Piano Ferie al dipendente</h6>
                    <p>E' inoltre possibile inserire una nota sia sull’intero piano ferie del dipendente, cliccando su riquadro accanto al nome,</p>
                    <p class="text-center"><img width="300" src="~/assets/img/help_assets/primo-livello/nome_pianof.png" /></p>
                    <p> si aprirà una finestra che consentirà di inserire la nota e di inviarla</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/nota_pianf.png" /></p>
                    <p>sia sul singolo giorno, cliccando in questo caso sul simbolo F della giornata specifica.</p>
                    <p class="text-center"><img width="150" src="~/assets/img/help_assets/primo-livello/icona_fe.png" /></p>
                    <p>Anche in questo caso si aprirà la finestra che consentirà di inserire la nota. </p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/PF-NOTA-Liv1.png" /></p>
                    <h6 class="Titoletto-paragrafo">Approvazione</h6>
                    <p>E’ possibile approvare il piano ferie, cliccando su “Approva” soltanto quando tutti i dipendenti della sede gapp o del reparto gestito dal primo livello abbiano inviato il piano ferie, altrimenti si riceverà un messaggio di errore. Sarà quindi possibile approvare non appena tutti i nomi saranno evidenziati in grassetto.</p>
                    <p class="text-center"><img width="600" src="~/assets/img/help_assets/primo-livello/pianif_approva.png" /></p>
                    <p> Una volta approvato, sarà possibile visualizzare il PDF cliccando su "Scarica PDF"</p>
                    <p class="text-center"><img width="400" src="~/assets/img/help_assets/primo-livello/scarica_pdf.png" /></p>

                </div>
                



            </div>
        </div>
    </div>

</div>
