@using myRaiCommonModel;
@using myRaiHelper;
@using Newtonsoft.Json;
@using myRaiCommonManager;
@model AbilitazioniPersExt

@{
    var r = Model;
}

<tr>
    <td>
        <div class="col-sm-12" style="margin-top:-20px; margin-left: -20px;">
            @{
                if (!String.IsNullOrEmpty(r.Matricola))
                {
                    @Html.Partial( "~/Views/Deleghe/subpartial/_profiloimage.cshtml" , new myRaiCommonModel.ProfiloImageModel() {
                   Matricola= r.Matricola,
                   Row1 = r.Nominativo,
                   Row2 = "Matricola "+ r.Matricola,
                   display = "inline"
               })
                }
            }
        </div>
    </td>
    <td>
        @{
            var a = r.Abilitazioni.Where(w => w.ID_DELEGA != null && w.ID_DELEGA == r.IdDelega).FirstOrDefault();

            string periodo = "Valido dal " + a.DTA_INIZIO.GetValueOrDefault().ToString("dd/MM/yyyy") + " al " + a.DTA_FINE.GetValueOrDefault().ToString("dd/MM/yyyy");
            string txDescrizione = Model.Descrizione;
        }

        <label style="display:block; margin-bottom:0px !important;">
            @txDescrizione
        </label>
        <span class="rai-font-sm">
            @periodo
        </span>
    </td>
    <td class="text-right">
        <button style="margin-top:1px;" class="rai button-approva btn-action-icon" aria-label="Elimina delega" onclick="Deleghe_EliminaDelega(@r.IdDelega)" title="Elimina delega">
            <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn rai-btn-small" aria-label="Visualizza" onclick="Deleghe_VisualizzaDelega(@(r.IdDelega))" title="Visualizza" style="min-width:80px;">
            Visualizza
        </button>
    </td>
</tr>