@using myRaiCommonModel;
@using myRaiHelper;
@using Newtonsoft.Json;
@using myRaiCommonManager;
@model AbilitazioniPersExt

@{
    var r = Model;
}

@{
    if (Model.Abilitazioni != null && Model.Abilitazioni.Any())
    {
        foreach (var a in Model.Abilitazioni)
        {
            <tr>
                <td>
                    <div class="col-sm-12" style="margin-top:-20px; margin-left: -20px;">
                        @{
                            if (!String.IsNullOrEmpty(r.Matricola))
                            {
                                @Html.Partial( "~/Views/Deleghe/subpartial/_profiloimage.cshtml" , new myRaiCommonModel.ProfiloImageModel() {
                               Matricola= r.Matricola,
                               Row1 = r.Nominativo,
                               Row2 = "Matricola "+ r.Matricola,
                               display = "inline"
                           })
                            }
                        }
                    </div>
                </td>
                <td>
                    @{
                        string periodo = "Valido dal " + a.DTA_INIZIO.GetValueOrDefault().ToString("dd/MM/yyyy") + " al " + a.DTA_FINE.GetValueOrDefault().ToString("dd/MM/yyyy");
                        string txDescrizione = Model.Descrizione;
                    }

                    <label style="display:block; margin-bottom:0px !important;">
                        @txDescrizione
                    </label>
                    <span class="rai-font-sm">
                        @periodo
                    </span>
                </td>
                <td class="text-right">
                    @{
                        if (r.InEsercizio)
                        {
                            <span class="rai-label rai-label-success">Delega attiva</span>
                            <button style="margin-top:1px;" class="rai btn-action-icon" aria-label="Disattiva delega" onclick="Deleghe_AnnullaEsercizioDelega(@r.IdDelega)" title="Disattiva delega">
                                <i class="fa fa-times"></i>
                            </button>
                        }
                        else
                        {
                            <span class="rai-label rai-label-warning">Delega non attiva</span>
                            <button style="margin-top:1px;" class="rai btn-action-icon" aria-label="Esercita delega" onclick="Deleghe_EsercitaDelega(@r.IdDelega)" title="Esercita delega">
                                <i class="fa fa-check"></i>
                            </button>
                        }
                    }
                    <button class="btn rai-btn-small" aria-label="Visualizza" onclick="Deleghe_VisualizzaDelega(@(r.IdDelega))" title="Visualizza" style="min-width:80px;">
                        Visualizza
                    </button>
                </td>
            </tr>
        }
    }
}