@using myRaiCommonManager
@using myRaiCommonModel
@using myRaiHelper

@model List<AbilitazioniPersExt>

<div class="block" style="margin-bottom:0px;">
    <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
        <div class="tab-pane active" role="tabpanel">
            <div class="table-responsive" id="" style="display:none;">
                <table class="rai-table table rai-table-vcenter">
                    <thead>
                        <tr>
                            <th>
                                <div class="col-xs-12">
                                    <label class="rai-font-sm-bold"></label>
                                </div>
                            </th>
                            <th class="text-right">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn rai-btn-small" aria-label="Rifiuta tutti" onclick="" title="Elimina selezionate" style="min-width:80px;">
                                            Elimina selezionate
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-body panel-body-nopadding" id="">
                <div id="">
                    <div class="table-responsive">
                        <table class="rai-table table rai-table-vcenter" id="">
                            <thead>
                                <tr>
                                    @*<th>
                                        <div class="col-sm-12">
                                            <label class="rai-caption" for=""></label>
                                            <div class="rai-checkbox">
                                                <input id="dem-check-all" name="dem-check" type="checkbox">
                                                <label class="rai-caption" for="">&nbsp;</label>
                                            </div>
                                        </div>
                                    </th>*@
                                    <th class="text-left">Dipendente</th>
                                    <th class="text-left">Descrizione</th>
                                    <th class="text-right">Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null || Model.Any() == false)
                                {
                                    <tr>
                                        <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono deleghe da visualizzare</span></td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var r in Model)
                                    {
                                        @Html.Partial("~/Views/Deleghe/subpartial/_contentRow.cshtml", r)
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>