
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;

@model List<CestiniModel>
@{
    ViewBag.Title = "Cestini";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    var oggi = DateTime.Today.ToString( "dd/MM/yyyy" );
}

        <div class="content-body">
            <div class="col-md-8">
                <section class="panel" id="elencoordini">
                    @Html.Partial( "../RaiPlace/Cestini/subpartial/_elencoOrdini" )
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel" id="panelRicercaOrdine">
                    <header class="panel-heading">
                        <div class="row">
                            <h2 class="panel-title">Ricerca Ordine</h2>
                        </div>
                    </header>
                    <div class="panel-body">

                        @using ( Ajax.BeginForm( "CercaOrdini" , "Cestini" ,
                        new { } ,
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace ,
                            HttpMethod = "POST" ,
                            UpdateTargetId = "elencoordini"
                        } ,
                        new {
                            @class = "js-form-search form-group",
                            id = "form-search"
                        } ) )
                        {
                            @Html.AntiForgeryToken( )

                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="rai-caption">Data consegna</label>
                                </div>
                                <div class="col-md-12 col-lg-6 push-10">
                                    <div class="input-group">
                                        <span onclick="$('#datada').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                        <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="datada" name="datada" placeholder="Dal">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 push-10">
                                    <div class="input-group">
                                        <span onclick="$('#dataal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                        <input class="js-datetimepicker form-control" data-format="DD/MM/YYYY" data-locale="it" type="text" id="dataal" name="dataal" placeholder="Al">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rai-btn-fill">
                                        <input type="submit" id="btnCercaOrdine" class="btn rai-btn-primary" title="Cerca" value="Cerca" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>

                @Html.RenderWidget(WidgetType.Normal, "Ordine", "icons icon-bag", "Da qui puoi aggiungere un ordine", action:
                new ActionTemplate() { OnClick = "ShowGestisciCestino", Text = "Aggiungi ordine" })

            </div>
        </div>

<div class="modal right fade" id="modal-cestino" role="dialog" aria-hidden="true" style="display: none;"></div>
<div class="modal fade" id="modal-ricercaSpettacolo" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <h4><span class="fa fa-search"></span> Ricerca produzione</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Ricerca produzione</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="term" placeholder="Ricerca produzione per titolo">
                    </div>
                    <a href="#" onclick="javascript: getProduzioneByTitolo();" class="btn btn-primary">avvia ricerca</a>
                </div>
                <div class="clearfix"></div>
                <div id="RisultatiRicercaContainer" style="min-height:150px; max-height:300px; overflow-y:auto;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>