@model myRaiCommonModel.cvModels.cvModel


@{
<div class="modal right fade" id="modal-privacy" role="dialog" aria-hidden="false">

    @{
        string dismiss = "";
        if (Model.privacy.privacyAccepted)
        {
            dismiss = "modal";
        }
    }

    <div class="modal-backdrop fade in"  data-dismiss="@dismiss"></div>
    <div class="modal-dialog modal-dialog-popin">


        <div class="modal-content height100">

            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary" style="height: 58px;">

                    <h4 class="lead" style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">Informativa sulla Privacy
                    </h4>
                    
@{
    if (Model.privacy.privacyAccepted)
    {
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    }                    
}

                </div>

             


                <div class="row no-margin-left-right">
                    @Html.Partial("~/Views/CV_Online/Privacy/partials/infoPrivacy.cshtml", Model.privacy)
                </div>

                

                    <br />
                    <br />
                <div class="row border-top">
                    <br />
                    <br />
                    
                    <div class="text-center">

                        @{
                if (!Model.privacy.privacyAccepted)
                {
                        <button id="accept_privacy" class="btn btn-lg btn-primary" type="submit" onclick=";">Ho preso visione</button>
                }
                else
                {
                        <p>
                            Informativa sulla privacy visionata il 
                        </p>
                        <br />
                        <span id="privacy_accepted" class="btn-lg well">
                            @Model.privacy.privacyAcceptedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        </span>
                 }
                        }
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>


            </div>

        </div>

    </div>

</div>
<style>
    #modal-privacy .tabs-left .nav-tabs > li a, #modal-privacy .tabs-left .nav-tabs > li a:hover {
        border-bottom: 1px solid #eee !important;
        border-top: 1px solid #eee !important;
    }

    #modal-privacy .nav-tabs {
        border-bottom: 1px solid #eee !important;
        border-right: 1px solid #eee !important;
    }

    #modal-privacy .tabs-left .nav-tabs > li {
        margin-right: -2px;
    }

    #modal-privacy .tabs-left .tab-content {
        border-radius: 0;
    }

    #modal-privacy .block.block-transparent {
        overflow: hidden;
    }

    #modal-privacy .tab-content {
        padding: 40px;
    }
</style>
<script>

    document.addEventListener("DOMContentLoaded", function (event) {


        $(function () {
            $('#accept_privacy').on('click', function () {
                $.ajax({
                    url: "@Html.Raw(Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/cv_online/UpdatePrivacy")",
                    dataType: 'json',
                    success: function (response) {
                        $('#modal-privacy').modal('hide');
                        startCvIndexTour();
                    },
                    failure: function (response) {
                       // alert(response.responseText);
                       // $('#modal-privacy').modal('hide');
                    },
                    error: function (response) {
                    //    alert(response.responseText);
                    //    $('#modal-privacy').modal('hide');
                    }
                });
            });
        });
    });

</script>
}