@using myRaiHelper;

@using (Html.BeginPanel(PanelType.Panel, "Alert", false))
{
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-info">
                <b>Giustificazione per test sierologico COVID-19</b><br />
                <span>Per giustificare l'eventuale carenza relativa al tempo impiegato per effettuare il test sierologico COVID-19 è possibile selezionare l'eccezione PHV.</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-warning">
                <b>Manutenzione programmata</b><br />
                <span>Il giorno 12 dicembre 2020 la piattaforma sarà in manutenzione programmata dalle 20:00 alle 22:00. Non sarà possibile effettuare alcune operazioni.</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <b>Errore di connessione</b><br />
                <span>Si è verificato un errore di connessione al server</span>
            </div>
        </div>
    </div>
    <div class="row push-20">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <b>Messaggio di successo</b><br />
                <span>L'operazione è avvenuta con successo</span>
            </div>
        </div>
    </div>

    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-info alert-with-icon">
                <b>Giustificazione per test sierologico COVID-19</b><br />
                <span>Per giustificare l'eventuale carenza relativa al tempo impiegato per effettuare il test sierologico COVID-19 è possibile selezionare l'eccezione PHV.</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-with-icon">
                <b>Manutenzione programmata</b><br />
                <span>Il giorno 12 dicembre 2020 la piattaforma sarà in manutenzione programmata dalle 20:00 alle 22:00. Non sarà possibile effettuare alcune operazioni.</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-with-icon">
                <b>Errore di connessione</b><br />
                <span>Si è verificato un errore di connessione al server</span>
            </div>
        </div>
    </div>
    <div class="row push-20">
        <div class="col-sm-12">
            <div class="alert alert-success alert-with-icon">
                <b>Messaggio di successo</b><br />
                <span>L'operazione è avvenuta con successo</span>
            </div>
        </div>
    </div>

    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-info alert-with-icon">
                <b>Giustificazione per test sierologico COVID-19</b><br />
                <span>Per giustificare l'eventuale carenza relativa al tempo impiegato per effettuare il test sierologico COVID-19 è possibile selezionare l'eccezione PHV.</span>
                <hr />
                <b>Giustificazione per test sierologico COVID-19</b><br />
                <span>Per giustificare l'eventuale carenza relativa al tempo impiegato per effettuare il test sierologico COVID-19 è possibile selezionare l'eccezione PHV.</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-with-icon">
                <b>Manutenzione programmata</b><br />
                <span>Il giorno 12 dicembre 2020 la piattaforma sarà in manutenzione programmata dalle 20:00 alle 22:00. Non sarà possibile effettuare alcune operazioni.</span>
                <hr />
                <b>Manutenzione programmata</b><br />
                <span>Il giorno 12 dicembre 2020 la piattaforma sarà in manutenzione programmata dalle 20:00 alle 22:00. Non sarà possibile effettuare alcune operazioni.</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-with-icon">
                <b>Errore di connessione</b><br />
                <span>Si è verificato un errore di connessione al server</span>
                <hr />
                <b>Errore di connessione</b><br />
                <span>Si è verificato un errore di connessione al server</span>
            </div>
        </div>
    </div>
    <div class="row push-10">
        <div class="col-sm-12">
            <div class="alert alert-success alert-with-icon">
                <b>Messaggio di successo</b><br />
                <span>L'operazione è avvenuta con successo</span>
                <hr />
                <b>Messaggio di successo</b><br />
                <span>L'operazione è avvenuta con successo</span>
            </div>
        </div>
    </div>
}