@using (Html.BeginPanel(myRaiHelper.PanelType.PanelNoPadding, "Button", true))
{
    <table class="table rai-table rai-table-vcenter">
        <tbody>
            <tr>
                <td>
                    <div class="rai-btn-fill">
                        <button class="btn btn-primary">Azione!</button>
                        <button class="btn btn-primary disable">Azione!</button>
                        <button class="btn btn-primary"><i class="fa fa-check"></i> Azione!</button>
                        <button class="btn btn-primary disable"><i class="fa fa-check"></i> Azione!</button>
                    </div>
                </td>
                <td>btn btn-primary<br />btn rai-btn-primary</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="rai-btn-fill">
                        <button class="btn rai-btn-secondary">Azione!</button>
                        <button class="btn rai-btn-secondary disable">Azione!</button>
                        <button class="btn rai-btn-secondary"><i class="fa fa-check"></i> Azione!</button>
                        <button class="btn rai-btn-secondary disable"><i class="fa fa-check"></i> Azione!</button>
                    </div>
                </td>
                <td>btn rai-btn-secondary</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="rai-btn-fill">
                        <button class="btn rai-btn-small">Azione!</button>
                        <button class="btn rai-btn-small disable">Azione!</button>
                    </div>
                </td>
                <td>btn rai-btn-small</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="rai-btn-fill">
                        <button class="btn btn-md btn-action-icon text-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                            Rifiuta
                        </button>
                        <button class="btn btn-md btn-action-icon text-success">
                            <i class="fa fa-fw fa-check"></i>
                            Approva
                        </button>
                    </div>
                </td>
                <td>btn btn-action-icon</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="btn-action-icon-container">
                        <button class="btn btn-action-icon"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-action-icon disable"><i class="fa fa-plus"></i></button>
                    </div>
                </td>
                <td>btn btn-action-icon</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="btn-action-icon-switch">
                        <button class="btn-action-icon active"><i class="fa fa-user"></i></button>
                        <button class="btn-action-icon"><i class="fa fa-users"></i></button>
                        <button class="btn-action-icon"><i class="fa fa-thumbs-up"></i></button>
                    </div>
                </td>
                <td>
                    div.btn-action-icon-switch<br />
                    btn-action-icon
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}