<div class="block" style="margin-bottom:0px;">
    <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
        <li class="active" role="presentation">
            <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1">
                Selezionato
                <div class="rai-badge-tab">
                    <span>10</span>
                </div>
            </a>
        </li>

        <li class="" role="presentation">
            <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2">
                Selezionabile
                <div class="rai-badge-tab">
                    <span>15</span>
                </div>
            </a>
        </li>

        <li class="disable" role="presentation" >
            <a href="#tab3" class="rai-badge-anchor" id="hrefTab3" tabindex="0" role="tab" aria-selected="false" aria-controls="tab3" >
                Disabilitato
                <div class="rai-badge-tab">
                    <span>0</span>
                </div>
            </a>
        </li>
    </ul>

    <div class="block-content tab-content" style="padding:5px 5px 1px;">
        <div class="tab-pane active" id="tab1" role="tabpanel">
            @Html.Partial("subpartial/Font", "Testo di prova per i tab")
        </div>
        <div class="tab-pane" id="tab2" role="tabpanel">
            @Html.Partial("subpartial/FormControl", new myRaiHelper.RaiSelectControl())
        </div>
        <div class="tab-pane" id="tab3" role="tabpanel">
            @Html.Partial("subpartial/Informazioni")
        </div>
    </div>
</div>