@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model NewsEditorModel

@{
    Layout = "~/Views/Shared/_layout2.cshtml";
    string[] mess = CommonHelper.GetParametri<string>( EnumParametriSistema.MessaggioChiusura );
}

<section class="body">
    @Html.Partial( "../Shared/header2" , new myRaiCommonModel.NotifichePopupModel( CommonHelper.GetCurrentUserMatricola( ) ) )
    <div class="inner-wrapper">
        @Html.Partial( "../Shared/sidebar3" , myRaiHelper.UtenteHelper.getSidebarModel(  ) )
        <section role="main" class="content-body">

            <main id="main-container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.Partial( "news" , Model )

                        </div>
                        <div class="col-sm-4">
                            <section class="panel">
                                <header class="panel-heading">

                                    <h2 class="panel-title">Aggiungi news</h2>


                                </header>
                                <div class="panel-body">
                                    <div class="widget">
                                        <div class="widget-body">


                                            <div class="widget-summary push-10">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                                    <div class="summary-icon">
                                                        <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h3 class="title" style="word-break:break-word;">Da qui puoi aggiungere una nuova info</h3>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="summary-footer">



                                                <a href="JavaScript:AddNews()"
                                                   class="btn rai-btn-small  full-width">Inserisci una info</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </section>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px;">
            </div>
        </div>
        <div class="nano-pane" style="opacity: 1; visibility: visible;">
            <div class="nano-slider" style="height: 583px; transform: translate(0px, 0px);"></div>
        </div>
    </aside>
</section>


<div class="modal right fade rai" id="modal-news-editor" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-popin" style="width: 75%">


        <div class="rai modal-content">

            <div class="block block-transparent remove-margin-b">
                <div class="block-header">
                    <label id="tit-modal-boss" class="rai-font-modal-heading">News editor</label>
                    <div class="block-options">
                        <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
                <div class="block-content">
                    <div id="content-news" class="row">
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script>
        var toolBar=@Html.Raw(CommonHelper.GetParametro <string>(EnumParametriSistema.ToolbarSummernote));
</script>

