<section class="rai panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-xs-9 col-sm-7 no-padding-left">
                <h2 id="lblResSett" class="panel-title">Richieste</h2>
            </div>
            <div class="col-xs-3 col-sm-5 text-right">
                <div class="rai-panel-actions">
                    <div class="hidden-xs btn-action-icon-switch" style="margin-right:10px">
                      
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-actions ">
            <a href="#" aria-expanded="true" aria-labelledby="lblResSett" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        </div>
    </header>
    <div class="panel-body  bg-base" style="padding:3px;" id="matcong-container-approvazioni">

        <div class="row" style="margin-top: 30px;">
            <div class="block block-opt-refresh" id="my-block-matcong" style="">
            </div>
        </div>
       
    </div>
</section>