@using myRaiHelper;
@using myRaiCommonModel.DocFirmaModels;
@using MVCProject.Custom_Helpers;

@model PDFmodel

<div class="row" style="margin-top: 30px;margin: 10px;background-color: #fafafa;padding-top: 8px;padding-bottom: 8px;">
    <div class="col-sm-4" id="int1" style="background-color: #fafafa;"></div>
    <div class="col-sm-4" id="int2" style="    text-align: center;"></div>
    <div class="col-sm-4" id="int3" style="    text-align: right;"></div>
</div>
<div class="row" style="    margin-top: 20px;">
    <div class="col-sm-2">
        <button class="btn btn-default btn-scriv text-uppercase bg-puls_dash "
                style="margin-top: -25px; width: 100px;"
                type="button" id="pdfprev" onclick="PdfPrev()">
            &lt; PRECEDENTE
        </button>
    </div>
    <div class="col-sm-8">
        <button class="btn btn-scriv text-uppercase text-white bg-firma "
                style="margin-top: -25px;width: 100%;display:none"
                type="button" id="pdfcarrello" onclick="AggiungiCarrello()">
            METTI IN FIRMA IL DOCUMENTO
        </button>
        <button class="btn btn-scriv text-white text-uppercase"
                style="margin-top: -25px;width: 100%;background-color:red;display:none"
                type="button" id="pdfremove" onclick="CancellaDaCarrello()">
            RIMUOVI IL DOCUMENTO
        </button>
    </div>
    <div class="col-sm-2" style="text-align:right">
        <button class="btn btn-default btn-scriv text-uppercase bg-puls_dash "
                style="margin-top: -25px;margin-left: 10px;width: 100px;" type="button" id="pdfnext"
                onclick="PdfNext()">
            SUCCESSIVO&gt;
        </button>
    </div>
</div>

<div class="row pdfbar" id="pdfok" style="display:none">
    <i style="color:#93e8a6;font-size: 130%;" class="icons icon-exclamation"></i>
    Questo pdf rispetta la consecutività delle convalide, inserire nel carrello per <b>validare anche i successivi</b>
</div>
<div class="row pdfbar" id="pdfnok" style="display:none">
    <i style="color: #fd1b39;font-size: 130%;" class="fa fa-exclamation-triangle"></i>
    Il pdf non rispetta la consecutività delle convalide, inserire nel carrello uno o più periodi antecedenti a quello selezionato
</div>
<div class="bg-primary-dark" style="padding: 8px">
    <input type="hidden" id="idpdfcurrent" value="@Model.idPdf" />
    <iframe id="myframe" style="width:100%;height:750px" onload="loadIframe()" src="/FIRMA/getpdfbinary?idpdf=@Model.idPdf" />
    <div class="row" style="margin-top:16px">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-sm-4">
            <button class="btn btn-scriv text-uppercase bg-primary btn-lg " @(Model.PdfCountInCarrello == "" ? "disabled='disabled'" : "")
                    style="margin-top: -25px;margin-left: 10px;width: 100%;"
                    type="button" id="pdf-firma" onclick="FirmaDoc()">
                FIRMA <span id="pdfcount">@Model.PdfCountInCarrello</span> DOCUMENTI
            </button>
        </div>
        <div class="col-sm-4">&nbsp;</div>
    </div>
</div>