@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model DocDipendenteModel

<section class="panel" id="panel-docdipendente">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            <a href="#" class="panel-action panel-action-refresh" id="button-refresh-doc" type="button" data-toggle="block-option" data-action="refresh_toggle"
               data-refreshurlllll="/notifiche/refreshMieNotifiche" data-parentdiv="panel-docdipendente"
               data-refreshelements="docdipendente"
               data-action-mode="demo">
            </a>
        </div>
        <h2 class="panel-title">I miei documenti</h2>
    </header>
    <div id="dicdipendente" class="block panel-body no-padding block-opt-refresh">
        <ul class="nav nav-tabs nav-tabs-alt  nav-justified" "=" " data-toggle="tabs">
            <li class="tabbianco active">
                <a href="#btabswo-static-home">ASSOCIATI</a>
            </li>
            <li class="tabbianco">
                <a href="#btab4">NON ASSOCIATI</a>
            </li>
        </ul>
        <div class="block-content tab-content">
            <br /><br /><br /><br />
        </div>
    </div>
</section>