@using myRaiHelper
@model  myRaiGestionale.Controllers.TeaserModel

@{
    Layout = "~/Views/Shared/_layoutNoSidebar.cshtml";
    ViewBag.Title = "HRIS - Formazione";
}


<section role="main">
    <main id="main-container">
        <input type="hidden" id="flagLoaded"/>
        <div style="visibility:collapse;height:1px;">
            <iframe id="iliasLogger" src="about:_blank" onloadeddata="LoadVideo()"></iframe>
        </div>
        <div class="content">
            <div class="row push-20-t">
                <div class="col-md-12 text-center">
                    <video controls="controls" style="width:80%;" id="ilias-video">
                    </video>
                </div>
            </div>
        </div>
    </main>

    <!-- end: page -->
</section>



<script>

</script>


@section afterjs {
    <script>
        setInterval(refreshIframe, 120000);
        function refreshIframe() {
            console.log('Refresh Ilias...');
            var frame = document.getElementById("iliasLogger");
            if (frame != null) {
                frame.src = frame.src;
            }
        }
        $('iframe').on('load', function () {
            LoadVideo();
        });
        $('#iliasLogger').attr('src', 'http://iliasprod.intranet.rai.it');
        function LoadVideo() {
            console.log('Load video...');
            if ($('#flagLoaded').val() != "TRUE" && $('#iliasLogger').attr('src') != 'about:_blank') {
                document.getElementById('ilias-video').src ="@(Model.Url)";
                $('#flagLoaded').val('TRUE');
            }
        }
        
    </script>


    @Html.Raw(TempData["script"])
}