html, body {
    background-color: #ffffff;
}

body {
    color: #777;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 22px;
    margin: 0;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
}

h4, .h4 {
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #475358;
}

.object-complete {
    color: #63c43e;
}

.cors {
    padding: 12px;
    background-color: #dedede;
    font-weight:bold;
    color:#888;
}

.cors.panel-featured-primary {
    background-color: white;/*transparent;*/
    border-bottom-width: 2px;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
}

.cors:hover { 
    color:#888;
}

.btn-group-academy {
    margin-top: 40px;
}

.academy-title {
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #555;
    line-height: 1.50;
    letter-spacing: normal;
    text-align: center;
    color: #475358;
}

.academy-title-2 {
    vertical-align:middle;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #475358;
}

.academy-descrizione {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

.academy-preview-bookmark {
    position:absolute;
    z-index:999; 
    margin-left:87%;
    margin-top:10px;
}
@media only screen and (max-width: 768px) {
  .academy-preview-bookmark {
    position:absolute;
    z-index:999; 
    margin-left:80%;
    margin-top:10px;
}
}

.academy-preview-percentuale {
    position:absolute; 
    z-index:1040; 
    width:100%;
}

.academy-preview {
    width: 100%; 
    height: 360px; 
    border: 1px solid #808080;
}

.academy-preview-opacity {
    width: 100%; 
    height: 100%; 
    opacity: 0.7; 
    filter: alpha(opacity=70);
    background-color: grey;
}

.academy-completato {
    margin-top: 38%; 
    margin-left: 30%;
}

.academy-row-noborder {
    margin-left:-15px;
    margin-right:-15px;
}

.academy-corso-info-margin {
    margin-left:-8px;
    margin-right:-8px;
}

.academy-corso-info {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.71;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

.academy-header-img-corso {
    border-radius: 4px;
    height:100px;
    margin-bottom: 5px;
    border: 1px solid #dedede;   
}


.academy-calendario-container {
    font-weight: 600; 
    font-style: normal; 
    font-stretch: normal; 
    letter-spacing: normal; 
    text-align: center;
    padding-left: 5px;

    margin-top:-20px;
}

.academy-giorno {
    font-size: 18px;
    border-radius: 2px;
    background-color: #f7f7f7;
    height: 40px;
    vertical-align: middle;
    padding-top: 8px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #7c8589;
}

.academy-mese {
    margin-top:3px;
    border-radius: 2px;
    height: 25px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.academy-label {
    /*margin-top: 54px;*/ /*@#*/
    margin-top:-20px;
    margin-left:1px;
    width:60%;
    border-radius: 2px;
    height: 21px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left:5px;
}

.academy-titoli-thumbnail {
    text-align:left; 
    font-style: normal; 
    font-stretch: normal; 
    letter-spacing: normal;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -10px;
}

.academy-tematica-thumbnail {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.18;
    letter-spacing: normal;
    text-align: left;
    text-transform:uppercase;
}
.academy-titolo-thumbnail > a {
    color:#777 !important;
}
.academy-titolo-thumbnail {
    font-size: 15px; 
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5fc645;
    min-height:2.66em;
    
}

.academy-ellipsis {
  /*display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;*/

      white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.academy-ellipsis-2row {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

    /*white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.bg-da-definire {
background:#d4761c;

}
.academy-bookmark-corso {
    font-size: 15px; 
    margin-left: 90%;
    color:grey;
    
}
.academy-bookmark-corso-text {
    color:grey;
}

.academy-titolo-thumbnail > a {
  text-decoration: none;
}

.academy-sede-thumbnail {
    font-size: 11px;
}

.academy-tipologia-thumbnail {
    font-size: 11px;
}

.academy-stato-thumbnail {
    font-size: 11px;
}

.academy-tabs {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #c7c7c7;
}

.academy-tabs-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.academy-consigliati {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: left;
    color: #475358;
}

.academy-per-interessi {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: left;
    color: #475358;
}

/* OVERRIDE */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
}

@media (min-width: 768px) {
.academy-titoli-thumbnail {
    text-align: left;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -10px;
}
}
.academy-tab-body {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

.academy-tab-body-bold {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #777777;
}

.table-row-primary {
    background: none;
    border-width: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.academy-completato {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a4f290;
}

.academy-progressbar-xl {
    margin-top:-18px;
}
.academy-progressbar-xs {
    margin-top:-10px;
}

.academy-full-row {
    margin-left:  -40px;
    margin-right: -40px;
    padding-left:  30px;
    padding-right: 30px;
}

.academy-full-row-header {
    margin-top: -40px;
    padding-top: 40px;
    padding-bottom:40px;
    background-color:#f3f3f3;
}

.academy-full-row-riconoscimenti {
    background-color:#f3f3f3;
}

.academy-header-content {
    height:110px;
    margin-top:15px;
    margin-bottom:15px;
}
.academy-header-subcontent {
    height:90px;
}
.academy-header-paragraph {
    font-size:20px;
    line-height: 1.5;
}

.academy-nomeProfilo {
    font-size:36px;
    font-weight:bold;
    color:#475358;
}
.academy-subtitle {
    font-size:18px;
    font-weight:bold;
    color:#475358;
}

.academy-show-all {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: right;
    color: #475358;
    margin-top:30px;
    margin-right:10px;
}

.academy-show-all > a {
    text-decoration:none;
    color: #475358;
}

.stato-da-approv {
    color: #ddd;
}
pie.stato-da-approv {
    background-color:#ddd;
    border-color:#ddd;
}
.stato-da-approv  h4 {
    color:#ddd;
}

.cal-other-month {
    color: #ddd;
}

.academy-white-tooltip + .tooltip > .tooltip-inner {
  opacity: 1;
  width:150px;
  box-shadow: 3px 3px 10px grey;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #475358;
  background-color: white;
}

.tooltip > .tooltip-inner {
  opacity: 1 !important;
  width:150px;
  box-shadow: 3px 3px 10px grey;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #475358;
  background-color: white;
}

.tooltip > .tooltip-arrow {
    border-top-color: white !important;
}

.istituzionale h2 {
    color:white;
}

.istituzionale .academy-titolo-thumbnail a {
    color:white !important;
}

.istituzionale  .academy-tipologia-thumbnail {
    color:white !important;
}

.istituzionale  .academy-tematica-thumbnail {
    color:white !important;
    font-weight:normal;
}

.istituzionale  .academy-tipologia-thumbnail {
    color:white;
}

.istituzionale .academy-show-all {
    color:white;
}

.istituzionale .academy-show-all a {
    color:white;
}

.academy-no-margin {
    margin:0px;
}
.academy-not-authorized {
    opacity:0.1;
}
.academy-overlay-auth {
    text-align:center;
    z-index:1;
    position:absolute;
    top:25%;
    width:100%;
}

[data-bookmark-corso]:hover {
    cursor:pointer;
}


.academy-riconoscimento {
    color:#475358;
    font-weight:bold;
}

.academy-page-item {
    cursor:pointer;
}

.academy-detail-icon {
    font-size:16px;
}

.academy-text-info {
    font-size:14px;
}

.academy-count-courses {
    text-align:center;
    font-size:16px;
    color:#475358;
    font-style:italic;
}

.academy-preview-caption {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-style:italic;
}

.academy-menu-princ {
    font-size:11px;
    font-weight:600;
}
.academy-menu-sec {
    font-size:12px;
    word-break:break-word;
    white-space:normal;
}
.academy-menu-item {
    padding: 8px 15px !important;
}
.academy-menu-item::after {
    padding:10px 15px !important;
}
.academy-menu-item-sec {
    padding-left:50px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;

    line-height:11px;
}
.academy-menu-item-icon {
    margin-right:0.5em !important;
    font-size:18px;
}
.academy-menu-hr {
    background-color: #2e3b42; 
    background-image:none; 
    margin-left:15px; 
    margin-right: 15px; 
    margin-top: 15px; 
    margin-bottom: 8px;
}

.btn-group-visible-xs {
    display:none !important; 
}

.btn-academy-resource {
    margin:5px;
}

@media only screen and (max-width: 767px) {
    .academy-panel-action {
        float: left;
        position:absolute;
    }
   
    .btn-group-visible-xs {
        display:table-cell !important;
    }

        .btn-group-visible-xs > .btn {
            border-radius: 3px !important;
        }

        .btn-group-visible-xs > .dropdown-menu {
            background-color: white !important;
        }

    .academy-corso-info-margin {
        margin-left:0;
        margin-right:0px;
    }
}

.academy-img {
    background-repeat: no-repeat;
    background-position:center;
    background-size:100% auto;
}

.btn-group-academy > .btn:nth-last-child(-n+2){
    border-top-right-radius:3px !important;
    border-bottom-right-radius:3px !important;
}

    h4.raiplace {
        font-family: Open Sans;
        font-weight: 300;
        font-size: 25px;
        line-height: 44px;
        letter-spacing: -0.5px;
        color: #475358;
    }

.tematiche a.btn-light {
    color: #777777 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
    margin: 8px 8px 0 0;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px none;
    border-radius: 4px;

        padding: 12px 18px;
    font-size: 13px;
    letter-spacing: .04em;
    white-space: normal;
    background: #5fc645;
}

.category {
    padding-top:30px;
}
.tematicaLink {
    margin-top: 20px;
    text-align: right;
    margin-right: 16px;
    color: #777777;
}
.tematicaLink-vediTutti {
        width: 84px;
    height: 24px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #7c8589;
    font-family: Open Sans !important;
}
.academy-raiplace-header {
    border-radius: 4px;
    height:123.32px;
    margin-bottom: 5px;
    border: 1px solid #dedede;   
}

h2.catalogo {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.4px;
    margin: 0 0 32px 0;
    color: #475358;
}
p.catalogo {
    color: #777777;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
}
.raiplace-content {
    background-color:#f3f3f3 !important;
}

.raiplace-box-formazione {
    background-image: linear-gradient(120deg, #066e8c 10%, #3fa380 104%) !important;
    min-height:400px;
    color:white;
}
.raiplace-box-header {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.3px;
}

.raiplace-box-cv {
    background-image: linear-gradient(120deg, #388e7c 10%, #64c66d 104%) !important;
    min-height:400px;
    color:white;
}

.raiplace-circle {
    width:125px;
    height:125px;
    border-radius: 100px;
    background: #63c43e;
    text-align: center;   
    padding:25px; 
}
.raiplaceCircleLink {
    display:inline-block;
    position:relative;
    width:52px;
    height:52px;
    border: 8px solid #f3f3f3;
    border-radius:50%;
    background-color:#5fc645;
    top:-26px;
}
    .raiplaceCircleLink:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        content: "+";
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin-top: -1px;
    }

.raiplace-cv-span {
    width:125px;
    font-weight:200;
    text-align:center;
}

.CorsoFattoFine {
    font-family:'Open Sans';
    font-size:14px;
    font-weight:700;
    color:#63c43e;
}
.CorsoFattoTitolo {
    font-family:'Open Sans';
    font-size:18px;
    font-weight:400;
    color:#ffffff;
}
.CorsiFattiNumero {
    text-align:center;
    font-family:'Open Sans';
    font-size:44px;
    font-weight:700;
    color:#ffffff;
}
.CorsiFattiConclusi {
    text-align:center;
    font-family:'Open Sans';
    font-size:18px;
    font-weight:400;
    color:#ffffff;
}

.academy-perc-container {
    /*height: 26px;*/
    margin-top: 338px;
}

.academy-perc-container-list {
    margin-top: 60px;
}

.academy-perc {
    text-align: right;
    height: 15px;
    background-color: orange;
    padding-right: 3px;
    border-radius: 0px 0px 0px 3px;
    line-height: 15px;
}

.academy-perc-detail {
    text-align: right;
    height: 20px;
    background-color: orange;
    padding-right: 3px;
    border-radius: 0px 0px 0px 0px !important;
}

.academy-perc-0{
    display:none !important;
}
.academy-perc-1{
    width:10% !important;
}

.academy-perc-100 {
    background-color: #47a447;
    color: white;
    border-radius: 0px 0px 3px 3px;
}

.academy-perc-100 > span{
    display:block !important;
    font-weight:600;
    
}


