@using myRaiHelper;
@model myRaiCommonModel.ProfiloPersonaleModel

<script src="~/assets/js/plugins/jquery-validation/additional-methods.min.js"></script>

@using (Html.BeginForm("ConvalidaModificheDomicilioCodice", "ProfiloPersonale", FormMethod.Post, new { @id = "form-convalida-domicilio-codice" }))
{
    <div class="modal-body">

        <div class="form-group rai">


            <div class="row push-20-t push-10">
                <div class="col-lg-2 visible-lg"></div>
                <div class="col-xs-12 col-lg-8 text-center">
                    <label class="rai-font-text-heading">Inserisci il codice di convalida</label>
                </div>
                <div class="col-lg-2 visible-lg"></div>
            </div>




            <div class="row push-20">
                <div class="col-lg-2 visible-lg"></div>
                <div class="col-xs-12 col-lg-8 ">
                    @*@Html.LabelForRequiredObbl(m => m.codice.ID_CODICE_OTP, "Codice di Verifica", new { @class = "rai-caption" })*@
                    @*@Html.TextBoxFor(m => m.codice.ID_CODICE_OTP, new
                        {
                            @class = "rai form-control"

                        })*@
                    <input class="rai form-control valid"
                           data-val="true" data-val-number="Il codice deve essere numerico."
                           data-val-required="Campo obbligatorio."
                           id="codice_ID_CODICE_OTP" name="codice.ID_CODICE_OTP"
                           type="text" value="" aria-required="true" aria-describedby="codice_ID_CODICE_OTP-error" autocomplete="off" aria-invalid="false">

                    @Html.ValidationMessageFor(m => m.codice.ID_CODICE_OTP)
                </div>
                <div class="col-lg-2 visible-lg"></div>
            </div>



        </div>

    </div>




    <footer class="modal-footer">
        <div class="row">
            <div class="col-md-12 text-center">
                <input class="btn rai-btn-secondary modal-dismiss" type="button" value="Chiudi" data-dismiss="modal" onclick="PopupConvalidaIbanClose()" />
                <input id="convalida-domicilio-codice" type="submit" onclick="ConvalidaDomicilioCodiceYes()" class="btn rai-btn-primary btn rai-btn-height-as-secondary modal-confirm" value="Convalida" />
            </div>
        </div>
    </footer>

}

<script>
    InitDatePicker();
    $.validator.unobtrusive.parse(document);

</script>