
@model myRaiCommonModel.ProfiloPersonaleModel


@{
    ViewBag.Title = "Profilo personale";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<style>
    @@media screen and (max-width:768px) {
        .padding-left-xs-25 {
            padding-left: 25px;
        }
    }

    .swal2-spacer {
        background-image: none;
        margin-bottom: 0px;
    }

    label.requiredobbl:after {
        color: #E50012;
    }
</style>



<section role="main" class="content-body">


    <!-- start: page -->
    <!-- Main Container -->

    <main id="main-container">

        <div class="content">

            <div class="row">
                <div class="col-sm-8 col-xl-9">
                    @Html.Partial("partials/_impostazioniedati")

                    @*@if (myRai.Models.Utente.IsAbilitatoGapp())
                        {
                            @Html.Partial("partials/_impostazioniL1")
                        }*@
                </div>
                <div class="col-sm-4 col-xl-3" id="bstot">
                    @Html.Partial("partials/_profilo")
                </div>
            </div>
        </div>
    </main>
    @section afterjs
           {
        <script>
                   @Html.Raw(Model.JSlines)
        </script>

    }
    <!-- end: page -->
</section>



@*<div class="modal fade right" id="modal-profilopersonale" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin modal-lg">

            <div class="modal-content" id="content-profilopersonale">

            </div>

        </div>

    </div>*@


<div class="modal right fade rai" id="modal-profilopersonale" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-popin modal-45perc-dialog">


        <div class="modal-content rai" id="content-profilopersonale">



        </div>

    </div>

</div>


<div class="modal fade rai" id="modal-convalida-iban" data-backdrop="static" data-keyboard="false" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content col-xs-12 col-md-8" id="convalida-iban-content">

        </div>
    </div>
</div>

<script>
    function PopupConvalidaIbanClose() {
        $("#modal-convalida-iban").modal("hide");

    }
</script>