@using myRaiCommonModel.Gestionale
@using myRaiHelper
@model myRaiCommonModel.Gestionale.DelegaModel

<div class="rai block block-content-table block-transparent " id="block-val-delegabili">
    <div class="block-header block-content-mini">
        <label class="rai-font-table-heading">Elenco valutazioni in delega</label>
    </div>

    <div class="block-content block-content-mini">
    @if (Model.ValutazioniDelegabili != null && Model.ValutazioniDelegabili.Count() > 0)
    {
        <div class="row push-10">
            <div class="col-sm-12">
                <input class="form-control" type="text" data-search="persona-delega" onkeyup="RaiSearchData(this, 'persona-delega', 'name')" placeholder="Inserisci il nominativo da ricercare" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="rai-checkbox-container">
                    <div class="rai-checkbox">
                        <input id="checkSelectAllPeople" type="checkbox" data-check-group-all="persona-delega" onclick="RaiToggleCheckBoxAll('persona-delega')" />
                        <label class="rai-caption" for="checkSelectAllPeople">Seleziona tutti</label>
                    </div>
                    <div class="rai-checkbox-container">
                        @foreach (var item in Model.ValutazioniDelegabili.OrderBy(x => x.SINTESI1.Nominativo()))
                        {
                            <div class="col-xl-6 no-padding" data-search="persona-delega" data-search-name="@item.SINTESI1.Nominativo().ToLower()">
                                <div class="rai-checkbox">
                                    <input id="filter@(item.ID_PERSONA)" type="checkbox" data-check-group="persona-delega" value="@(item.ID_PERSONA)" onclick="RaiUpdateCheckBoxAll('persona-delega')" @(Model.ValutazioniDelegate.Contains(item.ID_PERSONA) ? "checked" : "") />
                                    <label class="rai-caption" for="filter@(item.ID_PERSONA)">@item.SINTESI1.Nominativo()</label>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <script>
                    RaiUpdateCheckBoxAll('persona-delega');
                </script>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <label class="rai-font-md-neutral">Non ci sono dati da visualizzare</label>
            </div>
        </div>
    }
    </div>
</div>

