@{
    Layout = null;
}

<style>
    th {
        line-height: 21px !important;
    }
</style>
<div class="block" style="margin-bottom:0px;">
    <ul class="nav nav-tabs nav-tabs-alt nav-justified" id="ulTabRicerca" data-toggle="tabs" role="tablist">
        @*<li class="active" role="presentation">
                <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1" onclick="LoadTabTutte()">
                    TUTTE
                </a>
            </li>*@
        <li class="active" role="presentation">
            <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1" onclick="LoadTabInLavorazione()">
                IN LAVORAZIONE
            </a>
        </li>
        <li class="" role="presentation">
            <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="1" role="tab" aria-selected="false" aria-controls="tab2" onclick="LoadTabDaLavorare()">
                DA LAVORARE
            </a>
        </li>
        @*   <li class="" role="presentation">
                <a href="#tab3" class="rai-badge-anchor" id="hrefTab3" tabindex="0" role="tab" aria-selected="false" aria-controls="tab3" onclick="LoadTabRespinte()">
                    RESPINTE
                </a>
            </li>*@
        @*<li class="" role="presentation">
                <a href="#tab4" class="rai-badge-anchor" id="hrefTab4" tabindex="0" role="tab" aria-selected="false" aria-controls="tab4" onclick="LoadTabBozze()">
                    BOZZE
                </a>
            </li>*@
    </ul>


    <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
        <div class="tab-pane active" id="tab1" role="tabpanel">
            <div id="tblContainerInAttesa">
                <div class="panel-body  panel-body-nopadding" id="">
                    <div class="table-responsive">
                        <table class="rai-table rai-loader table rai-table-vcenter rai-table-collapsable" id="table_InLavorazione">
                            <thead>
                                <tr>
                                    <th class="text-left">Nominativo</th>
                                    @*<th style="width:auto;">Nominativo</th>*@
                                    @*<th class="text-left">Data imm.</th>*@
                                    <th id="dataContratto" class="text-left">Data inizio contratto</th>
                                    <th class="text-left">Servizio/Categoria</th>
                                    @*<th class="text-left">Categoria</th>*@
                                    <th class="text-left">Avanzamento</th>
                                    <th class="text-left"> &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="listaImmatricolazioniInAttesa"></tbody>
                        </table>
                    </div>
                    

                </div>

            </div>
        </div>
        <div class="tab-pane" id="tab2" role="tabpanel">
            <div id="tblContainerFirmate">
                <div class="panel-body  panel-body-nopadding" id="">
                    <div class="table-responsive">
                        <table class="rai-table rai-loader table rai-table-vcenter rai-table-collapsable" id="table_DaLavorare">
                            <thead>
                                <tr>
                                    <th class="text-left">Nominativo</th>
                                    @*<th style="width:auto;">Nominativo</th>*@
                                    @*<th class="text-left">Data imm.</th>*@
                                    <th class="text-left">Data inizio contratto</th>
                                    <th class="text-left">Servizio/Categoria</th>
                                    @*<th class="text-left">Categoria</th>*@
                                    <th class="text-left"> &nbsp;</th>
                                    <th class="text-left"> &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="listaImmatricolazioniFirmate"></tbody>
                        </table>
                    </div>
                    
                </div>

            </div>
        </div>
        @*<div class="tab-pane" id="tab3" role="tabpanel">
                <div id="tblContainerRespinte">
                    <div class="panel-body  panel-body-nopadding" id="">
                        <table class="rai-table rai-loader table trasferte rai-table-vcenter" id="table_Respinte">
                            <thead>
                                <tr>
                                    <th>Matricola</th>
                                    <th style="width:auto;">Nominativo</th>
                                    <th>Data imm.</th>
                                    <th>Data inizio contratto</th>
                                    <th class="rai-table-td-toggle" style="width:20%"> &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="listaImmatricolazioniRespinte"></tbody>
                        </table>

                    </div>

                </div>
            </div>*@
        @*<div class="tab-pane" id="tab4" role="tabpanel">
                <div id="tblContainerBozze">
                    <div class="panel-body  panel-body-nopadding" id="">

                        <table class="rai-table rai-loader table trasferte rai-table-vcenter" id="table_Bozze">
                            <thead>
                                <tr>
                                    <th>Matricola</th>
                                    <th style="width:auto;">Nome e Cognome</th>
                                    <th>Data imm.</th>
                                    <th>Data inizio contratto</th>
                                    <th class="rai-table-td-toggle"> &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="listaImmatricolazioniBozze"></tbody>
                        </table>
                    </div>

                </div>
            </div>*@
    </div>
</div>
