@{
    Layout = "~/Views/Shared/_layoutContent.cshtml";
    ViewBag.Title = "HRIS - Anagrafica Dipendente";
}

<section role="main" class="content-body">
    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, "Parametri ricerca"))
                    {
                        <div id="searchbar">

                        </div>
                    }
                </div>
            </div>
            @using (Html.BeginOnePageNav("nav-scrivania", "Anagrafica"))
            {

            }
        </div>
    </main>
</section>

@section afterjs {
    @Html.Raw(TempData["script"])

    <script>
        RaiUpdateWidget("searchbar", '@Url.Action("DrawFormExt", "Ricerca")', 'html', null, false, function () {
            $('#searchbar-int-cont .searchbar-item-box .collapse').on('show.bs.collapse', function () {
                var target = $(this).attr('id');
                //$('#searchbar-int-cont .searchbar-item-box .collapse:not([id="' + target + '"]').removeClass('in');
                $('#searchbar-int-cont .searchbar-item-box .collapse.in:not([id="' + target + '"]').collapse('toggle');
            });
        });
    </script>
}