@using myRaiHelper;
@using myRaiCommonModel
@using MVCProject.Custom_Helpers
@{
    ViewBag.Title = "Esperienze Produzione";
    Layout = "~/Views/Shared/_layoutContent.cshtml";
}
@model myRaiCommonModel.EsperienzeProduzioneModel
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="@Url.Content("~/assets/js/myRaiEP.js")"></script>

<section role="main" class="content-body" style="padding-top:10px;">

    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block" style="margin-bottom:0px;">
                        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1">
                                    Ricerca risorse
                                </a>
                            </li>

                            <li class="" role="presentation">
                                <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="1" role="tab" aria-selected="false" aria-controls="tab2">
                                    Impegni risorsa
                                </a>
                            </li>
                            <li class="" role="presentation">
                                <a href="#tab3" class="rai-badge-anchor" id="hrefTab3" tabindex="2" role="tab" aria-selected="false" aria-controls="tab3">
                                    Dettaglio impegno
                                </a>
                            </li>
                        </ul>
                        <div class="block-content tab-content" style="padding:5px 5px 1px;">
                            <div class="tab-pane active" id="tab1" role="tabpanel">
                                @Html.Partial("subpartial/_RicercaRisorse", Model)
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel">
                                @*Html.Partial("subpartial/_DisponibilitaRisorse", Model)*@
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel">
                                @*Html.Partial("subpartial/_ProduzioniTelevisive", Model)*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</section>



