@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model CestiniModel

<div class="modal-dialog">
    <div class="modal-content height100">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-cdf modal-header-fixed" style="height: 58px;">
                <ul class="block-options visible-xs">
                    <li>
                        <button data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    </li>
                </ul>
                <h4 class="lead">Riepilogo ordine</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
        <div class="modal-body row height100 col-sm-12">
            @Html.Partial( "~/Views/RaiPlace/Cestini/subpartial/_testataRiepilogo.cshtml" )
            @Html.Partial( "~/Views/RaiPlace/Cestini/subpartial/_tabellaRiepilogo.cshtml" )
            <br />
            <br />
            <div class="row text-center">
                <div class="col-sm-12">
                    <button class="cestini btn btn-primary large-btn" onclick="javascript:stampa();" type="button">STAMPA</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function stampa() {
        return window.location = '@Url.Action("StampaPdf","Cestini")';
    }

</script>