@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model CestiniModel

@Html.Partial( "~/Views/RaiPlace/Cestini/subpartial/_testataRiepilogo.cshtml" )
@Html.Partial( "~/Views/RaiPlace/Cestini/subpartial/_tabellaRiepilogo.cshtml" )

<br />
<br />
<div class="row text-center">
    <div class="col-sm-12">
        <button class="cestini finish btn btn-primary hidden large-btn" onclick="javascript:salva();" type="button">SALVA</button>
        <button class="cestini btn btn-primary large-btn" onclick="javascript:stampa();" type="button">STAMPA</button>
    </div>
</div>

<script type="text/javascript">

    function stampa() {
        return window.location = '@Url.Action("StampaPdf","Cestini")';
    }

</script>