<div id="extra-params">
    <label for="Parametro1" >Parametro1</label>
    <input name="ep-Parametro1" id="parametro1" class="form-control ep ep-obb"  />
    <label for="Parametro2" >Parametro2</label>
    <input name="ep-Parametro2" id="parametro2" class="form-control ep ep-obb"  />
</div>