@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

<div id="extra-params">
    <label for="Parametro1">Allega documento</label>
    @{
        List<Tuple<int , string>> docs = CommonHelper.GetDocumentiDipendente( "FF" );
    }
    <select name="ep-idDocDipendente" id="idDocDipendente" class="form-control ep ep-obb">
        @foreach ( var item in docs )
        {
            <option value="@item.Item1">@item.Item2</option>
        }
    </select>
</div>