@model myRai.Models.DispositiviModel



<!-- Icone -->
@{
    Layout = "~/Views/Shared/_layout2.cshtml";
}

<div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

<!-- Container di Pagina -->

<section class="body">

    @Html.Partial("../Shared/header2", new myRai.Models.NotifichePopupModel())

    <div class="inner-wrapper">

        @Html.Partial("../Shared/sidebar3", myRai.Models.Utente.getSidebarModel())@* Model.menuSidebar)*@
        <section role="main" class="content-body">


            <!-- start: page -->
            <!-- Main Container -->

            <main id="main-container">

                <div class="content">

                    <div class="row">
                       
                        <div class="col-sm-12" id="dispos">


                                @Html.Partial("dispositivi", Model)
                           

                        </div>

                      

                    </div>
                </div>
            </main>

            <!-- end: page -->
        </section>
    </div>





</section>









