@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.raiplace;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model MyAbbonamenti
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var oggi = DateTime.Today.ToString( "dd/MM/yyyy" );
}

<h2>Index</h2>
<section class="body">
    @Html.Partial( "../Shared/header2" , new NotifichePopupModel( CommonHelper.GetCurrentUserMatricola( ) ) )
    <div class="inner-wrapper">
        @Html.Partial( "../Shared/sidebar3" , myRaiHelper.UtenteHelper.getSidebarModel(  ) )
    </div>
</section>