@model myRaiCommonModel.cvModels.cvModel.Allegati

@{
    myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
}

<form class="js-form2 form-horizontal form-modificaFormazione" action="/CurriculumVitae/ModificaFormazione" method="post">
    @Html.HiddenFor(x => x._matricola)
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
              <div class=" block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                <h3 class="block-title">[X]</h3>
              </div>
              <div class="modal-body" id="edit-content">
    <div class="form-group">
        <!-- Composizione della FORM -->
        <!-- fine form -->
    </div> <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
              </div>
                  <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-warning"  data-dismiss="modal" type="button"><i class="fa fa-arrow-circle-o-left"></i> Indietro</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick=""><i class="fa fa-check-circle-o"></i> Invia</button> 
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span onclick="">Elimina</span></button>
                        </div>
                    </div>
                  </div>
          </div>
        </div>

    </div>

</form>
