body {
}
/* Base */
a,
.btn-link {
	color: #25affb;
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
	color: #0099e6;
}

a:active,
.btn-link:active {
	color: #0077b3;
}
/* Sidebar Left */
.sidebar-left .sidebar-header .sidebar-toggle:hover i {
	color: #25affb;
}

ul.nav-main > li.nav-expanded > a {
	background: #212f36;
}

ul.nav-main li .nav-children .nav-children li a {
       padding: 6px 15px 6px 57px;
}


html,
body {
	background: #ecedf0;

}

.sidebar-left {
    background: #212f36;

}
@media only screen and (min-width: 768px) {

	html,
	body {
		background: #ecedf0;
	}


	html.sidebar-left-collapsed.scroll .sidebar-left .nav-main li.nav-active a:hover,
	html.sidebar-left-collapsed.boxed .sidebar-left .nav-main li.nav-active a:hover {
		color: #25affb;
	}

	html.sidebar-left-collapsed.scroll .sidebar-left .nav-main > li:hover > a span.label,
	html.sidebar-left-collapsed.boxed .sidebar-left .nav-main > li:hover > a span.label {
		background-color: #25affb;
	}
}
/* Layout Boxed - small than min-width */
@media only screen and (max-width: 1199px) {
	html.boxed .header {
		border-top-color: #25affb;
	}
}
/* Layout Boxed - larger or equal min width */
@media only screen and (min-width: 1200px) {
	html.boxed .header {
		border-top-color: #25affb;
	}

	html.boxed .sidebar-right {
		border-top-color: #25affb;
		min-height: 0;
	}
}
/* Userbox - Open */
.userbox.open .dropdown-menu a:hover {
	background: #25affb;
}
.userbox .name {
    color: #fff;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.2em;
}

.userbox .role {
    color: #fff;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.2em
}

/* Mailbox */
.mailbox .mailbox-mail-list li.active {
	background: #25affb;
}

.mailbox .mailbox-mail .mailbox-close-mail {
	color: #25affb;
}

.mailbox .mailbox-mail .mailbox-close-mail:hover {
	color: #0099e6;
}

.mailbox .mailbox-mail .panel .panel-heading .panel-actions a:hover {
	color: #25affb;
}
/* Media Gallery */
.media-gallery ul.mg-tags > li a:hover {
	background-color: #25affb;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom {
	background-color: #25affb;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-toolbar {
	background-color: #25affb;
}

.media-gallery .mg-files .thumbnail.thumbnail-selected {
	box-shadow: 0 0 8px -1px #25affb;
}
/* Sign Screens - Wrappers */
.body-sign .panel-sign .panel-title-sign .title {
	background-color: #25affb;
}

.body-sign .panel-sign .panel-body {
	border-top-color: #25affb;
}
/* Lock Screen */
.body-locked .current-user .user-image {
	border-color: #25affb;
}
/* Blockquote */
blockquote.primary {
	border-color: #25affb;
}
/* Nav Pills */
.nav-pills-primary > li a:hover,
.nav-pills-primary > li a:focus {
	color: #25affb;
	background-color: #cceeff;
}

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:active,
.nav-pills-primary > li.active > a:focus {
	background-color: #25affb;
}
/* Dropdown Menu */
.dropdown-menu	> .active	> a,
.dropdown-menu	> .active	> a:hover,
.dropdown-menu	> .active	> a:focus {
	background-color: #25affb;
}

.open > .dropdown-toggle.btn-primary {
	background: #25affb;
	border-color: #0077b3;
}

body .btn-primary.dropdown-toggle {
	border-left-color: #00a3f5;
}
/* Buttons */
body .btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #25affb;
	border-color: #25affb;
}

body .btn-primary:hover {
	border-color: #0099e6 !important;
	background-color: #0099e6;
}

body .btn-primary:active,
body .btn-primary:focus {
	border-color: #0077b3 !important;
	background-color: #0077b3;
}

body .btn-primary[disabled] {
	border-color: #33bbff !important;
	background-color: #33bbff;
}

body .btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #47a447;
	border-color: #47a447;
}

body .btn-success:hover {
	border-color: #51b451 !important;
	background-color: #51b451;
}

body .btn-success:active,
body .btn-success:focus {
	border-color: #3f923f !important;
	background-color: #3f923f;
}

body .btn-success[disabled] {
	border-color: #86cb86 !important;
	background-color: #86cb86;
}

body .btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ed9c28;
	border-color: #ed9c28;
}

body .btn-warning:hover {
	border-color: #efa740 !important;
	background-color: #efa740;
}

body .btn-warning:active,
body .btn-warning:focus {
	border-color: #e89113 !important;
	background-color: #e89113;
}

body .btn-warning[disabled] {
	border-color: #f5c786 !important;
	background-color: #f5c786;
}

body .btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d2322d;
	border-color: #d2322d;
}

body .btn-danger:hover {
	border-color: #d64742 !important;
	background-color: #d64742;
}

body .btn-danger:active,
body .btn-danger:focus {
	border-color: #bd2d29 !important;
	background-color: #bd2d29;
}

body .btn-danger[disabled] {
	border-color: #e48481 !important;
	background-color: #e48481;
}

body .btn-alert {
	color: #000;

	background-color: #fff;
	border-color: #fff;
}

body .btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bc0de;
	border-color: #5bc0de;
}

body .btn-info:hover {
	border-color: #70c8e2 !important;
	background-color: #70c8e2;
}

body .btn-info:active,
body .btn-info:focus {
	border-color: #46b8da !important;
	background-color: #46b8da;
}

body .btn-info[disabled] {
	border-color: #b0e1ef !important;
	background-color: #b0e1ef;
}

body .btn-dark {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #171717;
	border-color: #171717;
}

body .btn-dark:hover {
	border-color: #242424 !important;
	background-color: #242424;
}

body .btn-dark:active,
body .btn-dark:focus {
	border-color: #0a0a0a !important;
	background-color: #0a0a0a;
}

body .btn-dark[disabled] {
	border-color: #4a4a4a !important;
	background-color: #4a4a4a;
}
/* Switch*/
.switch.switch-primary .ios-switch .on-background {
	background: #25affb;
}
/* Label */
.label-primary {
	background: #25affb;
}
/* Label */
.label-gray {
	background: #475358;
      opacity: 0.4;
}

/* Text Primary */
.text-primary {
	color: #25affb !important;
}
/* BG Primary */
.bg-primary {
	background: #25affb;
}
/* BG white */
.bg-white {
	background: #fff !important;
}
/* Alternative Font Style */
.alternative-font {
	color: #25affb;
}
/* Hightlight */
.highlight {
	background-color: #25affb;
}
/* Drop Caps */
p.drop-caps.colored:first-child:first-letter {
	color: #25affb;
}

p.drop-caps.colored.secundary:first-child:first-letter {
	background-color: #25affb;
}
/* Well */
.well.primary {
	background: #25affb;
	border-color: #006699;
}
/* Form */
.form-control:focus {
	border-color: #33bbff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
}
/* Header */
.header .toggle-sidebar-left {
	background: #25affb;
}
/* Page Header */
.page-header {
	/*border-bottom-color: #25affb;*/
    background-color:#ece7e0;
    box-shadow:none;
    border-left: 0px; 
}

.page-header .sidebar-right-toggle:hover {
	color: #25affb;
}

.page-header .breadcrumbs li {
    color:#212f36;
}

.page-header .breadcrumbs a, .page-header .breadcrumbs span
{
    color:#212f36;
}
.page-header .sidebar-right-toggle
{
    color:#212f36;
}
/* Navigation */
ul.nav-main > li.nav-active > a {
	box-shadow: 2px 0 0 #25affb inset;
}

ul.nav-main > li.nav-active > i {
	color: #25affb;
}

ul.nav-main li .nav-children li.nav-active > a {
	color: #25affb;
}
/* Nano Scroller Plugin */
html.no-overflowscrolling .nano > .nano-pane > .nano-slider {
	background: #25affb;
}
/* Nav Pills */
.nav-pills > .active a,
.nav-pills > .active a:hover,
.nav-pills > .active a:focus {
	background-color: #25affb;
}
/* Pagination */
.pagination > li a {
	color: #25affb;
}

.pagination > li a:hover,
.pagination > li a:focus {
	color: #0099e6;
}

.pagination > li.active a,
.pagination > li.active span,
.pagination > li.active a:hover,
.pagination > li.active span:hover,
.pagination > li.active a:focus,
.pagination > li.active span:focus {
	background-color: #25affb;
	border-color: #25affb;
}

.pagination > li.active a {
	background-color: #25affb;
}

html .pagination > li.active a,
html.dark .pagination > li.active a,
html .pagination > li.active span,
html.dark .pagination > li.active span,
html .pagination > li.active a:hover,
html.dark .pagination > li.active a:hover,
html .pagination > li.active span:hover,
html.dark .pagination > li.active span:hover,
html .pagination > li.active a:focus,
html.dark .pagination > li.active a:focus,
html .pagination > li.active span:focus,
html.dark .pagination > li.active span:focus {
	background-color: #25affb;
	border-color: #25affb;
}

html .pagination > li.active a,
html.dark .pagination > li.active a {
	background-color: #25affb;
}
/* Fullcalendar */
.fc .fc-widget-header {
	background: #25affb;
	border-color: #25affb;
}

.fc .fc-header-title h2:before {
	color: #25affb;
}

.fc-event {
	background: #25affb;
	border-color: #25affb;
}

.fc-event.fc-event-primary {
	background: #25affb;
	border-color: #25affb;
}
/* Maps */
.jqvmap-zoomin,
.jqvmap-zoomout {
	background: #25affb;
}
/* Timeline */
.timeline .tm-items > li .tm-datetime .tm-datetime-time {
	color: #25affb;
}

.timeline .tm-items > li .tm-icon {
	border-color: #25affb;
	color: #25affb;
}

.timeline.timeline-simple .tm-body .tm-items > li:before {
	background: #25affb;
	box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #25affb;
}

html.dark .timeline.timeline-simple .tm-body .tm-items > li:before {
	background: #25affb;
	box-shadow: 0 0 0 3px #2e353e, 0 0 0 6px #25affb;
}
/* Princing Table */
.pricing-table h3 span {
	color: #25affb;
}

.pricing-table .most-popular h3 {
	background-color: #25affb !important;
	color: #ffffff !important;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #25affb;
}
/* Accordion */
.panel-group .panel-accordion .panel-heading a {
	color: #25affb;
}
/* Alerts */
.alert-primary {
	background-color: #25affb;
	border-color: #007ebd;
}

.alert-primary .alert-link {
	color: #004466;
}
/* Nestable */
.dd-handle:hover {
	color: #25affb !important;
}

.dd-placeholder {
	background: #e6f7ff;
	border-color: #25affb;
}
/* Panels */
.panel-highlight .panel-heading {
	background-color: #25affb;
	border-color: #25affb;
}

.panel-highlight .panel-body {
	background-color: #25affb;
}

html .panel-primary .panel-heading {
	background: #25affb;
	border-color: #25affb;
}

.panel-heading.bg-primary {
	background: #25affb;
}

.panel-body.bg-primary {
	background: #25affb;
}

.panel-featured-primary {
	border-color: #25affb;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.panel-featured-primary .panel-title {
	color: #25affb;
}

.panel-heading-icon.bg-primary {
	background: #25affb;
}

.panel-group .panel-accordion-primary .panel-heading .panel-title a {
	background: #25affb;
}
/* Progress Bar */
.progress-bar {
background-image: linear-gradient(330deg, #0086d2 30%, #3336a2 100%), linear-gradient(#3336a2 , #3336a2 );
}

.progress .progress-bar-primary {
	background-color: #25affb;
}
/* Toggle */
.toggle label {
	border-left-color: #25affb;
	color: #25affb;
}

.toggle.active > label {
	background: #25affb !important;
	border-color: #25affb;
}
/* Treeview */
.jstree-default .jstree-hovered {
	background-color: #e6f7ff !important;
}

.jstree-default .jstree-clicked {
	background-color: #b3e5ff !important;
}

.jstree-default .colored {
	color: #25affb !important;
}

.jstree-default .colored .jstree-icon {
	color: #25affb !important;
}

.jstree-default .colored-icon .jstree-icon {
	color: #25affb !important;
}
/* Widgets */
.sidebar-widget.widget-tasks ul li:before {
	border-color: #25affb;
}

.widget-twitter-profile {
	background-color: #25affb;
}

.widget-twitter-profile .profile-quote {
	background-color: #0096e0;
}

.widget-twitter-profile .profile-quote .quote-footer {
	border-top-color: rgba(0, 170, 255, 0.7);
}

.widget-profile-info .profile-info .profile-footer {
	border-top-color: rgba(0, 170, 255, 0.7);
}
/* Thumb Info */
.thumb-info .thumb-info-type {
	background-color: #25affb;
}
/* Social Icons */
.social-icons-list a {
	background: #25affb;
}
/* Notifications */
.notifications .notification-menu .notification-title {
	background: #25affb;
}

.notifications .notification-menu .notification-title .label-default {
	background-color: #006699;
}

.notifications .notification-menu:before,
.notifications .notification-icon:before {
	border-bottom-color: #25affb;
}

.ui-pnotify .notification-primary {
	background: rgba(0, 136, 204, 0.95);
}

.ui-pnotify.stack-bar-top .notification-primary,
.ui-pnotify.stack-bar-bottom .notification-primary {
	background: #25affb;
}

.ui-pnotify.notification-primary .notification,
.ui-pnotify.notification-primary .notification-primary {
	background: rgba(0, 136, 204, 0.95);
}

.ui-pnotify.notification-primary.stack-bar-top .notification,
.ui-pnotify.notification-primary.stack-bar-bottom .notification,
.ui-pnotify.notification-primary.stack-bar-top .notification-primary,
.ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
	background: #25affb;
}
/* Modal */
.modal-block-primary .fa {
	color: #25affb;
}

.modal-block-primary.modal-header-color .panel-heading {
	background-color: #25affb;
}

.modal-block-primary.modal-full-color .panel {
	background-color: #00a3f5;
}

.modal-block-primary.modal-full-color .panel-heading {
	background-color: #25affb;
}

.modal-block-primary.modal-full-color .panel-footer {
	background-color: #00a3f5;
}
/* Modal Icon */
.modal-block-primary .modal-icon .fa {
	color: #25affb;
}
/* Tabs */
html body .tabs-primary .nav-tabs li a,
html.dark body .tabs-primary .nav-tabs li a,
html body .tabs-primary .nav-tabs.nav-justified li a,
html.dark body .tabs-primary .nav-tabs.nav-justified li a,
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
	color: #25affb;
}

html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
	border-top-color: #25affb;
}

html body .tabs-primary .nav-tabs li.active a,
html.dark body .tabs-primary .nav-tabs li.active a,
html body .tabs-primary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a,
html body .tabs-primary .nav-tabs li.active a:hover,
html.dark body .tabs-primary .nav-tabs li.active a:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary .nav-tabs li.active a:focus,
html.dark body .tabs-primary .nav-tabs li.active a:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
	border-top-color: #25affb;
	color: #25affb;
}

html body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover {
	border-bottom-color: #25affb;
}

html body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
	border-top-color: #FFF;
	border-bottom-color: #25affb;
}

html body .tabs-primary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li a:hover {
	border-left-color: #25affb;
}

html body .tabs-primary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus {
	border-left-color: #25affb;
}

html body .tabs-primary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li a:hover {
	border-right-color: #25affb;
}

html body .tabs-primary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:focus {
	border-right-color: #25affb;
}
/* Simple List */
ul.simple-bullet-list li:before {
	border-color: #25affb;
}
/* Simple Card List */
.simple-card-list li.primary {
	background: #25affb;
}
/* Search Results */
.search-content .search-toolbar .nav-pills li.active a {
	color: #25affb;
	border-bottom-color: #25affb;
}

.search-results-list .result-thumb .fa {
	background: #25affb;
}

html.dark .search-content .search-toolbar .nav-pills li.active a,
html.dark .search-content .search-toolbar .nav-pills li.active a:hover,
html.dark .search-content .search-toolbar .nav-pills li.active a:focus {
	color: #25affb;
	border-bottom-color: #25affb;
}
/* Time Picker */
.bootstrap-timepicker-widget table td a:hover {
	background-color: #25affb;
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
	background: #25affb;
	border-color: #0077b3;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #25affb;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
	background: #25affb;
	-webkit-box-shadow: 0px 0px 1px #25affb;
	box-shadow: 0px 0px 1px #25affb;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
	background: #25affb;
}
/* Progress Bar */
.progress-bar {
	background-color: #25affb;
}

.progress .progress-bar-primary {
	background-color: #25affb;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
	background: #25affb;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(left, #00aaff 0, #25affb 50%, #006699 100%);
	background-image: linear-gradient(left, #00aaff 0, #25affb 50%, #006699 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(to right, #00aaff 0, #25affb 50%, #006699 100%);
	background-image: linear-gradient(to right, #00aaff 0, #25affb 50%, #006699 100%);
}
/* DatePicker */
.datepicker table {
	width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
	background: #25affb;
}

.datepicker table thead tr:first-child th:hover {
	background: #25affb;
}

.datepicker table tr td span:hover {
	background: #25affb;
}

.datepicker table tr td.day:hover {
	background: #25affb;
}

.datepicker table tfoot tr th:hover {
	background: #25affb;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
	background: #25affb;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
	background: #25affb;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
	background: #25affb;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
	background-color: #25affb;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
	background-color: #006699;
}

.datepicker.datepicker-primary table thead tr:last-child {
	background-color: #0099e6;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
	background-color: #25affb;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
	background: #25affb;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
	background: #25affb;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
	background: #25affb;
}
/* Wizard */
.wizard-steps > li.active .badge {
	background-color: #25affb;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
	border-top-color: #25affb;
}

.wizard-tabs ul > li.active .badge {
	background-color: #25affb;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
	background: #25affb;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
	border-color: #25affb;
	background: #25affb;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
	color: #25affb;
	border-color: #25affb;
}
/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
	background-color: #25affb;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #25affb;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #25affb;
}


/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: digigapp;
  src: url(/assets/fonts/digigapp.eot);
  src: url(/assets/fonts/digigapp.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/digigapp.woff) format('woff'), url(/assets/fonts/digigapp.ttf) format('truetype'), url(/assets/fonts/digigapp.svg#digigapp) format('svg');
  font-weight: 400;
  font-style: normal;
}
.di {
  font-family: digigapp;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.di-logo:before {
  content: "S";
}
.di-evidenze:before {
  content: "a";
}
.di-presenze:before {
  content: "b";
}
.di-cv:before {
  content: "c";
}
.di-entrata:before {
  content: "d";
}
.di-uscita:before {
  content: "m";
}
.di-permesso:before {
  content: "e";
}
.di-timbro:before {
  content: "n";
}
.di-timbro:before {
  content: "o";
}
.di-debiti:before {
  content: "o";
}
.di-timbro:before {
  content: "q";
}
.di-richieste:before {
  content: "s";
}
.di-approvazioni:before {
  content: "t";
}
.di-hotel:before {
  content: "u";
}
.di-esperienze:before {
  content: "z";
}
.di-titolostudi:before {
  content: "y";
}
.di-lingue:before {
  content: "x";
}
.di-competenzedigitali:before {
  content: "w";
}
.di-fruiti:before {
  content: "A";
}
.di-richiesti:before {
  content: "B";
}
.di-allegati:before {
  content: "C";
}

.di-altreinfo:before {
  content: "D";
}

.di-areeinteresse:before {
  content: "P";
}

.di-formazione:before {
  content: "F";
}




 .di-diploma:before {
   content: "G";
 }

 .di-laurea:before {
   content: "H";
 }

 .di-certificazioni:before {
   content: "I";
 }

 .di-obiettivi:before {
   content: "J";
 }

 .di-master:before {
   content: "K";
 }
  .di-impegni:before {
   content: "L";
 }
    .di-competenze:before {
   content: "N";
 }
    .di-logoraiway:before {
   content: "O";
 }
    .di-logorai:before {
   content: "S";
 }


.di-extrarai:before {
   content: "R";
 }




/*
alert
*/
.di-error:before {
  content: "f";
}
/*
Nuovo cv
*/
.di-education:before {
  content: "g";
}
.di-information:before {
  content: "h";
}
.di-experience:before {
  content: "i";
}
.di-languages:before {
  content: "j";
}
.di-language:before {
  content: "p";
}
.di-informatics:before {
  content: "k";
}
.di-areas:before {
  content: "l";
}
.di-printer:before {
  content: "r";
}


html.fixed .sidebar-left .rtl {
	
	right: 0;
}

ul.nav-main li .nav-children {
    box-shadow:none;
        background: #212f36;
}


.istituzionale {
  background-color: #25affb;
  /* background-image:-webkit-gradient(linear,left top,right top,from(#25affb),to(#203e93)); */
  /*background-image: -webkit-linear-gradient(left, #25affb, #203e93);
  background-image: -o-linear-gradient(left, #25affb, #203e93);*/
  background-image: linear-gradient(to left, #3336a2, #0086d2 53%, #29b2ff), linear-gradient(#48bfff, #48bfff);
}
.energia {
  background-color: #ec3b4b;
  /* background-image:-webkit-gradient(linear,left top,right top,from(#ec3b4b),to(#d94418)); */
  background-image: -webkit-linear-gradient(left, #ec3b4b, #d94418);
  background-image: -o-linear-gradient(left, #ec3b4b, #d94418);
}
.delicato {
  background-color: #f5bc67;
  /* background-image:-webkit-gradient(linear,left top,right top,from(#f5bc67),to(#7d3d6e)); */
  background-image: -webkit-linear-gradient(left, #f5bc67, #7d3d6e);
  background-image: -o-linear-gradient(left, #f5bc67, #7d3d6e);
}
.autunno {
  background-color: #d24f00;
  /* background-image:-webkit-gradient(linear,left top,right top,from(#d24f00),to(#064244)); */
  background-image: -webkit-linear-gradient(left, #d24f00, #064244);
  background-image: -o-linear-gradient(left, #d24f00, #064244);
}
.bgbase {
  background-color: #006e78;
}
.bgistituzionale {
  background-color: #203e93;
}
.bgenergia {
  background-color: #d94418;
}
.bgdelicato {
  background-color: #7d3d6e;
}
.bgautunno {
  background-color: #064244;
}
.primarybase {
  color: #95e86f;
}
.primaryistituzionale {
  color: #25affb;
}
.primaryenergia {
  color: #ec3b4b;
}
.primarydelicato {
  color: #f5bc67;
}
.primaryautunno {
  color: #d24f00;
}

.contenitoreLogo
{
    float: left;
    margin: 5px 0 0 15px;
    font-size: 3.0rem;
    color: #fff;
}

.logoTipo
{
    font-size: 5.6rem;
    float: left;
    margin: -5px 0 0 -15px;
    /* font-size: 3.0rem; */
    color: #fff;
}

.logoTitle
{
    font-size: 3.0rem;
    float: left;
    margin: 3px 0 0 15px;
    font-size: 28px;
    font-size: 2.8rem;
    color: #fff;
}

.header .separator {
    /* background-color: #f6f6f6; */
    background-image: -webkit-linear-gradient(#f6f6f6 60%,#ededed);
    /* background-image: linear-gradient(#f6f6f6 60%,#ededed); */
    display: inline-block;
    height: 100%;
    margin: 0 25px 0;
    /* width: 2px; */
    vertical-align: middle;
}

.notifications>li .notification-icon i {
     color: #fff; 
    line-height: 30px;
    vertical-align: middle;
    font-size: 1.8rem;
}

.notifications>li .notification-icon {
    /* background: #fff; */

    border-radius: 50%;
   /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);*/
    display: inline-block;
    height: 30px;
    position: relative;
    width: 30px;
    text-align: center;
}

.img-circle .noborder{
     border-radius: 0% !important; 
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #1e3b90;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #1e3b90
}

.margine-10-sx
{
    margin-left: 10px !important;
}

.ombraNotifiche
{
	box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
    }



.bg-cda {
    background: #48bfff;
    color: white;
}
.bg-cdf {
    background: #1d92f5 !important;
    color: white;
}
.bg-prse {
    background: #2e62e0;
    color: white;
}
.bg-gioev {
    background: #3431a4;
    color: white;
}

.bd-cda {
    border-color: #48bfff !important;
}
.bd-cdf {
    border-color: #1d92f5;
}
.bd-prse {
    border-color: #2e62e0;
}
 .bd-gioev {
    border-color: #3431a4;
}

.bg-puls_dash {
    background: #f3f3f3!important;
}
.bg-firma {
    background: #93e8a6;
}

.colorSecondLiv
{
   color: #cbced0;
}
.cvAnagraficoGR {
    background-image: linear-gradient(to top, #3336a2, #0086d2 53%, #29b2ff), linear-gradient(#777777, #777777)!important;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}


.close {
    margin: 0;
    position: fixed;
    top: 4px;
    left: -40px;
    width: 25px;
    height: 25px;
    font-weight: 100;
    color: #ffffff;
    font-size: 51px;
    opacity: 1;
    z-index: 10;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
dagiustactive {
     box-shadow: 0 2px #ec394a; 
    color: #48bfff;
}

maggioractive {
    box-shadow: 0 2px #ec394a;
    color: #ec394a;
}

.panel-action-refresh {

  	display: inline-block;
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.panel-action-refresh:before {
	content: "\e098";
}


.text-danger {
	color: #ec394a !important;
}


table#lemierichieste td {

    padding:20px;
}

table#lemieevidenze td {

    padding:20px;
}

.smallCircle{

    font-size:9px;
}

.nav-tabs li a, .nav-tabs li a:hover {

    background: #fff;
    border-bottom: 1px solid #ccc !important;
}


.table > thead > tr.scadute,
.table > tbody > tr.scadute,
.table > tfoot > tr.scadute,
.table > thead > tr.scadute,
.table > tbody > tr.scadute,
.table > tfoot > tr.scadute {

    border-left:3px solid #ec394a !important;
}

.table > thead > tr.urgenti,
.table > tbody > tr.urgenti,
.table > tfoot > tr.urgenti,
.table > thead > tr.urgenti,
.table > tbody > tr.urgenti,
.table > tfoot > tr.urgenti {

    border-left: 3px solid #ec9639 !important;
}

.table > thead > tr.infirma,
.table > tbody > tr.infirma,
.table > tfoot > tr.infirma,
.table > thead > tr.infirma,
.table > tbody > tr.infirma,
.table > tfoot > tr.infirma {

    border-left:3px solid #1d92f5 !important;
}

.table > thead > tr.approvate,
.table > tbody > tr.approvate,
.table > tfoot > tr.approvate,
.table > thead > tr.approvate,
.table > tbody > tr.approvate,
.table > tfoot > tr.approvate {

    border-left:3px solid #48bfff !important;
}

.panel .panel-accordion .noborderps {
     border:none !important;
     background:none !important;
}

.panel-body .nopaddingpb{
    padding: 0px !important;
}


/* Header Mobile */
@media only screen and (max-width: 767px) {
	.header .logo-container {
		/* background-color: #F6F6F6; 
		background-image: -webkit-linear-gradient(#F6F6F6 0%, #FFFFFF 45%);*/
          background-image: linear-gradient(to left, #3336a2, #0086d2 53%, #29b2ff), linear-gradient(#48bfff, #48bfff);
		/* background-image: linear-gradient(#F6F6F6 0%, #FFFFFF 45%); */
		border-bottom: 1px solid #E9E9E6;
		border-top: 3px solid #EDEDED;
		background-color: #25affb;
		/* background-image: -webkit-gradient(linear,left top,right top,from(#25affb),to(#203e93)); */
		
	}

	.header .logo-container .logo {
		float: none;
		display: inline-block;
		line-height: 57px;
		margin-top: 0;
	}

	.header .search,
	.header .separator {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
    .header .header-right {
        /* background: #FFF; */
        float: none !important;
        height: 60px;
        margin-top: 60px;
        width: 100%;
    }
}


.sfondoGuida {
        background-color: #25affb;
        color: #fff !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
}

pie {
    width: 2em;
    height: 2em;
    display: block;
    border-radius: 50%;
    background-color: #1d92f5;
    border: 2px solid #1d92f5;
    float: left;
    margin: 1em;
}
.fifty {
    background-image:
        linear-gradient(90deg, white 50%, transparent 50%);
}
.full {
    background-image:
        linear-gradient(90deg, white 100%, transparent 50%);
}

.twentyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}
.seventyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, green 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

.onehundred {
    background-image: none;
}


.nopaddingGuida {
        padding-left: 0px;
    padding-right: 0px;

}
.borderright {
border-right: 3px solid #555;
}



.tabs-left .nav-tabs > li.active a, .tabs-left .nav-tabs > li.active a:hover, .tabs-left .nav-tabs > li.active a:focus {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /*line-height: 1.33;*/
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #1d92f5;
    font-weight: bold;
    border-right: 4px solid #1d92f5;
    font-family: 'Open Sans' !important;
    font-weight: bold;
}
.tabs-left .nav-tabs > li a {
    border-right: 1px solid #EEE;   
	height: 50px;
    padding-left: 25px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /*line-height: 1.33;*/
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #1d92f5;
    font-family: 'Open Sans' !important;
}
.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

.hrdotted{
    border-bottom: dotted 1px #cfcfcf;
}

.bgscontrino{   
    background-color: #f6f6f6;
}

.text-bottom-reduced{   
   margin-top: 25px;
}

.paddingDiv {
    padding:20px;
}

.page-overlay { 
  visibility:visible!important;		
  position: fixed; top: 0;
  left: 0; width: 100%; height: 100%; z-index: 200; 
  pointer-events: none; 
  background: #f0f1f3; 
  opacity: 1; 
  transition: all .5s; 
}

.page-overlay.loaded { 
  opacity: 0; 
  visibility: hidden; 
  transition: all 1s; 
}

.page-overlay .loader-wrap { 
  position: absolute; 
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.page-overlay .loader-review { 
  position: absolute; 
  top: calc(50% + 60px); 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 300px;
  font-family: Arial;
  font-size: 13px;
  text-align:center;
  
}


.loading {
    background-color: lightgrey;
    height: 2px;
    margin: 1em;
    overflow: hidden;
    position: relative;
    width: 12em;
}

.loading-bar {
    animation: side2side 2s ease-in-out infinite;
    background-color: #48bfff;
    height: 100%;
    position: absolute;
    width: 50%;
}

@keyframes side2side {
    0%, 100% { transform: translateX(-50%); }
    50%      { transform: translateX(150%); }
}

.center {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.borderprofile {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border: 2px solid #25affb !important;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

 .pull-5-t {
    margin-top: -5px;
  }
 
 .pull-10-t {
    margin-top: -10px;
  }

  .pull-20-t {
    margin-top: -20px;
  }



   .notifications > li .notification-icon .badge {
	background: #25affb;
	color: #000;
	font-size: 10px;
	font-weight: normal;
	height: 18px;
	padding: 3px 5px 3px 5px;
	position: absolute;
	right: -2px;
	top: -3px;
	border-radius: 100%;
}

.section-bottom{
  height:36px;
  background-color: transparent;
  position: relative;
  text-align: center;
  margin: 0;
  }
  .section-bottom a {
        display: inline-block;
        position: relative;
        width: 52px;
        height: 52px;
        border: 6px solid #e2e3e6;
        border-radius: 50%;
        background-color: #21acf8;
        top: 10px;
    }

    .section-bottom a:before{
      position: absolute;
      left:50%;
      top:50%;
      transform: translateX(-50%) translateY(-50%);
      content: "";
      color:white;
      font-size: 30px;
      font-weight: 600;
      margin-top: -1px;
    }

    .section-bottom a:hover {
        cursor: pointer;
    }

    /*
    .section-bottom a:hover {
        font-family: 'Open Sans';
         font-family: OpenSans; 
        font-size: 20px;
        font-weight: 300;
        line-height: 2.2;
    }
    */

.titleSezione {
    font-family: 'Open Sans';
    /* font-family: OpenSans; */
    font-size: 20px;
    font-weight: 300;
    line-height: 2.2;
}

.titleElements {
 
    font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #777777;
}

.formElements {

  height: 46px !important; 
  border-radius: 4px !important;
  border: solid 1px #c7c7c7 !important;
  }

.formElementsSelectMultiple {

  min-height: 46px !important; 
  border-radius: 4px !important;
  border: solid 1px #c7c7c7 !important;
  }

.campoObbligatorio {
    color: #d2322d;
}

.nomeProfilo {

  font-family: 'Open Sans';
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #475358;
}


.sottonomeProfilo {

  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #475358;
}

.titolettoBox {

  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;

}

.sottotitolettoBox {

    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 2.5;
    text-align: left;
    color: #fff;
}


.acccv{
	/* border: 1px solid #DDD; */
	margin-bottom: -5px !important;
	background-color: #fcfcfc !important;
	border: solid 1px #e5e5e5 !important;
}

.ariaAccordion {
        padding: 25px !important;
}


.titolettoAcc {
     font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.TitoloSezioni {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 300;
    line-height: 1.47;
    text-align: center;
    color: #475358;
}

.TitoloWidget {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 300;
    /* line-height: 1.47; */
    /* text-align: center; */
    color: #475358;
}

.NoteDoc {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 300;
    /* line-height: 1.47; */
    /* text-align: center; */
    color: #475358;
}

.removebottom {
     margin-bottom: 0px !important;
}

.bigborder {

    border-radius: 5px;
    border: dashed 2px #48bfff;
}

#calendartimb {
    padding-bottom: 20px; 
    border-left: 4px solid #48bfff; 
    margin-bottom: -5px;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #3431a4;
}

.select2-results__option:nth-child(even) {
    background-color: #ededed
}

/*.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[role=group]:hover {
    color: #25affb;
    background: none;
}*/

.progress-bar-tooltip:before {
    border-top-color: #25affb;
}

.Titoletto-paragrafo {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #475358;
}

.Corpo-paragrafo {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline > li {
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );  
  border: 1px solid #d4d4d4;
  position: relative;
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.lineaCollegamento:after{
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    height: 175%;
    margin-left: 2px;
    margin-top: 0px;
    z-index: 1000;
}

/*
.lineaCollegamento1:before{
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #eeeeee;
    height: 40%;
    margin-left: -6px;
    margin-top: 5%;
    z-index: 1000;
}*/

.bg-pink {
    background-color: #b22af7;
}

.bg-lightgreen
{
    background: #5fc645;
    color: #FFF; 
}

.bg-blue
{
    background: #25affb;
    color: #FFF; 
}

.bg-grey
{
    background: #acadaf;
    color: #FFF; 
}

/*.bg-white
{
    background: #FFF;
    color: #FFF; 
}*/



.pie-bg-lightgreen
{
    background-color: #5fc645;
    border: 2px solid #5fc645;
}

.pie-bg-blue
{
    background-color: #25affb;
    border: 2px solid #25affb;
}

.pie-bg-gray
{
    background-color: #acadaf;
    border: 2px solid #acadaf;
}

.pie-bg-white
{
    background-color: #FFF;
    border: 2px solid #FFF;
}

.pie-bg-primary {
    background-color: #CCC;
    border: 2px solid #CCC;
}

.pie-bg-secondary {
    background-color: #E36159;
    border: 2px solid #E36159;
}

.pie-bg-tertiary {
    background-color: #2BAAB1;
    border: 2px solid #2BAAB1;
}

.pie-bg-quartenary {
    background-color: #734BA9;
    border: 2px solid #734BA9;
}

.pie-bg-success {
    background-color: #47a447;
    border: 2px solid #47a447;
}

.pie-bg-warning {
    background-color: #ed9c28;
    border: 2px solid #ed9c28;
}

.pie-bg-danger {
    background-color: #d2322d;
    border: 2px solid #d2322d;
}

.pie-bg-info {
    background-color: #5bc0de;
    border: 2px solid #5bc0de;
}

.pie-bg-dark {
    background-color: #171717;
    border: 2px solid #171717;
}
