
<div class="panel border-interactive-primary-color" style="border-width:2px; border-style:dashed">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                <br />
                <i class="rai-icon fa fa-frown-o"></i>
                <h4 class="base-text rai-font-modal-heading ">Questa scrivania è vuota</h4>
                <br />
                <button class="btn rai-btn-small full-width" onclick="RaiOpenAsyncModal('modal-gestione-widget', '@Url.Action("Modal_GestioneWidget","Scrivania")', null);">Aggiungi un widget</button>
                <br />
            </div>
        </div>
    </div>
</div>
