@using myRaiHelper;
@using myRaiCommonModel.Tech;
@using MVCProject.Custom_Helpers;

@model TechApprovazioneRichiesteVM

@{
    Layout = null;
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h2 class="panel-title">Media approvazione richieste</h2>
    </header>
    <div class="panel-body" style="display: block; padding: 8px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-primary"></th>
                    <th class="text-primary text-center">Giorni in media</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-xs-10"><b>Attesa approvazione</b></td>
                    <td class="col-xs-2 text-center"><b>@(Model.GiorniAttesaApprovazione.ToString( ))</b></td>
                </tr>
                <tr>
                    <td class="col-xs-10"><b>Attesa consuntivazione</b></td>
                    <td class="col-xs-2 text-center"><b>@(Model.GiorniAttesaConsuntivazioneRichiesta.ToString( ))</b></td>
                </tr>
                <tr>
                    <td class="col-xs-10"><b>Consuntivazione richiesta utente (giorni intercorsi tra la data richiesta ed il giorno richiesto)</b></td>
                    <td class="col-xs-2 text-center"><b>@(Model.GiorniConsuntivazioneEccezioneUtente.ToString( ))</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>