@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

<div class="modal right fade" id="modal-ecc" role="dialog" aria-hidden="true" style="display: none;">
    <input type="hidden" id="idecc" />
    <input type="hidden" id="idecc-presel" />
    <div class="modal-dialog modal-dialog-popin">
        <div class="modal-content height100">
            <div class="block block-transparent">
                <div class="block-header">
                    <label id="tit-modal-ecc" class="rai-font-modal-heading">
                        Nuova Eccezione
                    </label>
                    <div class="block-options">
                        <button data-dismiss="modal" type="button" class="btn-action-icon"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
                <div class="block-content">
                    <div id="eccezione-content" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>