@using myRaiCommonModel
@using myRaiHelper
@model DelegaModelVM

<style>
    .rai-select-popover-top .rai-select-popover-container {
        bottom: inherit;
        top: 4px;
    }

    .rai-select-popover-container {
        z-index: 1000;
    }
</style>

@{
    string urlActionSelect = Url.Action("GetDestinatario", "Deleghe");
}

<div class="block block-transparent no-margin-bottom">
    <div class="block-header">
        <label class="rai-font-modal-heading">Dettaglio delega</label>
        <div class="block-options">
            <button data-dismiss="modal" class="btn btn-action-icon" onclick="$(this).parent('.modal').css('z-index', '');"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    <div class="block-content">
        @using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "", false))
        {
            <div class="tab-content" style="border:none;box-shadow:none;">
                <div class="tab-pane active" id="sez-3" role="tabpanel">
                    <div class="row" id="deleghe-div-riepilogo">
                        @Html.Partial("~/Views/Deleghe/subpartial/_riepilogoCreaDelega.cshtml", Model)
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="block-footer-modal" style="height:60px;">
        <div class="">
            <div id="btns-fase1" class="block-footer" style="padding: 5px 2px;">
                <div class="rai-btn-fill">
                    <button type="button" id="deleghe-btn-chiudi-dettaglio-delega" class="btn rai-btn-secondary" onclick="Deleghe_ChiudiModaleDettaglioDelega();">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>