@using myRaiHelper
@using MVCProject.Custom_Helpers
@using myRaiGestionale.Controllers
@using myRaiCommonModel

@{
    Layout = "~/Views/Shared/_layoutContent.cshtml";
    ViewBag.Title = "HRIS - Deleghe";
}

@model DelegheVM

<section role="main" class="content-body" style="padding-top:10px;">
    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-8" id="">
                    <!-- PANEL DELEGHE CONCESSE -->
                    <div class="row">
                        <div class="col-sm-12" id="">
                            <section id="" class="panel" style="">
                                <header class="panel-heading" data-panel-toggle="">
                                    <h1 class="panel-title">Deleghe concesse</h1>
                                    <div class="panel-actions rai-panel-actions">
                                        <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
                                    </div>
                                </header>
                                <div class="panel-body no-padding">
                                    <div id="div_deleghe_concesse">
                                        <div class="block" style="margin-bottom:0px;">
                                            <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
                                                <div class="tab-pane active" role="tabpanel">
                                                    <div class="table-responsive" id="" style="display:none;">
                                                        <table class="rai-table table rai-table-vcenter">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="col-xs-12">
                                                                            <label class="rai-font-sm-bold"></label>
                                                                        </div>
                                                                    </th>
                                                                    <th class="text-right">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 text-right">
                                                                                <button class="btn rai-btn-small" aria-label="Rifiuta tutti" onclick="" title="Elimina selezionate" style="min-width:80px;">
                                                                                    Elimina selezionate
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="panel-body panel-body-nopadding" id="">
                                                        <div id="">
                                                            <div class="table-responsive">
                                                                <table class="rai-table table rai-table-vcenter" id="">
                                                                    <thead>
                                                                        <tr>
                                                                            @*<th>
                                                                                <div class="col-sm-12">
                                                                                    <label class="rai-caption" for=""></label>
                                                                                    <div class="rai-checkbox">
                                                                                        <input id="dem-check-all" name="dem-check" type="checkbox">
                                                                                        <label class="rai-caption" for="">&nbsp;</label>
                                                                                    </div>
                                                                                </div>
                                                                            </th>*@
                                                                            <th class="text-left">Dipendente</th>
                                                                            <th class="text-left">Descrizione</th>
                                                                            <th class="text-right">Azioni</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- PANEL DELEGHE CONCESSE -->
                    <!-- PANEL DELEGHE RICEVUTE -->
                    <div class="row">
                        <div class="col-sm-12" id="">
                            <section id="" class="panel" style="">
                                <header class="panel-heading" data-panel-toggle="">
                                    <h1 class="panel-title">Deleghe ricevute</h1>
                                    <div class="panel-actions rai-panel-actions">
                                        <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
                                    </div>
                                </header>
                                <div class="panel-body no-padding">
                                    <div id="div_deleghe_ricevute">
                                        <div class="block" style="margin-bottom:0px;">
                                            <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
                                                <div class="tab-pane active" role="tabpanel">
                                                    <div class="table-responsive" id="" style="display:none;">
                                                        <table class="rai-table table rai-table-vcenter">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="col-xs-12">
                                                                            <label class="rai-font-sm-bold"></label>
                                                                        </div>
                                                                    </th>
                                                                    <th class="text-right">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 text-right">
                                                                                <button class="btn rai-btn-small" aria-label="Rifiuta tutti" onclick="" title="Elimina selezionate" style="min-width:80px;">
                                                                                    Elimina selezionate
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="panel-body panel-body-nopadding" id="">
                                                        <div id="">
                                                            <div class="table-responsive">
                                                                <table class="rai-table table rai-table-vcenter" id="">
                                                                    <thead>
                                                                        <tr>
                                                                            @*<th>
                                                                                <div class="col-sm-12">
                                                                                    <label class="rai-caption" for=""></label>
                                                                                    <div class="rai-checkbox">
                                                                                        <input id="dem-check-all" name="dem-check" type="checkbox">
                                                                                        <label class="rai-caption" for="">&nbsp;</label>
                                                                                    </div>
                                                                                </div>
                                                                            </th>*@
                                                                            <th class="text-left">Dipendente</th>
                                                                            <th class="text-left">Descrizione</th>
                                                                            <th class="text-right">Azioni</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- FINE PANEL DELEGHE RICEVUTE -->
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel " style="">
                                <header class="panel-heading">
                                    <h1 class="panel-title">Nuova delega</h1>
                                    <div class="panel-actions rai-panel-actions">
                                    </div>
                                </header>
                                <div class="panel-body ">
                                    <div class="row">
                                        <div class="col-sm-12 push-20">
                                            <label class="rai-font-sm-neutral-bold">Puoi creare una nuova delega cliccando su crea</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="rai-btn-fill">
                                                <button class="btn rai-btn-small" aria-label="Crea" title="Crea" style="min-width:80px; float:right;" onclick="Deleghe_CreaDelega('@Model.MatricolaCorrente')">Crea</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end: page -->
</section>

@section afterjs{
    <script type="text/javascript">
        $(function () {
            RaiUpdateWidget('div_deleghe_concesse', '/Deleghe/GetContentDelegheConcesse', 'html', { matricola: @(Model.MatricolaCorrente)}, false, null, false, 'GET');

            RaiUpdateWidget('div_deleghe_ricevute', '/Deleghe/GetContentDelegheRicevute', 'html', { matricola: @(Model.MatricolaCorrente)}, false, null, false, 'GET');            
        });
    </script>
}