@{ 
    Layout = null;
    string ariaLabel = "";
}

@model List<MyRaiServiceInterface.it.rai.servizi.digigappws.TimOspitiElement>


<div class="panel-body block-content" style="padding: 5px;" id="timbraturecontent" role="grid">
    @{
        if (Model != null && Model.Any())
        {
            @Html.Partial("~/Views/Home/subpartial/_modalTransitiSfasatiInternal.cshtml", Model)
        }
        else
        {
            <div class="row timbratura-row" role="row" tabindex="" aria-label="@ariaLabel">
                <div class="col-xs-12 text-center">
                    <span>NON CI SONO DATI DA VISUALIZZARE</span>
                </div>
            </div>
        }
    }
</div>