

<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
						
					</div>

					<h2 class="panel-title">Il tuo orario di oggi</h2>

				 
				</header>
				<div class="panel-body">
                    <div class="row">
					<div class="col-xs-1 col-xs-offset-1"><i class="icons icon-login icon-orario"></i></div>
                    <div class="col-xs-3 font-180">                       
                         <span class="my-card-loading-block"> </span>
                    </div>
                    
                    <div class="col-xs-3 font-180 col-xs-offset-2">
                        <span class="my-card-loading-block"></span>
                    </div>
                        <div class="col-xs-1"><i class="icons icon-logout icon-orario"></i></div>
                        </div>
				</div>
				
</section>