<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>myRai</title>

    <meta name="description" content="myRai">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Icone -->

    <link rel="shortcut icon" href="~/assets/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="~/assets/img/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon-180x180.png">
    <!-- Fine Icone -->

    <!-- Fogli di stile -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">


    <!-- JS Plugins CSS vanno qui -->
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="~/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />
 

   
    <!-- Bootstrap and myRai CSS framework -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="~/assets/css/UIRai.css">
    <link rel="stylesheet" href="~/assets/css/myrai.css">
    <link rel="stylesheet" href="~/assets/js/plugins/sweetalert2/sweetalert2.css">
    <!-- Si può aggiungere un foglio di stile custom, tipo: -->
    <!-- <link rel="stylesheet" id="css-theme" href="~/assets/css/themes/digigapp.min.css"> -->
    <!-- Fine Fogli di stile -->

</head>
<body>
    <div id="page-loaderR"><span class="loaderR"><span class="loader-innerR">S</span></span></div>

    <!-- Container di Pagina -->

    <div id="page-container" class="sidebar-l sidebar-mini sidebar-o header-navbar-fixed">



        @Html.Partial( "../Shared/sidebar" , myRaiHelper.UtenteHelper.getSidebarModel(  ) )
        @* new myRai.Models.sidebarModel(3))*@

        @Html.Partial( "../Shared/header" )

        <!-- Main Container -->
        <main id="main-container">
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-7">
                        <h1 class="page-heading">
                            Alberghi Convenzionati
                        </h1>
                    </div>

                </div>
            </div>
            <!-- FINE Intestazione -->
            <!--Contenuto di Pagina -->
            <div class="content content-narrow">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="block">
                            <div class="block-content block-content-mini">
                                <!-- Ricerca -->
                                <form class="js-form-search push-10" action="#" method="post">
                                    <div class="input-group input-group-lg">
                                        <input class="js-search-address form-control" type="text" placeholder="Ricerca.. (es: Stadio Olimpico)">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- FINE Ricerca -->
                            </div>
                            <!-- Mappa -->
                            <div id="js-map-search" style="height: 500px;"></div>
                        </div>

                    </div>


                </div>
                <!-- FINE Contenuto di Pagina -->
        </main>
        <!-- FINE Main Container -->


    </div>
    <!-- FINE Page Container -->

    <!-- Partial view per modali -->

    <!-- FINE Partial view per modali -->

    <!-- UIRai Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie e App.js -->
     <script src="~/assets/js/core/jquery.min.js"></script>
     <script src="~/assets/js/core/bootstrap.min.js"></script>
     <script src="~/assets/js/core/jquery.slimscroll.min.js"></script>
     <script src="~/assets/js/core/jquery.scrollLock.min.js"></script>
     <script src="~/assets/js/core/jquery.appear.min.js"></script>
     <script src="~/assets/js/core/jquery.countTo.min.js"></script>
     <script src="~/assets/js/core/jquery.countTo.min.js"></script>
     <script src="~/assets/js/core/jquery.placeholder.min.js"></script>
     <script src="~/assets/js/core/js.cookie.min.js"></script>
     <script src="~/assets/js/core/moment.js"></script>
     <script src="~/assets/js/core/JSRai.js"></script>


    <!-- Plugins JS di pagina  + Codice JS di pagina -->
    <script src="~/assets/js/plugins/sweetalert2/es6-promise.auto.min.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
  
    <script src="~/assets/js/myrai.js"></script>
    <script src="~/assets/js/plugins/jquery-ui/jquery-ui.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp6ymPgfaFqCRv4nGI57ahNUShl2oyv0w"></script>
    <script src="~/assets/js/plugins/gmapsjs/gmaps.min.js"></script>

    <script src="~/assets/js/pages/alberghi_base_maps.js"></script>


    <div id="pg-visible-xs" class="visible-xs"></div>
    <div id="pg-visible-sm" class="visible-sm"></div>
    <div id="pg-visible-md" class="visible-md"></div>
    <div id="pg-visible-lg" class="visible-lg"></div>
  
</body>
</html>