@using myRaiHelper
@using myRaiCommonModel.Gestionale
@model List<MboIniziativa>


@if (Model == null || !Model.Any())
{
    @Html.RenderWidget(WidgetType.Normal, "Nuova iniziativa", "fa fa-plus", "Crea una nuova iniziativa", action:new ActionTemplate()
{
    Text="Crea",
    OnClick = "MboOpenModalIniziativa(0);"
})
}
else
{
    using (Html.BeginPanel(PanelType.PanelNoPadding, "Iniziative"))
    {
        <table class="table rai-table rai-table-panel rai-table-vcenter">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="full-width"><span>@item.Nome</span></td>
                    <td><button class="btn rai-btn-small" onclick="MboOpenModalIniziativa(@item.Id)">Dettagli</button></td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    <button class="btn rai-btn-small full-width" onclick="MboOpenModalIniziativa(0)">Apri una nuova iniziativa</button>
                </td>
            </tr>
        </table>
    }
}
