@model myRaiCommonModel.CalendarioFerie

@{ List<string> AlertArretrati = new List<string>();}

@if (Model.PianoFerieDip.ArretratiSoglia1_Ok == false)
{
    AlertArretrati.Add(((DateTime)Model.PianoFerieDip.Definizioni.data_arretrati_soglia1).ToString("dd/MM/yyyy") + " (1-6 gg)");
}

@if (Model.PianoFerieDip.ArretratiSoglia2_Ok == false)
{
    AlertArretrati.Add(((DateTime)Model.PianoFerieDip.Definizioni.data_arretrati_soglia2).ToString("dd/MM/yyyy") + " (7-10 gg)");
}

@if (Model.PianoFerieDip.ArretratiSoglia3_Ok == false)
{
    AlertArretrati.Add("31/12/2020 (11-30 gg)");
}
@if (AlertArretrati.Any())
{
    int arr = Model.PianoFerieDip.ArretratiCumulativiPercentuale;
    <label id="arr-soglia" class="text-warning" style="padding:2px">
    Attenzione, i seguenti limiti temporali non sono stati rispettati per gli arretrati (@arr gg):</label>

    foreach (string s in AlertArretrati)
    {
        <label class="alert-per-arr text-warning text-bold">@s @(AlertArretrati.IndexOf(s) < AlertArretrati.Count - 1 ? "," : " ")</label>
    }
}