@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model CalendarioFerie

@{
    Layout = null;
}

<style>
    .calendario-table-fe {
        background: #ddd;
        border-spacing: 2px;
        border-collapse: separate;
    }

    .thIntestazione {
        height: 36px;
        background: #ffffff;
        padding: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
        text-align: center;
        font-weight: bold;
    }

    .tdDay {
        width: 25px;
        height: 36px;
        background: #ffffff;
        padding: 1px 1px 1px 1px;
        text-align: center;
    }

    .tdDayGrayCal {
        height: 36px;
        background-color: #f0f0f0;
        padding: 1px 1px 1px 1px;
        text-align: center;
    }

    .tdMonth {
        width: 124px;
        height: 36px;
        background: #ffffff;
        text-align: left;
        padding-left: 25px;
    }
</style>

<div class="sezione-calendario-feriePermessi">
    <div class="div-table-calendario">
        <table class="table calendario-table-fe">
            <thead>
                <tr class="thIntestazione">
                    <th scope="col">Mese</th>
                    @for ( int i = 0 ; i < 31 ; i++ )
                    {
                        <th scope="col">@(i + 1)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    for ( int i = 1 ; i < 13 ; i++ )
                    {
                        <tr>
                            <td scope="row" class="text-primary">@CommonHelper.TraduciMeseDaNumLett( i.ToString( "00" ) )</td>
                            @for ( int d = 1 ; d < 32 ; d++ )
                            {
                                <td class="tdDayGrayCal">&nbsp;</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>