
<div class="rai-checkbox">

    @*<input id="checkSelectAllPeople" type="checkbox" data-check-group-all="persona-delega" onclick="RaiToggleCheckBoxAll('persona-delega')" />*@
    <label> </label>
</div>
