@using myRaiData

@{
    digiGappEntities db = new digiGappEntities();
    MyRai_Voci_Menu voce = db.MyRai_Voci_Menu.FirstOrDefault(x => x.codiceMy == "ACADG" && x.Titolo == "Domande frequenti");
    string urlFAQ = voce != null ? voce.customView : "";
}

<div class="row">
    <div class="col-sm-12">
        <h5 class="text-center">Per aggiungere i corsi preferiti, consulta le <a href="@urlFAQ" target="_blank">domande frequenti</a>.</h5>
    </div>
</div>