@using myRaiHelper;
@using myRaiCommonModel.ess;
@using MVCProject.Custom_Helpers;

@model BustaPagaModel

@{
    ViewBag.Title = "Documenti amministrativi";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section role="main" class="content-body">
    <!-- start: page -->
    <!-- Main Container -->
    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-8" id="bstot">
                    @Html.Partial("subpartial/elenco_skeleton")
                </div>
                <div class="col-sm-4">
                    @Html.Partial("subpartial/_bilancioletti_skeleton")
                </div>
            </div>
        </div>
    </main>
    <!-- end: page -->
</section>

<div class="modal fade right" id="pdf-modalDoc" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-popin modal-lg">
        <div class="modal-content" id="pdfcontent"></div>
    </div>
</div>