

<div class="modal fade" id="modal-popup-iniziale" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-popu-iniziale">

        <div class="modal-content">

            <div class="block block-themed block-transparent remove-margin-b">

                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Benvenuto</h3>
                </div>
                <div class="form-group bg-white">
                    <div class="col-xs-12 bg-white">
                        <div class="block-content">
<p>@myRaiHelper.UtenteHelper.Nominativo() benvenuto!</p>
<p>Il curriculum aziendale è stato profondamente rinnovato sia nella veste grafica sia nell’articolazione dei contenuti.</p>
<p>La Home Page è composta da singoli box suddivisi per argomento. All’interno di ciascun box potrai trovare dati già inseriti dall’Azienda (per esempio i corsi di formazione Rai) oppure potrai aggiungere direttamente le tue informazioni personali.</p>
<p>Nella parte sinistra della Home Page trovi i tuoi dati anagrafici e di inquadramento già precompilati da Rai. Nello stesso box in fondo hai a disposizione 2 utili pulsanti: uno per stampare il tuo curriculum, prima di validarlo; e uno per la guida alla compilazione, dove è presente un indirizzo di posta elettronica per eventuali segnalazioni e suggerimenti.</p>
<p>
Grazie per la collaborazione e buon lavoro.
</p>
<p>
Direzione Risorse Umane e Organizzazione
</p>
</div>

                                           </div>
                </div>

            </div>
        </div>
    </div>
</div>
