@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model SoggiorniArcal
@{
    ViewBag.Title = "Soggiorni Arcal";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}


<section role="main" class="content-body">
    <div id="containerSideLeft" class="col-lg-8" style="min-width: 500px;">
        @Html.Partial("~/Views/SoggiorniArcal/subpartial/ListaSoggiorni.cshtml", Model.StoricoSoggiorni)
    </div>
    <div id="containerSideRight" class="col-lg-4" style="min-width: 300px;">
        @{ 
            string numRichieste = "<b>0</b> richieste";
            if (Model.StoricoSoggiorni!=null && Model.StoricoSoggiorni.SoggiorniRichiesti!=null)
            {
                int counter = Model.StoricoSoggiorni.SoggiorniRichiesti.Count();
                numRichieste = "<b>" + counter + "</b> ";
                if (counter==1)
                {
                    numRichieste += "richiesta";
                }
                else
                {
                    numRichieste += "richieste";
                }
            }
        }

        @Html.RenderWidget(WidgetType.Normal, "Riepilogo", "icons icon-wallet", numRichieste, mainTextType:WidgetTextType.Html)

    </div>
</section>
