@{
    ViewBag.Title = "Design System - One Page";

    Layout = "~/Views/Shared/_LayoutContent.cshtml";

    string loremIpsum = "Lorem ipsum dolor sit amet, consectetur cras amet.";
    string loremLabel = "Lorem ipsum";
}


<section role="main" class="content-body">
    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">


                    @using (Html.BeginOnePageNav("onepage-sample", "Informazioni"))
                    {
                        <div class="row">
                            <div class="col-sm-8">
                                @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, ""))
                                {
                                    <p>
                                        Questo è un esempio di navigazione nella stessa pagina, usando l'apposito helper.
                                    </p>
                                    <p>
                                        Al momento sei nella pagina principale
                                    </p>
                                }
                            </div>
                            <div class="col-sm-4">
                                @Html.RenderWidget(myRaiHelper.WidgetType.Normal, "Auguri!", "fa fa-birthday", "Oggi è il tuo giorno fortunato",
                               action: new myRaiHelper.ActionTemplate()
                               {
                                   Text = "Seconda pagina",
                                   OnClick = String.Format("RaiOPNavGoToNext('{0}', '{1}', '{2}', '{3}')", "onepage-sample", "sub-page-1", "Seconda pagina", Url.Action("SubPage1","RaiDesign"))
                               })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>

    <!-- end: page -->
</section>