<section class="panel" id="panel-docdipendente">
    <header class="panel-heading">
        <div class="panel-actions rai-panel-actions">
            <button href="#" class="btn btn-action-icon" id="button-refresh-doc" type="button" data-toggle="block-option" data-action="refresh_toggle"
               data-refreshurlllll="/notifiche/refreshMieNotifiche" data-parentdiv="panel-docdipendente"
               data-refreshelements="docdipendente"
               data-action-mode="demo"><i class="fa fa-refresh"></i></button>
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        </div>
        <h2 class="panel-title">Eventi disponibili</h2>
    </header>
    <div id="dicdipendente" class="panel-body panel-body-nopadding rai-loader">
        <br />
        <br />
        <br />
        <br />
    </div>
</section>

<section class="panel" id="panel-docdipendente">
    <header class="panel-heading">
        <div class="panel-actions rai-panel-actions">
            <button href="#" class="btn btn-action-icon" id="button-refresh-doc" type="button" data-toggle="block-option" data-action="refresh_toggle"
               data-refreshurlllll="/notifiche/refreshMieNotifiche" data-parentdiv="panel-docdipendente"
               data-refreshelements="docdipendente"
               data-action-mode="demo"><i class="fa fa-refresh"></i></button>
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        </div>
        <h2 class="panel-title">Eventi prenotati</h2>
    </header>
    <div id="dicdipendente" class="panel-body no-padding">
        <div class="block no-margin-bottom">
            <ul class="nav nav-tabs nav-tabs-alt  nav-justified" data-toggle="tabs">
                <li class="tabbianco active">
                    <a data-toggle="tabs" id="a1" href="#tab1">PRENOTAZIONE ATTIVE</a>
                </li>
                <li class="tabbianco">
                    <a data-toggle="tabs" id="a2" href="#tab2">ARCHIVIO PRENOTAZIONI</a>
                </li>
            </ul>
            <div class="block-content tab-content rai-loader ">
                <br/>
                <br />
                <br />
            </div>
        </div>
    </div>
</section>