@using myRaiData;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel.raiplace;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;
@using MyRaiServiceInterface.it.rai.servizi.digigappws;

@model StatusOrdiniEnum

<a data-toggle="tooltip" title="@(Model.GetAmbientValue())">
    <i class="fa @(Model.GetIconDescription())" aria-hidden="true"></i>
</a>