
.block {
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}
.block .block,
.side-content .block {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.block-header {

  padding: 15px 20px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.block-header:before,
.block-header:after {
  content: " ";
  display: table;
}
.block-header:after {
  clear: both;
}
.block-title {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
.block-title.text-normal {
  text-transform: none;
}
.block-title small {
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
}
.block-content {
  margin: 0 auto;
  padding: 20px 20px 1px;
  max-width: 100%;
  overflow-x: visible;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.block-content p,
.block-content .push,
.block-content .block,
.block-content .items-push > div {
  margin-bottom: 20px;
}
.block-content .items-push-2x > div {
  margin-bottom: 40px;
}
.block-content .items-push-3x > div {
  margin-bottom: 60px;
}
.block-content.block-content-full {
  padding-bottom: 20px;
}
.block-content.block-content-full .pull-b {
  margin-bottom: -20px;
}
.block-content .pull-t {
  margin-top: -20px;
}
.block-content .pull-r-l {
  margin-right: -20px;
  margin-left: -20px;
}
.block-content .pull-b {
  margin-bottom: -1px;
}
.block-content.block-content-mini {
  padding-top: 10px;
}
.block-content.block-content-mini.block-content-full {
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .block-content.block-content-narrow {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.block.block-full .block-content {
  padding-bottom: 20px;
}
.block.block-full .block-content.block-content-mini {
  padding-bottom: 10px;
}
.block-table {
  width: 100%;
}
.block-table td {
  padding: 10px;
  vertical-align: middle;
}
.block.block-bordered {
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.block.block-bordered > .block-header {
  border-bottom: 1px solid #e9e9e9;
}
.block.block-rounded {
  border-radius: 4px;
}
.block.block-rounded > .block-header {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.block.block-rounded > .block-content:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.block.block-rounded > .block-content:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block.block-themed > .block-header {
  border-bottom: none;
}
.block.block-themed > .block-header > .block-title {
  color: #fff;
}
.block.block-themed > .block-header > .block-title small {
  color: rgba(255, 255, 255, 0.75);
}
.block.block-transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.block.block-opt-refresh {
  position: relative;
}
.block.block-opt-refresh > .block-header {
  opacity: .25;
}
.block.block-opt-refresh > .block-content {
  opacity: .15;
}
.block.block-opt-refresh:before {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: " ";
}
.block.block-opt-refresh:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #0a6292;
  font-family: simple-line-icons;
  font-size: 18px;
  text-align: center;
  z-index: 2;
  content: "\e098";
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}
.block.block-opt-refresh.block-opt-refresh-icon2:after {
  content: "\e06e";
}
.block.block-opt-refresh.block-opt-refresh-icon3:after {
  content: "\e020";
}
.block.block-opt-refresh.block-opt-refresh-icon4:after {
  font-family: 'FontAwesome';
  content: "\f021";
}
.block.block-opt-refresh.block-opt-refresh-icon5:after {
  font-family: 'FontAwesome';
  content: "\f185";
}
.block.block-opt-refresh.block-opt-refresh-icon6:after {
  font-family: 'FontAwesome';
  content: "\f1ce";
}
.block.block-opt-refresh.block-opt-refresh-icon7:after {
  font-family: 'FontAwesome';
  content: "\f250";
}
.block.block-opt-refresh.block-opt-refresh-icon8:after {
  font-family: 'FontAwesome';
  content: "\f01e";
}
.ie9 .block.block-opt-refresh:after {
  content: "Loading.." !important;
}
.block.block-opt-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  margin-bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.block.block-opt-hidden.block-bordered > .block-header {
  border-bottom: none;
}
.block.block-opt-hidden > .block-content {
  display: none;
}
a.block {
  display: block;
  color: #626c71;
  font-weight: normal;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
a.block:hover {
  color: #626c71;
  opacity: .9;
}
a.block.block-link-hover1:hover {
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
a.block.block-link-hover1:active {
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}
a.block.block-link-hover2:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
a.block.block-link-hover2:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
a.block.block-link-hover3:hover {
  /*-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);*/
  background-color: #25affb;
  color:#fff;
  opacity: 1;
}
a.block.block-link-hover3:active {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.block > .nav-tabs {
  background-color: #e5e7e7;
  border-bottom: none;
}
.block > .nav-tabs.nav-tabs-right > li {
  float: right;
}
.block > .nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
}
.block > .nav-tabs > li {
  margin-bottom: 0;
}
.block > .nav-tabs > li > a {
  margin-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #626c71;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0;
}
.block > .nav-tabs > li > a:hover {
  color: #0a6292;
  background-color: transparent;
  border-color: transparent;
}
.block > .nav-tabs > li.active > a,
.block > .nav-tabs > li.active > a:hover,
.block > .nav-tabs > li.active > a:focus {
  color: #626c71;
  background-color: #fff;
  border-color: transparent;
}
.block > .nav-tabs.nav-tabs-alt {
  background-color: transparent;
  border-bottom: 1px solid #e9e9e9;
}
.block > .nav-tabs.nav-tabs-alt > li > a {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.block > .nav-tabs.nav-tabs-alt > li.dagiust > a:hover {
  -webkit-box-shadow: 0 2px #ec394a;
  box-shadow: 0 2px #ec394a;
}

.block > .nav-tabs.nav-tabs-alt > li > a:hover {
  -webkit-box-shadow: 0 2px #0a6292;
  box-shadow: 0 2px #0a6292;
}

.block > .nav-tabs.nav-tabs-alt > li.maggior > a:hover {
  -webkit-box-shadow: 0 2px #88e271;
  box-shadow: 0 2px #88e271;
}


.block > .nav-tabs.nav-tabs-alt > li.active > a,
.block > .nav-tabs.nav-tabs-alt > li.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.active > a:focus {
  -webkit-box-shadow: 0 2px #0a6292;
  box-shadow: 0 2px #0a6292;
}

.block > .nav-tabs.nav-tabs-alt > li.dagiust.active > a,
.block > .nav-tabs.nav-tabs-alt > li.dagiust.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.dagiust.active > a:focus {
      -webkit-box-shadow: 0 2px #ec394a;
  box-shadow: 0 2px #ec394a;
  color: #ec394a;
}

.block > .nav-tabs.nav-tabs-alt > li.maggior.active > a,
.block > .nav-tabs.nav-tabs-alt > li.maggior.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.maggior.active > a:focus {


    -webkit-box-shadow: 0 2px #88e271;
  box-shadow: 0 2px #88e271;
    color: #88e271;
}

.block .block-content.tab-content {
  overflow: hidden;
}
.block-options-simple {
  float: right;
  margin: -3px 0 -3px 15px;
  padding: 1px 0;
  min-height: 24px;
}
.block-options-simple.block-options-simple-left {
  float: left;
  margin-right: 15px;
  margin-left: 0;
}
.block-options-simple.block-options-simple-left + .block-title {
  float: right;
}
.block-options {
  float: right;
  margin: -3px 0 -3px 15px;
  padding: 0;
  height: 24px;
  list-style: none;
}
.block-options:before,
.block-options:after {
  content: " ";
  display: table;
}
.block-options:after {
  clear: both;
}
.block-options.block-options-left {
  float: left;
  margin-right: 15px;
  margin-left: 0;
}
.block-options.block-options-left + .block-title {
  float: right;
}
.block-options > li {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
}
.block-options > li > a,
.block-options > li > button {
  display: block;
  padding: 2px 3px;
  color: #b1b6b8;
  opacity: .6;
}
.block.block-themed > .block-header .block-options > li > a,
.block.block-themed > .block-header .block-options > li > button {
  color: #fff;
}
.block-options > li > a:hover,
.block-options > li > button:hover {
  text-decoration: none;
  opacity: 1;
}
.block-options > li > a:active,
.block-options > li > button:active {
  opacity: .6;
}
.block-options > li > span {
  display: block;
  padding: 2px 3px;
}
.block.block-themed > .block-header .block-options > li > span {
  color: #fff;
}
.block-options > li > a:focus {
  text-decoration: none;
  opacity: 1;
}
.block-options > li > button {
  background: none;
  border: none;
}
.block-options > li.active > a,
.block-options > li.open > button {
  text-decoration: none;
  opacity: 1;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list > li {
  position: relative;
}
.list-timeline {
  position: relative;
  padding-top: 10px;
}
.list-timeline > li {
  margin-bottom: 10px;
}
.list-timeline .list-timeline-time {
  margin: 0 -20px;
  padding: 10px 20px 10px 40px;
  min-height: 40px;
  text-align: right;
  color: #999;
  font-size: 13px;
  font-style: italic;
  background-color: #f9f9f9;
  border-radius: 2px;
}
.list-timeline .list-timeline-icon {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.list-timeline .list-timeline-content {
  padding: 10px 10px 1px;
}
.list-timeline .list-timeline-content > p:first-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .list-timeline {
    padding-top: 20px;
  }
  .list-timeline:before {
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    display: block;
    width: 4px;
    content: "";
    background-color: #f9f9f9;
    z-index: 1;
  }
  .list-timeline > li {
    min-height: 40px;
    z-index: 2;
  }



    .list-timeline > li:before {
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: #e7e7e7;
    z-index: 1;
}

  .list-timeline > li:last-child {
    margin-bottom: 0;
  }
  .list-timeline .list-timeline-time {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    width: 90px;
    background-color: transparent;
  }
  .list-timeline .list-timeline-icon {
    top: 3px;
    left: 105px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    z-index: 2 !important;
  }
  .list-timeline .list-timeline-content {
    padding-left: 160px;
  }
}
.list-activity > li {
  margin-bottom: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  font-size: 13px;
  border-bottom: 1px solid #d8dbdb;
}
.list-activity > li > i:first-child {
  position: absolute;
  left: 10px;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.list-activity > li:last-child {
  border-bottom: none;
}
.list-events > li {
  margin-bottom: 5px;
  padding: 8px 30px 8px 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 700;
  background-color: #b5d0eb;
}
.list-events > li:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  color: rgba(255, 255, 255, 0.75);
  content: "\f073";
}
.list-events > li:hover {
  cursor: move;
}
.list-simple > li {
  margin-bottom: 20px;
}
.list-simple-mini > li {
  margin-bottom: 10px;
}
.list-li-clearfix > li:before,
.list-li-clearfix > li:after {
  content: " ";
  display: table;
}
.list-li-clearfix > li:after {
  clear: both;
}