@using myRaiData;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;
@using MyRaiServiceInterface.it.rai.servizi.digigappws;

@model AllegatoEccezione

<div class="col-sm-3">


    <div class="widget-summary widget-summary-xlg to-send">
        <div class="widget-summary-col widget-summary-col-icon upload-drop-zone" id="drop-zone"
             style="display:block">
            <div class="summary-icon item item-rounded text-primary bigborder"
                 data-tourdb="tour-index-allegati" data-step="5" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Inserisci qui tutto il materiale che reputi significativo per raccontare la tua storia. Puoi salvare allegati in più formati: PDF, JPEG, VIDEO e AUDIO. </p>">
                <span class="cursor-pointer">
                    <i class="icon-plus-@Model.indice" onclick="$('#fileUpload-@Model.indice').click()">+</i>
                    <i class="icon-doc-@Model.indice icons icon-doc" style="display:none"></i>
                </span>
            </div>
        </div>
        <span id="filename-@Model.indice"></span>

        <input type="file" class="hide allegati-regole" name="_fileUpload" id="fileUpload-@Model.indice"
               onchange="UploadAllegati(@Model.indice)" multiple="">

        <input type="hidden" id="hidden-@Model.indice" />
    </div>
</div>
