@using MyRaiServiceInterface.it.rai.servizi.digigappws;

@model Evidenza 

@if (Model.IsQuadrabileDaDipendente)
{
    <a style="margin-left:18px" href="#" onclick="Nascondi('@Model.data.ToString("dd/MM/yyyy")',this)">Nascondi</a>
}