
                                <li class="PRE">
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Calendario</span></a>
                                    <ul>
										<li >
                                            <a href="/Calendario/settimanale">Settimanale</a>
                                        </li>
                                        <li>
                                            <a href="/Calendario/mensile">Mensile</a>
                                        </li>
                                        <li >
                                            <a href="/Calendario/annuale">Annuale</a>
                                        </li>
                                    </ul>
                                </li>
						        <li class="PRE">
                                    <a  href="/Calendario/pianoferie"><i class="fa fa-suitcase"></i><span class="sidebar-mini-hide">Piano Ferie</span></a>
                                </li>
                                 <li class="PRE">
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wrench"></i><span class="sidebar-mini-hide">Le mie richieste</span></a>
                                    <ul>
                                        <li >
                                            <a href="#">In approvazione</a>
                                        </li>
                                        <li>
                                            <a href="#">Approvate</a>
                                        </li>
                                    </ul>
                                </li>