<link rel="stylesheet" id="css-main" href="~/assets/css/MyRaiChatBot.css">
<script src="~/assets/js/MyRaiChatBot.js"></script>

@*highlight*@

<a id="chatBoxButton" class=" chat-show-button chatBtnFadeIn" href="#" onclick="ChatShowBox()" style="display:none">
    <i class="fa fa-ambulance">&nbsp;</i>Raimondo
</a>

@*<a id="chatCloseBoxButton" class="highlight chat-show-button chatBtnFadeOut" href="#" onclick="ChatHideBox()" style="display:none">
        <i class="fa fa-times"></i>
    </a>*@

<div id="chatBoxContainer" class="chat-outer-container chatFadeOut" style="">
    <section class="panel chat-panel">
        <div class="chat-box-raimondo-shadow">&nbsp;</div>
        <div class="widget-profile-info chat-box-img-raimondo" style="">
            <div class="profile-picture">
                <img role="presentation" class="borderprofile chat-img-raimondo" style="width: 68px; height: 68px; " src="~/assets/img/avatars/m2.png">
            </div>
        </div>
        <header class="panel-heading">
            <div class="panel-actions">
                @*<a href="#" class="panel-action panel-action-dismiss" data-panel-toggle="" onclick="ChatHideBox()"></a>*@
            </div>
            <h4 class="panel-title" style="margin-left:80px;">Raimondo</h4>
        </header>
        <div class="panel-body" style="padding:5px;height:440px;">
            <div class="chat-msg-container">
                <div id="chatContainer" class="chat-inner-container">
                    <div class="chat-line">
                        <div class="chat-msg chat-msg-rec">
                            <span>Ciao, come posso aiutarti?</span>
                        </div>
                    </div>
                </div>
                <div id="chat-msg-sender" class="chat-msg-sender" style="height:39px;">
                    <textarea id="chatMsg" placeholder="Scrivi un messaggio qui..." class="chat-box" onkeydown="ChatAutosize()" style="height:25px;"></textarea>
                    @*<a class="btn chat-button-close" onclick="ChatSendMessage()"><i class="fa fa-paper-plane-o"></i></a>*@
                    <a class="btn chat-button-close" onclick="ChatHideBox()"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
