@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model MensaModel
@{
    ViewBag.Title = "Riepilogo Mensa";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}


<section id="sectionmensa" role="main" class="content-body">
    @Html.Partial("subpartial/mensa")
</section>
