@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@{
    Layout = "~/Views/Shared/_layoutContent.cshtml";
    string[] mess = CommonHelper.GetParametri<string>(EnumParametriSistema.MessaggioChiusura);
}

<style>
    .fa-remove:before {
        content: "\f00d";
    }

    .step-box {
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    .gest-not-authorized {
        opacity: 0.1;
    }
</style>
<section role="main" class="content-body">
    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    @if (Request.Browser.IsMobileDevice)
                    {
                        @Html.Partial("subpartial/Widget_Ricerca", new myRai.Controllers.RicercaRichiesteModel() { BoxDest = "ElencoRichieste", ResultView = "ElencoRichieste" })
                    }

                    @Html.RenderAsyncPanel(PanelType.PanelNoPadding, "Elenco richieste", "ElencoRichieste", "ApprovazioneFormazione", contentId:"ElencoRichieste")
                </div>
                <div class="col-sm-4">
                    @if (!Request.Browser.IsMobileDevice)
                    {
                        @Html.Partial("subpartial/Widget_Ricerca", new myRai.Controllers.RicercaRichiesteModel() { BoxDest = "ElencoRichieste", ResultView = "ElencoRichieste" })
                    }
                </div>
            </div>
        </div>
    </main>
</section>


<div class="modal right fade" id="modal-richiesta" role="dialog" aria-hidden="true" style="display: none;">
    <div id="modal-richiesta-internal" style="overflow-x:hidden;overflow-y:auto"></div>
</div>

<div class="modal fade" id="modal-richiesta-inline" role="dialog" aria-hidden="true" style="display: none;">
    <div id="modal-richiesta-inline-internal" style="overflow-x:hidden;overflow-y:auto"></div>
</div>

@section afterjs
{
    @Html.Raw(TempData["script"])

    <script type="text/javascript">
        function pippo() {
            $('.collapse').on('shown.bs.collapse', function (e) {
                var $panel = $(this).closest('.panel');
                $('html,body').animate({
                    scrollTop: $panel.offset().top - 70
                }, 500);
            });
        }
    </script>
}