<section class="panel">
    <header class="panel-heading">

        <h2 class="panel-title">Il mio team</h2>
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        </div>
    </header>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" id="ul-da-app"></ul>
        <div id="appr" class="block-content tab-content">
            <span class="my-card-loading-block" style="width: 80%; height: 30px;"></span>
            <span class="my-card-loading-block" style="width: 80%; height: 30px;"></span>
            <span class="my-card-loading-block" style="width: 80%; height: 30px;"></span>
        </div>
    </div>
</section>