@using myRaiCommonModel.Gestionale
@model CessazioneModel


<div class="rai-table-info">
    <div class="row">
        <div class="col-sm-6 ">
            <label class="text-bold">Importo netto</label>
        </div>
        <div class="col-sm-6">
            <label>@(Model.Pratica.IMPORTO_NETTO != null ? String.Format("€ {0:N}", Model.Pratica.IMPORTO_NETTO.Value) : "-")</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <label class="text-bold">Data pagamento</label>
        </div>
        <div class="col-sm-6">
            <label>@(Model.Pratica.DATA_PAGAMENTO.HasValue ? Model.Pratica.DATA_PAGAMENTO.Value.ToString("dd/MM/yyyy") : "-")</label>
        </div>
    </div>
</div>

