@using myRaiHelper
@using MVCProject.Custom_Helpers
@model string

@{
    string title = "";
    switch (Model)
    {
        case "ANPAL":
            title = "Caricamento documenti Anpal";
            break;
        case "TESSCONTR":
            title = "Caricamento tessere contributive";
            break;
        /*case "DICHMAT":
            title = "Caricamento dicharazioni maternità";
            break;*/
        case "__SOLLECITI__":
            title = "Gestione solleciti";
            break;
        case "AMM_CONT":
            title = "Controllo dati contabili";
            break;
        default:
            title = "Errore";
            break;
    }
}

@using (Html.BeginModal(title))
{
    <div class="row">
        <div class="col-sm-12">
            <section class="panel ">
                <div class="panel-body">
                    <form action="/" id="form-ric-extra" method="post">
                        <input data-val="true" data-val-required="Il campo HasFilter è obbligatorio." id="HasFilter" name="HasFilter" type="hidden" value="False">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 push-10">
                                    <label class="rai-caption" for="Matricola">Matricola</label>
                                    <input class="form-control form-ric-extra form-control-value" id="Matricola" name="Matricola" onkeydowwn="LookForKeyDown()" placeholder="Matricola" type="text" value="">
                                </div>
                                <div class="col-sm-6 push-10">
                                    <label class="rai-caption" for="Nominativo">Nominativo</label>
                                    <input class="form-control form-ric-extra form-control-value" id="Nominativo" name="Nominativo" onkeydowwn="LookForKeyDown()" placeholder="Nominativo" type="text" value="">
                                </div>
                            </div>
                            <div class="row form-button">
                                <div class="col-sm-12">
                                    <div class="rai-btn-fill">
                                        <button id="btnPulisciRicerca" class="btn rai-btn-secondary" title="Azzera" type="reset" value="Azzera" onclick="IncExtraPulisciFiltri()">Azzera</button>
                                        <button id="btnCercaIncentivati" class="btn rai-btn-primary" title="Cerca" type="submit" value="Cerca" onclick="IncCercaExtra(true)">Cerca</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                @*<div class="panel-heading">
                    <h4 class="panel-title">Elenco dipendenti</h4>
                </div>*@
                <div class="panel-body panel-body-nopadding">
                    @if (Model == "__SOLLECITI__")
                    {
                        <div class="row bg-neutrals-xl-20" style="padding:10px">
                            <div class="col-sm-12">
                                <div class="rai-checkbox">
                                    <input type="checkbox" id="visStorico" onclick="UpdateExtra()" />
                                    <label for="visStorico">Visualizza storico</label>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="ElencoExtraExt" class="overflow-hidden">
                        <div id="ElencoExtra" data-action="GetElencoExtra" data-extra="@Model" data-from-modal="true">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}