@model myRaiData.Incentivi.XR_INC_DIPENDENTI

    <div class="row">
        <div class="col-sm-12">
            <div style="display:flex;">
                <div>
                    <input id="inputAttachFile" class="hidden" type="file" name="browse" onchange='VerbaleSelezionato("@Model.ANAGPERS.DES_COGNOMEPERS", "@Model.ANAGPERS.DES_NOMEPERS")' accept="application/pdf" />
                    <div id="boxFile" class="summary-icon item item-2x item-rounded border-interactive-primary-color interactive-primary-color bigborder">
                        <span id="spanAddFile" class="cursor-pointer">
                            <i id="iAddFile" style="font-size:36px;" role="link" aria-label="Aggiungi il verbale" class="" onclick="$('#inputAttachFile').trigger('click')">+</i>
                            <i id="iAddedFile" class="icons icon-doc" style="font-size:36px; display:none;" aria-label="Visualizza il verbale"></i>
                        </span>
                        <a class="hover-icon-span visibilityfixed" id="hrefCanc" tabindex="0" aria-label="Cancella contributo" style="display:none;  margin-left: -10px; position: absolute;">
                            <span class="icons icon-trash h4 interactive-primary-color" onclick="ConfermaCancellazioneVerbale()"></span>
                        </a>
                    </div>
                </div>
                <div style="width:100%; margin-left:10px;">
                    <label class="text-italic" id="lblAddFile">Inserisci il verbale firmato</label>
                    <h4 class="text-bold" id="lblNomeFile"></h4>
                    <label id="lblDescFile"></label>
                    <br />
                    <a id="hrefAddedFile" class="cursor-pointer" style="display:none;" href="javascript:PreviewPDF();">Visualizza il verbale</a>
                </div>
            </div>
        </div>
    </div>


<div class="row push-10-t">
    <div class="col-sm-12">
        <button id="btnSubmitVerbale" class="btn rai-btn-primary full-width disable" onclick="SubmitModificaVerbale(@Model.ID_DIPENDENTE)">Prosegui</button>
    </div>
</div>

