@using myRaiGestionale.Controllers

@{
    var listUrl = CessazioneController.GetUrlBozze();
    if (!listUrl.Any())
    {
        return;
    }
}

<section class="panel ">
    <header class="panel-heading">
        <h2 id="lblBozze" class="panel-title">Bozze verbali</h2>
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblBozze" aria-expanded="true"></a>
        </div>
    </header>
    <div class="panel-body panel-body-nopadding">
        <table class="table rai-table js-table-sections rai-table-panel rai-table-vcenter">
            @foreach (var item in listUrl.GroupBy(x => x.Gruppo))
            {
                <tbody class="js-table-sections-header">
                    <tr>
                        <td>
                            @item.Key
                        </td>
                        <td class="text-right">
                            <i class="fa fa-chevron-down"></i>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2" class="no-padding">
                            <table class="table rai-table rai-table-vcenter rai-table-panel table-striped">
                                @foreach (var subItem in item)
                                {
                                    <tr>
                                        <td>@subItem.Descrizione</td>
                                        <td class="text-right">
                                            <a href="@Url.Action("CreaBozzaVerbale", "Cessazione", subItem)" class="btn rai-btn-small">Vedi</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</section>
