@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model RaipermeNewsModel

<div class="modal-dialog modal-dialog-popout" style="width: 70%">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">


            <div class="block-content block-content-full block-content-mini bg-gray-light"
                 style="background-color: #f5f5f5; border-radius: 20px 20px 0 0;">

                <div class="row">
                    <div class="col-sm-6">
                        <h2 style="font-weight: 100; font-size: 180%;">@(CommonHelper.GetParametro<string>( EnumParametriSistema.NewsTitle ))</h2>
                    </div>
                    <div class="col-sm-6" style="padding-top: 12px; text-align: right">

                        <div class="tasto-boarding" onclick="ShowPreviousNews()" id="arrow-left-news" style="display:none">
                            <span style="font-size: 10px;" class="glyphicon glyphicon-triangle-left text-muted"></span>
                        </div>

                        <div class="tasto-boarding" onclick="ShowNextNews()" id="arrow-right-news"
                             @if ( Model.NewsItems.Count( ) <= 1 ) { @: style="display:none"
                             }>
                            <span style="font-size: 10px;" class="glyphicon glyphicon-triangle-right text-muted"></span>
                        </div>


                        <div class="tasto-boarding" onclick="EndNews()"
                             @if ( Model.NewsItems.Count( ) > 1 ) { @: style="display: none"
                             }
                             id="end-news">
                            <span style="font-size: 13px;" class="text-muted">OK</span>
                        </div>

                    </div>
                </div>


            </div>


            <br />

            <div class="row">
                @* <div class="col-sm-6" style="padding: 10px; text-align: center">
                        <img style="height: 300px; max-width: 100%" src="/assets/img/news/news.png" />
                    </div>*@
                <div class="col-sm-12">
                    @foreach ( var item in Model.NewsItems )
                    {
                        <div class="newsbox" id="news-item-@Model.NewsItems.IndexOf(item)" style="@(Model.NewsItems.IndexOf (item)==0?"":"display:none")">
                            @Html.Raw( item.contenuto )
                        </div>
                    }


                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="text-align: center">
                    @foreach ( var it in Model.NewsItems )
                    {
                        if ( Model.NewsItems.IndexOf( it ) == 0 )
                        {
                            <div id="bullet-news-@Model.NewsItems.IndexOf(it)" class="bulletn boarding-item-sel"></div>
                        }
                        else
                        {
                            <div id="bullet-news-@Model.NewsItems.IndexOf(it)" class="bulletn boarding-item"></div>
                        }
                    }
                </div>
                <div class="col-sm-4"></div>


                <input type="hidden" id="current-news" value="0" />
                <input type="hidden" id="total-news" value="@Model.NewsItems.Count()" />

            </div>

        </div>
    </div>
</div>











