@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model SectionAlertModel

<div style="width: 100%" data-async="/scrivania/index_section1">
    @if ( Request.Browser.IsMobileDevice )
    {
        @Html.Partial( "~/Views/Scrivania/Section_Annuncio.cshtml" )
    }

    @if ( Model.IsPreview )
    {
        foreach ( var item in Model.Alerts )
        {
            if ( item.Visibile )
            {
                {@Html.Partial( "subpartial/alert_skeleton" )}
        }
    }
}
else
{
    <div class="row">
        @foreach ( var item in Model.Alerts.Where( a => a.TipoAlert == 1 ) )
        {

            if ( item.Visibile )
            {
                @Html.Partial( "subpartial/alert" , item )
            }

        }
    </div>
    if ( Model.Alerts.Where( a => a.TipoAlert == 2 ).Count( ) > 0 )
    {
        <div class="row">
            <section class="panel panel-transparent">
                <header class="panel-heading">


                    <h2 class="panel-title" style="margin-left: 20px; margin-top: -15px; ">Attività di Ruolo (Responsabile)</h2>
                </header>

                @foreach ( var item in Model.Alerts.Where( a => a.TipoAlert == 2 ) )
                {

                    if ( item.Visibile )
                    {
                        @Html.Partial( "subpartial/alert" , item )
                    }

                }
            </section>
        </div>
    }
}
</div>