@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model List<myRaiData.MyRai_FormPrimario>

<section class="panel" id="panel-eventi-1">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            <a href="javascript:AggiornaTotaliPren()" class="panel-action panel-action-refresh" id="button-refresh-eventi" type="button" data-toggle="block-option" data-action="refresh_toggle"
               data-refreshurlllll="/notifiche/refreshMieNotifiche" data-parentdiv="panel-docdipendente"
               data-refreshelements="docdipendente" data-refresh-partial
               data-action-mode="demo"></a>

        </div>

        <h2 class="panel-title">Form presenti</h2>

    </header>

    <div id="eventi" class="block panel-body no-padding">

        <div class="block-content tab-content">

            <table class="js-table-sections table table-hover" id="table-forms">
                <thead>
                <th></th>
                <th>Titolo</th>
                <th>Validita</th>
                <th>Tipologia</th>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                @foreach ( var item in Model )
                {
                    <tr style="background-color: #f8f8f8;">
                        <td class="fixed-20"></td>
                        <td>
                            @item.titolo
                        @if ( !item.attivo )
                        {
                            <br /> <span class="text-danger">DELETED</span>
                        }

                    </td>
                    <td>@item.data_inizio_validita.ToString( "dd/MM/yyyy" ) - @item.data_fine_validita.ToString( "dd/MM/yyyy" )</td>
                    <td>@item.MyRai_FormTipologiaForm.tipologia</td>

                    <td colspan="3" style="text-align:right">
                        <a href="/formstats/getstats?idform=@item.id"
                           class="btn btn-default btn-scriv text-uppercase bg-puls_dash">VEDI</a>
                    </td>

                </tr>
            }
            </table>

        </div>
    </div>

</section>

