
/*.scroll-to-top {
    margin-right: 120px !important;
}*/


.chat-show-button {
    position: fixed;
    /*right: 60px;*/
    right: 205px;
    /*bottom: 15px;*/
    bottom: 0px;
    /*width: 60px;*/
    width: 120px;
    /*height: 60px;*/
    height: 9px;
    /*border-radius: 30px;*/
    border-radius: 7px 7px 0 0;
    z-index: 2000;
    color: white;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 5px 2px;
    /*font-size: 30px;*/
    font-size: 14px;
    /*padding: 15px 11px;*/
    padding: 5px 10px 25px;
    text-decoration: none;
    text-align: center;
    background: #282d36;
    color: #FFF;
    opacity: 0.75;
}
    .chat-show-button:hover {
        text-decoration: none;
        /*color: white;*/
    }

.chatBtnFadeIn,
.chatBtnFadeOut {
    overflow: hidden;
    /* This container should not have padding, borders, etc. */
}

.chatBtnFadeIn {
    visibility: visible;
    opacity: 0.75;
    transition: opacity 500ms linear, transform 500ms;
}

.chatBtnFadeOut {
    visibility: hidden;
    opacity: 0;
    transform: rotate(360deg);
    transition: visibility 0s 300ms, opacity 0s 200ms linear;
}

    .chatBtnFadeOut > .chat-show-button {
        margin-top: -10000px;
        transition: margin-top 0s 300ms;
    }

.chat-outer-container {
    position: fixed;
    /*right:60px;*/
    right: 5px;
    bottom: 5px;
    /*border: 1px solid lightgray;*/
    border-radius: 5px;
    z-index: 2000;
    /*background-color: white;*/
    padding:10px;
    background:transparent;
}

.chat-panel {
    box-shadow: rgba(0,0,0,0.4) 0px 0px 10px 2px;
    margin-top:40px;
    margin-bottom:10px;
}

.chat-box-img-raimondo {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 3000;
    width: 90px;
}

.chat-box-raimondo-shadow {
    width: 68px;
    height: 34px;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 34px 34px 0 0;
    z-index: 3000;
    background-color: red;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 10px 2px;
}

.chatFadeIn,
.chatFadeOut {
    overflow: hidden;
    /* This container should not have padding, borders, etc. */
}

.chatFadeIn {
    visibility: visible;
    opacity: 1;
    width: 400px;
    height: 565px;
    transition: opacity 500ms linear, width 500ms, height 500ms;
}

.chatFadeOut {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
    transition: visibility 0s 200ms, opacity 0s 200ms linear, width 300ms, height 300ms;
}

    .chatFadeOut > .chat-outer-container {
        margin-top: -10000px;
        transition: margin-top 0s 300ms;
    }


.chat-msg-container{
    display:flex;
    flex-direction:column;
    background-color:white;
    height:100%;
}
.chat-inner-container {
    flex: 1;
    overflow-y: auto;
}

.chat-line {
    clear: both;
    width: 100%;
    padding:5px;
}

.chat-msg {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    color: black;
    max-width:75%;
    margin:2px;

    position:relative;
}

.chat-msg-rec {
    background-color: white;
    float: left;
}
    .chat-msg-rec:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-right-color: lightgray;
        border-left: 0;
        margin-top: -7px;
        margin-left: -7px;
    }

.chat-msg span {
    white-space: pre-line;
    word-break:break-word;
}

.chat-msg-sent {
    /*background-color: lightgreen;*/
    float: right;
}
    .chat-msg-sent:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: lightgray;
        border-right: 0;
        margin-top: -7px;
        margin-right: -7px;
    }

.chat-commands-list {
    /*overflow: hidden;*/
    width:100%;
    /*height:60px;*/
}
.chat-command-list-internal{
    /*overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;*/
    padding:3px;
}
/*div.chat-inner-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: gray;
}
div.chat-inner-container::-webkit-scrollbar-thumb:horizontal {
    background: lightblue;
    border-radius: 10px;
}
div.chat-inner-container::-webkit-scrollbar-track {
    background-color: #eeeeee;
    border-radius: 10px;
}
div.chat-inner-container::-webkit-scrollbar-button {
    display: none;
}*/



.chat-command {
    /*border: 1px solid blue;*/
    border-radius: 30px;
    margin: 2px;
    padding: 10px;
    /*background-color: white;*/
}


.chat-msg-sender {
    margin: 0;
    padding: 7px 5px;
    width: 100%;
    background: white;
    float: left;
}
.chat-box {
    float: left;
    width: 90%;
    /*margin: 5px;*/
    overflow: hidden;
    font-size: 15px;
    resize: none;
    margin: 0;
    padding: 2px;
    border: none;
    float: left;
    box-shadow: none;
    outline: none;
    -webkit-transition: none;
}

.chat-button-close {
    float: left;
    width: 10%;
    text-align: center;
    padding: 0px;
    font-size: 15px;
    line-height: 1.428571429;
    /*margin: 5px 0px 5px 5px;*/
    background-color: transparent;
    color: gray;
    float: left;
    text-decoration: none;
}

    .chat-button-close:hover {
        text-decoration: none;
    }


.appendMovingDots{
    color:gray;
    padding-right:40px;
}
.appendMovingDots:after {
    content: ' .';
    animation: dots 1s steps(1, end) infinite;
}

@keyframes dots {
    0%, 12.5% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    37.5% {
        text-shadow: .5em 0;
    }

    50% {
        text-shadow: .5em 0, 1em 0;
    }

    62.5% {
        text-shadow: .5em 0, 1em 0, 1.5em 0;
    }

    75% {
        text-shadow: .5em 0, 1em 0, 1.5em 0, 2em 0;
    }

    87.5%, 100% {
        text-shadow: .5em 0, 1em 0, 1.5em 0, 2em 0, 2.5em;
    }
}