<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CheckAbil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <CheckAbil.Properties.Settings>
        <setting name="CheckAbil_HrgaIntranet_Sedi" serializeAs="String">
            <value>http://hrga.intranet.rai.it/Filtro/sedi.asmx</value>
        </setting>
        <setting name="CheckAbil_HrgaServizi_Sedi" serializeAs="String">
            <value>http://hrga.servizi.rai.it/Filtro/sedi.asmx</value>
        </setting>
        <setting name="CheckAbil_it_rai_servizi_raiconnectcoll_rai_ruo_ws" serializeAs="String">
            <value>http://raiconnectcoll.servizi.rai.it/rai_ruo_ws.asmx</value>
        </setting>
    </CheckAbil.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <!--SVILUPPO-->
    <add name="cv_ModelEntities" connectionString="metadata=res://*/Data.CurriculumVitae.cv_Model.csdl|res://*/Data.CurriculumVitae.cv_Model.ssdl|res://*/Data.CurriculumVitae.cv_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STOCERN403;initial catalog=PERSDIP;persist security info=True;user id=user_perseo;password=c8j3d0k9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stocav420,6000;initial catalog=digiGapp;user id=dba_digigapp;password=g2w3e3r3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IncentiviEntities" connectionString="metadata=res://*/Incentivi.ModelIncentivi.csdl|res://*/Incentivi.ModelIncentivi.ssdl|res://*/Incentivi.ModelIncentivi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STOCERN403;initial catalog=CZNDB;persist security info=True;user id=Czndb;password=dbra1c0l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TalentiaEntities" connectionString="metadata=res://*/Talentia.csdl|res://*/Talentia.ssdl|res://*/Talentia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PTOCAV414,6000;initial catalog=HCMDB9;persist security info=True;user id=HCMDB9;password=hcmdb9!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--PRODUZIONE-->
    <!--<add name="cv_ModelEntities" connectionString="metadata=res://*/Data.CurriculumVitae.cv_Model.csdl|res://*/Data.CurriculumVitae.cv_Model.ssdl|res://*/Data.CurriculumVitae.cv_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOCERV410,6000;initial catalog=PERSDIP;persist security info=True;user id=user_perseo;password=5hu3m5f2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IncentiviEntities" connectionString="metadata=res://*/Incentivi.ModelIncentivi.csdl|res://*/Incentivi.ModelIncentivi.ssdl|res://*/Incentivi.ModelIncentivi.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZTOCERV410,6000;Initial Catalog=Czndb;User ID=Czndb;Password=g6h2c6n9;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TalentiaEntities" connectionString="metadata=res://*/Talentia.csdl|res://*/Talentia.ssdl|res://*/Talentia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOCAV429,6000;initial catalog=HCMDB9;persist security info=True;user id=HCMDB9;password=hcmdb9!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>