@using myRaiCommonModel;
@using myRaiHelper;
@using Newtonsoft.Json;
@using myRaiCommonManager;
@model myRaiCommonModel.XR_DEM_DOCUMENTI_EXT
@{
    var r = Model;
   
}

<tr>
    <td style="width: 30%;">
        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRow_Destinatario.cshtml", r)
    </td>
    <td>
        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRow_Descrizione.cshtml", r)
    </td>
    <td class="text-right">
        <button class="btn rai-btn-small" aria-label="Visualizza" onclick="GetDettaglio_Visionatore(@r.Id)" title="Visualizza" style="min-width:80px;">
            Visualizza
        </button>
    </td>
</tr>


