@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRaiGestionale.Controllers;


@model myRaiCommonModel.DematerializzazioneDocumentiVM

@{
    int countRichiesteInCaricoAME = Model.DocumentiInCaricoAMe.Count( );
    int countRichiesteDaPrendereInCarico = Model.DocumentiDaPrendereInCarico.Count( );
    int countRichiesteInCaricoAdAltri = Model.DocumentiInCaricoAdAltri.Count( );
}

<div class="table-responsive" id="dem-buttons-container" style="display:none;">
    <table class="rai-table table rai-table-vcenter" id="">
        <thead>
            <tr>
                <th>
                    <div class="col-xs-12">
                        <label class="rai-font-sm-bold" id="contatore-selezionati"></label>
                    </div>
                </th>
                <th class="text-right">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button class="btn rai-btn-small" aria-label="Prendi in carico i selezionati" onclick="Dematerializzazione_PrendiInCaricoAll('@Model.Matricola', 0)" title="Prendi in carico i selezionati" style="min-width:80px;">
                                Prendi in carico i selezionati
                            </button>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</div>

<ul class="nav nav-tabs nav-tabs-alt  nav-justified" data-toggle="tabs" role="tablist">
    <li id="li_btab1" class="tabbianco active" role="presentation">
        <a href="#btab1" tabindex="0" role="tab" aria-controls="btabswo-static-home" style="border:0px;">
            IN CARICO A ME
            @if ( countRichiesteInCaricoAME > 0 )
            {
                <span id="richiesteInCarcoAME-badge" style="margin-left: 5px;margin-top: -4px;" class=" rai-badge-tab">
                    @countRichiesteInCaricoAME
                </span>
            }
        </a>
    </li>
    <li id="li_btab2" class="tabbianco" role="presentation">
        <a href="#btab2" tabindex="-1" role="tab" aria-controls="btab4" style="border:0px;">
            DA PRENDERE IN CARICO
            @if ( countRichiesteDaPrendereInCarico > 0 )
            {
                <span id="completate-badge" style="margin-left: 5px;margin-top: -4px;" class=" rai-badge-tab">
                    @countRichiesteDaPrendereInCarico
                </span>
            }
        </a>
    </li>
    <li id="li_btab3" class="tabbianco" role="presentation">
        <a href="#btab3" tabindex="-1" role="tab" aria-controls="btab4" style="border:0px;">
            IN CARICO AD ALTRI
            @if ( countRichiesteInCaricoAdAltri > 0 )
            {
                <span id="ririutate-badge" style="margin-left: 5px;margin-top: -4px;" class=" rai-badge-tab">
                    @countRichiesteInCaricoAdAltri
                </span>
            }
        </a>
    </li>
</ul>

<div class="block-content tab-content no-padding" id="dem-miei-doc-refresh">
    <div data-toggle="slimscroll" data-height="50px" data-color="#46c37b" data-always-visible="true" style="width: auto;" class="table-responsive tab-pane active" id="btab1" role="tabpanel">
        <table class="rai-table table rai-table-vcenter" id="">
            <thead>
                <tr>
                    <th>
                        <div class="col-sm-12">
                            <label class="rai-caption" for=""></label>
                            <div class="rai-checkbox" style="margin-bottom: 0px !important;">
                                <input id="dem-check-all-1" data-tab="1" name="dem-check" type="checkbox">
                                <label class="rai-caption" for="">&nbsp;</label>
                            </div>
                        </div>
                    </th>
                    <th class="text-left">Destinatario</th>
                    <th class="text-left">Documento e data richiesta</th>
                    <th class="text-right">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @if ( countRichiesteInCaricoAME == 0 )
                {
                    <tr>
                        <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                    </tr>
                }
                else
                {
                    foreach ( var r in Model.DocumentiInCaricoAMe )
                    {
                        r.Tab = 1;
                        @Html.Partial( "~/Views/Dematerializzazione/subpartial/_contentRowInCarico.cshtml" , r )
                    }
                }
            </tbody>
        </table>
    </div>
    <div data-toggle="slimscroll" data-height="50px" data-color="#46c37b" data-always-visible="true" style="width: auto;" class="table-responsive tab-pane" id="btab2" role="tabpanel">
        <table class="rai-table table rai-table-vcenter" id="">
            <thead>
                <tr>
                    <th>
                        <div class="col-sm-12">
                            <label class="rai-caption" for=""></label>
                            <div class="rai-checkbox" style="margin-bottom: 0px !important;">
                                <input id="dem-check-all-2" data-tab="2" name="dem-check" type="checkbox">
                                <label class="rai-caption" for="">&nbsp;</label>
                            </div>
                        </div>
                    </th>
                    <th class="text-left">Destinatario</th>
                    <th class="text-left">Documento e data richiesta</th>
                    <th class="text-right">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @if ( countRichiesteDaPrendereInCarico == 0 )
                {
                    <tr>
                        <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                    </tr>
                }
                else
                {
                    foreach ( var r in Model.DocumentiDaPrendereInCarico )
                    {
                        r.Tab = 2;
                        @Html.Partial( "~/Views/Dematerializzazione/subpartial/_contentRowInCarico.cshtml" , r )
                    }
                }
            </tbody>
        </table>
    </div>
    <div data-toggle="slimscroll" data-height="50px" data-color="#46c37b" data-always-visible="true" style="width: auto;" class="table-responsive tab-pane" id="btab3" role="tabpanel">
        <table class="rai-table table rai-table-vcenter" id="">
            <thead>
                <tr>
                    <th>
                        <div class="col-sm-12">
                            <label class="rai-caption" for=""></label>
                            <div class="rai-checkbox" style="margin-bottom: 0px !important;">
                                <input id="dem-check-all-3" data-tab="3" name="dem-check" type="checkbox">
                                <label class="rai-caption" for="">&nbsp;</label>
                            </div>
                        </div>
                    </th>
                    <th class="text-left">Destinatario</th>
                    <th class="text-left">Documento e data richiesta</th>
                    <th class="text-right">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @if ( countRichiesteInCaricoAdAltri == 0 )
                {
                    <tr>
                        <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                    </tr>
                }
                else
                {
                    foreach ( var r in Model.DocumentiInCaricoAdAltri )
                    {
                        r.Tab = 3;
                        @Html.Partial( "~/Views/Dematerializzazione/subpartial/_contentRowInCarico.cshtml" , r )
                    }
                }
            </tbody>
        </table>
    </div>
</div>