@using myRaiCommonModel
@model MultiSelezioneVM

<div class="col-sm-12">
    <div class="form-group">
        <div class="row push-10">
            <div class="col-xs-6">
                @Html.LabelForRequiredObbl(m => m.LabelText, Model.LabelText, new { @class = "rai-caption" })
                @Html.RaiSelect(Model.ID, Model.Elementi, Model.Placeholder, multiple: true,
                                attributes: new { @class = "form-control", id= Model.ID })
            </div>
            <div class="col-xs-6">&nbsp;</div>
        </div>
    </div>
</div>