@model myRaiCommonModel.DematerializzazioneDocumentiVM

<section class="panel " style="">
    <header class="panel-heading" data-panel-toggle="">
        <h1 class="panel-title">Documenti da visionare</h1>
        <div class="panel-actions rai-panel-actions">
            <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
        </div>
    </header>
    <div class="panel-body no-padding">
        <div id="div_elenco_documenti_Visionatore">
            <div class="block" style="margin-bottom:0px;">
                <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
                    <div class="tab-pane active" id="" role="tabpanel">
                        <div id="">
                            <div class="panel-body panel-body-nopadding" id="">
                                <div id="">
                                    <div class="table-responsive">
                                        <table class="rai-table  @(Model.IsPreview ?"rai-loader":"" ) table rai-table-vcenter" id="">
                                            <thead>
                                                <tr>
                                                    <th class="text-left">Destinatario</th>
                                                    <th class="text-left">Documento e data richiesta</th>
                                                    <th class="text-right">Azioni</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Documenti == null || Model.Documenti.Any() == false)
                                                {
                                                    <tr>
                                                        <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    foreach (var r in Model.Documenti)
                                                    {
                                                        @Html.Partial("~/Views/Dematerializzazione/subpartial/_contentRowVIS.cshtml", r)
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#dem-check-all').on('click', function () {
            var isChecked = $(this).prop('checked');
            $('input[type="checkbox"][id^="dem-check-"]').each(function () {
                $(this).prop('checked', isChecked);
            });

            var contaSelezionati = $('input[type="checkbox"][id^="dem-check-"]:not("#dem-check-all"):checked').length;

            if (isChecked) {
                $('#dem-buttons-container').show();
                $('#contatore-selezionati').html(contaSelezionati + ' richieste selezionate');
            }
            else {
                $('#dem-buttons-container').hide();
                $('#contatore-selezionati').html('');
            }
        });

        $('input[type="checkbox"][id^="dem-check-"]').on('click', function () {
            var isChecked = $(this).prop('checked');

            if (!isChecked) {
                var almenoUna = false;
                almenoUna = $('input[type="checkbox"][id^="dem-check-"]:not("#dem-check-all"):checked').length > 0;
                if (!almenoUna) {
                    $('#dem-check-all').prop('checked', almenoUna);
                }
            }

            var contaSelezionati = $('input[type="checkbox"][id^="dem-check-"]:not("#dem-check-all"):checked').length;
            var contaTutti = $('input[type="checkbox"][id^="dem-check-"]:not("#dem-check-all")').length;
            if (contaSelezionati == contaTutti) {
                $('#dem-check-all').prop('checked', true);
            }

            if (contaSelezionati >= 1) {
                $('#dem-buttons-container').show();
                $('#contatore-selezionati').html(contaSelezionati + ' richieste selezionate');
            }
            else {
                $('#dem-buttons-container').hide();
                $('#contatore-selezionati').html('');
            }
        });
    });
</script>