@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model PresenzaDipendenti

<div class="modal right fade" id="modal-deleghe" role="dialog" aria-hidden="true" style="display: none;">
    <input type="hidden" id="popup-boss-matr" />
    <div class="modal-dialog modal-dialog-popin">
        <div class="modal-content height100">
            @using ( Html.BeginForm( "save" , "deleghe" , FormMethod.Post , new { id = "form-delega" } ) )
            {
                <div class="block block-themed block-transparent remove-margin-b">
                    <div id="deleghe-header" class="block-header bg-cdf" style="height: 58px;">
                        <ul class="block-options visible-xs">
                            <li>
                                <button data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                            </li>
                        </ul>
                        <h4 id="tit-modal-boss" class="lead" style="float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">
                            Crea nuova Delega
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row no-margin-left-right">
                        @*COLONNA SINISTRA---------------------------------------------------------*@
                        <div class="col-sm-6 no-pad-left no-pad-right border-right ">
                            <div id="" class="block-header block-content-mini bg-cel " style="padding-top:12.5px;padding-bottom:12.5px;">
                                <h4 class="font-w600">Impostazioni </h4>
                            </div>
                            <br />
                            <div style="padding:10px">
                                <div style="margin-left: 14px;">
                                    <em>
                                        Imposta la data di inizio e fine delega, seleziona il dipendente o i dipendenti sulla colonna destra e clicca su 'Conferma nuova delega' per delegare le tue funzioni di responsabile di livello 1
                                    </em>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-md">
                                            <span style="cursor:pointer" onclick="$('#dataInizioDelega').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                            @Html.TextBoxFor(a => a.dataInizioDelega, new
                                       {
                                           @class = "form-control js-datetimepicker",
                                           @data_format = "DD/MM/YYYY",
                                           @data_locale = "it",
                                           placeholder = "Dal"
                                       })
                                            <span style="cursor:pointer" onclick="$('#dataFineDelega').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar" style="cursor:pointer" onclick="$('#data_a').datetimepicker('show')"></i></span>
                                            @Html.TextBoxFor(a => a.dataFineDelega, new
                                       {
                                           @class = "form-control js-datetimepicker",
                                           @data_format = "DD/MM/YYYY",
                                           @data_locale = "it",
                                           placeholder = "Al"
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*COLONNA DESTRA----------------------------------------------------------*@
                        <div id="boxleft" class="col-sm-6 no-pad-left no-pad-right" style="border-left:solid 1px #eee">
                            <div id="header-right" class="block-header block-content-mini bg-cel " style="padding-top:12.5px;padding-bottom:12.5px;">
                                <h4 class="font-w600">Dipendenti </h4>
                            </div>
                            <div id="dipendenti-deleghe" class="block block-content" style="padding:0px">
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="text-align:center">
                                    <input type="submit" id="submit-delega" style="margin-top:30px" class="btn btn-default btn-scriv text-uppercase bg-puls_dash disable" disabled="disabled" value="Conferma nuova delega" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>