@model List<myRaiCommonModel.AlertModel>

@if (Model != null && Model.Count() > 0)
{
    <div class="panel-card-container">
        @foreach (var card in Model)
        {
            @Html.Partial("~/Views/_RaiDesign/Widget_Home.cshtml", card)
        }
    </div>
}