@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<input id="trasferte_pagina" type="hidden" value="1" />
<input id="trasferte_elementi" type="hidden" value="20" />
<input id="trasferte_hasNext" type="hidden" value="1" />
        <section role="main" class="content-body">
            <div class="row">
                <div class="col-md-8">
                    <section class="rai panel" id="">
                        <header class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9 col-sm-7 no-padding-left">
                                    <h2 class="panel-title" tabindex="0">Da approvare</h2>
                                </div>
                                <div class="col-xs-3 col-sm-5 text-right no-padding-right">
                                    <div class="rai-panel-actions">
                                        <div class="hidden-xs btn-action-icon-switch" style="margin-right:10px">
                                            <a class="btn-action-icon active" href="#" title="Vista per richiesta"><i class="fa fa-comment-o"></i></a>
                                            <a class="btn-action-icon" href="#" title="Vista per giornata/turno"><i class="fa fa-calendar-o"></i></a>
                                            <a class="btn-action-icon" href="#" title="Vista per giornata"><i class="fa fa-calendar"></i></a>
                                        </div>
                                        <a tabindex="0" style="" class="btn-action-icon" data-toggle="block-option" data-action="refresh_toggle">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="panel-body no-padding">
                            <div id="elencoRichieste">Qui ci va il widget da approvare</div>
                        </div>
                    </section>
                    <section class="rai panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a tabindex="0" type="button" data-toggle="block-option" href="#">
                                    <i class="icons icon-refresh"></i>
                                </a>
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblCercaRichieste" aria-expanded="true"></a>
                            </div>
                            <h2 id="lblCercaRichieste" class="panel-title">Da approvare</h2>
                        </header>
                        <div class="panel-body" id="">RESOCONTI</div>
                    </section>
                </div>
                <div class="col-md-4">
                    <section class="rai panel" id="">
                        <header class="panel-heading">
                            <h2 class="panel-title">Piano ferie</h2>
                        </header>
                        <div class="panel-body" id=""></div>
                    </section>
                    <section class="rai panel">
                        <header class="panel-heading">
                            <h2 id="" class="panel-title">Il mio team</h2>
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="" aria-expanded="true"></a>
                            </div>
                        </header>
                        <div class="panel-body" id="mioteam"></div>
                    </section>
                    <section class="rai panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a tabindex="0" type="button" data-toggle="block-option" href="javascript:reset_ric()">
                                    <i class="icons icon-refresh"></i>
                                </a>
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblCercaRichieste" aria-expanded="true"></a>
                            </div>
                            <h2 id="lblCercaRichieste" class="panel-title">Cerca tra le richieste</h2>
                        </header>
                        <div class="panel-body" id="filtroRicerca"></div>
                    </section>
                </div>
            </div>
        </section>


@section afterjs {
    @Html.Raw( TempData["script"] )

    <script type="text/javascript">
    $(function () {
        $("#mioteam").load('@Url.Action("GetIlMioTeam", "Approvatore")');
        $("#filtroRicerca").load('@Url.Action("FiltroRicerca", "Approvatore")');
        $("#elencoRichieste").load('@Url.Action("CercaRichieste", "Approvatore")');
    });
    </script>
}
