@using MVCProject.Custom_Helpers;
@using myRaiGestionale.Controllers;
@model myRaiCommonModel. SapTestModel
@{
    Layout = "~/Views/Shared/_layoutContent.cshtml";
    ViewBag.Title = "HRIS - Test SAP";
}


<style>
    .table-inc-nested {
        margin-left: 2%;
        width: 98%;
    }

    .js-table-sections-header.open > tr {
        background-color: inherit;
    }

    #div-inc td {
        padding: 4px !important;
    }

    #fixedPanel {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 1000;
        top: 59px;
        margin-bottom: 10px;
    }




    @@media screen and (min-width: 1701px) {


        #fixedPanel {
            position: fixed;
            background: #fff;
            width: 100%;
            z-index: 1000;
            top: 59px;
            margin-bottom: 10px;
            padding-left: 200px;
        }
    }

    @@media screen and (min-width: 1200px) and (max-width: 1700px) {


        #fixedPanel {
            position: fixed;
            background: #fff;
            width: calc(100% - 212px);
            z-index: 1000;
            top: 59px;
            margin-bottom: 10px;
            margin-left: -28px;
        }
    }

    @@media screen and (min-width: 800px) and (max-width: 1199px) {


        #fixedPanel {
            position: fixed;
            background: #fff;
            width: calc(100% - 212px);
            z-index: 1000;
            top: 59px;
            margin-bottom: 10px;
            margin-left: -28px;
        }
    }
</style>

<section role="main" class="content-body" style="padding-top:10px;">
    <!-- start: page -->
    <!-- Main Container -->

    <main id="main-container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel " style="">
                        <header class="panel-heading" data-panel-toggle="">
                            <h1 class="panel-title">@Model.url1</h1>
                            <div class="panel-actions rai-panel-actions">
                                <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
                            </div>
                        </header>
                        <div class="panel-body no-padding" style="text-align:center">
                            <iframe style="width: 98%;margin:10px;height:700px;border: none;" src="@Model.url1"></iframe>
                        </div>

                    </section>

                    <section class="panel " style="">
                        <header class="panel-heading" data-panel-toggle="">
                            <h1 class="panel-title">@Model.url2</h1>
                            <div class="panel-actions rai-panel-actions">
                                <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
                            </div>
                        </header>
                        <div class="panel-body no-padding"  style="text-align:center">
                            <iframe style="width: 98%;margin:10px;height:700px;border: none;" src="@Model.url2"></iframe>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </main>

    <!-- end: page -->
</section>




