@model myRaiCommonModel.cvModels.cvModel
@using MVCProject.Custom_Helpers
@{
    int count_lista;
    var lista = Model.competenzeDigitali;
    count_lista = lista.Count;

}
<section class="rai panel">
    <header class="panel-heading">
        <h2 class="panel-title">
            Autovalutazione Competenze Digitali
            <span tabindex="-1" id="popCompDigitali" data-popover-content="#myPopover" class="push-5-l" data-toggle="popover" data-html="true" data-container="body" data-placement="right" title="" data-content="<p>Indica il livello di competenza come riportato nella scheda di autovalutazione.</p><ul><li>Una volta effettuata l'autovalutazione, il sistema visualizza automaticamente una pagina di riepilogo che mostra i dati sintetici dell'autovalutazione effettuata.</li></ul>" data-original-title="&nbsp;" data-trigger="focus">
                <i id="" class="fa fa-info-circle"></i>
            </span>
        </h2>
        <div class="panel-actions rai-panel-actions">
            <button class="btn-action-icon" data-toggle="modal" data-target="#modalAggiungi" onclick="InizializzaTuttoDopoAjax()"><span class="fa fa-plus"></span></button>
        </div>
    </header>

    <div class="panel-body panel-body-nopadding-xs">
        @if (count_lista == 0)
        {
            @Html.Partial("~/Views/CV_Online/partials/_no_elements.cshtml");
        }
        <table class="js-table-sections table table-hover rai-table rai-table-vcenter">
            <tbody>
                @{
                    int index_max;
                    int i;
                    int j = -1;
                    
                        index_max = count_lista;
                    

                    for (i = 0; i < index_max; i++)
                    {
                        <tr>
                            <td class="text-left">
                                <span class="text-bold ">@lista[i]._descCompDigit</span><br />
                                <span class="text-italic ">@lista[i]._descCompDigitLiv</span>
                            </td>
                            <td class="text-right">
                                <a class="btn-action-icon" href="#" data-toggle="modal" data-target="#modalAggiungi" onclick="new JsSelect2Ext('.js-select2-custom').init();"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>


@Html.Partial("CompetenzeDigitali/ViewCompetenzeDigitali", Model.competenzeDigitali)
<script>
    $('[data-toggle="popover"]').popover({
        template: '<div class="popover"><div class="arrow"></div><div><span style="float:left; width:100%; display:inline;" class="popover-title"></span><span class="customPopOverCloser" style="float:right; width:5%; margin-top: -30px; margin-left: -3px; dispay:inline; cursor:pointer;">x</span></div><div class="clearfix"></div><div class="popover-content"></div></div>',
        html: true
    });
</script>