@using myRaiHelper;
@{
    ViewBag.Title = "HRIS - On Boarding";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}

<style>
    .bigdrop {
        width: 100%;
    }
</style>


<section role="main" class="content-body">
    <main id="main-container">
        <div class="content">
            @using (Html.BeginOnePageNav("on-boarding", "On Boarding"))
            {

                <div class="row">
                    <div class="col-sm-8">
                        @using (Html.BeginPanel(PanelType.PanelNoPadding, "Documenti condivisi", true))
                        {
                            <div id="div_elencoimm"></div>
                        }
                    </div>
                    
                </div>
            }
        </div>
    </main>

    <!-- end: page -->
</section>

@*@Html.RenderModal("dettaglio-imm", ModalPosition.Right, ModalSize.Full)*@


@section afterjs{
    <script type="text/javascript">
        InitDateRangePicker();
        $('#rangeAssegnazione').on({
            'apply.daterangepicker': function (event, daterange) {
                $('#datadal').val(daterange.startDate.format("DD/MM/YYYY"));
                $('#dataal').val(daterange.endDate.format("DD/MM/YYYY"));
            }
        })
        $('#rangeAssegnazione').val('');


    $(function () {
        

    });

    </script>
}
