@{
    Layout = "~/Views/Shared/_LayoutContentEmptyBGWhite.cshtml";

}
<style>
    .table-inc-nested {
        margin-left: 2%;
        width: 98%;
    }
</style>
<div class="block block-themed block-transparent no-margin-bottom">
    @*<div class="block-header" style="height: 58px; border-radius: 6px 6px 0px 0px; text-align:center">
        <label id="label-inc" class="rai-font-modal-heading  text-center">Riepilogo incarichi</label>
        <div class="block-options">*@
            <!--<button id="expand-all" class="btn btn-action-icon" title="Espandi/collassa tutti i rami" alt="Espandi/collassa tutti i rami" data-status="1" onclick="expandAllExt()"><div class="fa fa-sitemap"></div></button>-->
        @*</div>
    </div>*@
    <div class="block-content">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" id="inner-container" style=" height: 800px;overflow-y:scroll">

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<input type="hidden" id="expand-all" />

@section afterjs{
    <script>

        function expandAllExt() {
            var status = $("#expand-all").attr("data-status");
            if (status == "1") {
                $("#expand-all").attr("data-status", "2");
                $(".js-table-sections-header").addClass("open");
            }
            else {
                $("#expand-all").attr("data-status", "1");
                $(".js-table-sections-header").removeClass("open");
            }

        }
    function ShowIncarichiAllExt(idsezione) {

                $("#inner-container").addClass("rai-loader");
                var dataStruttura = "@DateTime.Now.ToString("dd/MM/yyyy")";
                $.ajax({
                    url: "/strutturaorganizzativa/getIncarichiAllExt",
                    type: 'GET',
                    data: { idsezione: idsezione, data: dataStruttura },
                    dataType: "html",
                    success: function (data) {
                        $("#inner-container").removeClass("rai-loader");
                        $("#inner-container").html(data);
                    }
                });

    }
    ShowIncarichiAllExt(2);
    </script>
    }