@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRai.Controllers

@model HotelModel

<!-- Stringa che contiene il messaggio da visualizzare nel box superiore -->
@{
    string[] messAlberghi = CommonHelper.GetParametri<string>( EnumParametriSistema.MessaggioAlberghi );
}


<section id="panel-eventi-1">

    <!-- Box superiore che contiene il messaggio -->

    @if ( messAlberghi[1] != "" )
    {
        <section class="panel">

          

            <div class="panel-heading">

                <h2 class="panel-title">
                    @messAlberghi[0]
                </h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Raw(messAlberghi[1])
                    </div>
                </div>
            </div>
        </section>
    }


        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>


                </div>

                <h2 class="panel-title">Ricerca Alberghi</h2>

            </header>



            <div id="eventi" class="block panel-body no-padding">

                <div class="block-content tab-content" style="padding-bottom: 20px;">
            <div class="row">

                        <div class="col-sm-4" >
                            @Html.DropDownListFor(m => m.idRegione, Model.regioni_list, "Regione...",
                        new { @class = "rai form-control", onchange = "RegioneScelta()" })
                        </div>
                        <div class="col-sm-4" >
                    <select id="prov" class="rai form-control" onchange="ProvinciaScelta()">
                                <option value="">Provincia...</option>
                            </select>

                        </div>
                        <div class="col-sm-4" >
                    <select id="comuni" class="rai form-control" onchange="ComuneScelto()">
                                <option value="">Comune...</option>
                            </select>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-12" style="text-align: center">
                            <div class="rai-btn-fill">
                        <input id="ricerca-alb" onclick="getAlberghi(0)" type="button" class="btn rai-btn-primary disable" value="Effettua ricerca" style="height:48px;"/>
                            </div>
                            <input type="hidden" value="0" id="currDistance" />
                        </div>
                    </div>



                    <div class="row" style="margin-left:-30px;margin-right:-30px">
                        <div class="col-sm-12" id="alberghi-result">

                        </div>
                    </div>




                </div>
            </div>
        </section>

</section>
