@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

<section class="panel panel-group">
    <header class="panel-heading bg-default">

        <div class="widget-profile-info">
            <div class="profile-picture">
                <img src="">
            </div>
            <div class="profile-info">
                <span class="my-card-loading-block">
                </span>

                <span class="my-card-loading-block">
                </span>
                <div class="profile-footer" style="text-align: left">

                    <span class="my-card-loading-block">  </span>


                </div>
            </div>
        </div>

    </header>

    <div id="accordion">

        <div class="panel panel-accordion panel-accordion-first">

            <div id="collapse1One" class="accordion-body collapse in">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-8">
                            <span class="my-card-loading-block">
                            </span>
                            <span class="my-card-loading-block">
                            </span>
                            <span class="my-card-loading-block">
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-default bg-puls_dash btn-scriv" href="/home">STAMPA CV</a>
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <span class="my-card-loading-block"></span>
                            <span class="my-card-loading-block"></span>
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">

                            <span class="my-card-loading-block"></span>
                            <span class="my-card-loading-block"></span>
                        </div>

                    </div>
                </div>
                <div class="panel-footer" style="background-color: #fff;">
                    <div class="row">

                        <div class="col-sm-2">

                            <div style="position:relative;text-align:center" class="chart-small" data-percent="0">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            &nbsp;
                        </div>
                        <div class="col-sm-6 text-right">
                            <a style="width: 100%; margin-top: 13px" href="/home" class="btn btn-primary btn-scriv">COMPLETA CV</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

