@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
<section class="rai-widget" id="panelBoxDetassazione">
    <div class="rai-widget-body bg-base">
        <div class="rai-widget-cta">
            <div class="rai-widget-cta-title">
                <label class="rai-title interactive-primary-color my-card-loading-block"></label>
            </div>
            <div class="rai-widget-cta-action">
            </div>
        </div>
    </div>
</section>