@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
<div style="width: 100%">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>

            </div>

            <h2 class="panel-title">Ferie e Permessi</h2>

        </header>
        <div class="panel-body" style="display: block;">

            <div class="row">
                <div class="col-sm-6 col-xs-12 no-padding-left no-padding-right">
                    <div class="block block-transparent block-content-table no-margin-bottom">
                        <div class="block-header block-content-mini">
                            <label class="rai-font-md">Ferie</label>
                        </div>
                        <div class="block-content block-content-mini">
                            <div class="graf">
                                <div class="gr_graf"></div>
                            </div>

                            <script>
                                var graf = new Chartist.Pie('.gr_graf', { series: [ 0,0,0,100] },
                        {
                            donut: true,
                            donutWidth: 20,
                            startAngle: 270,
                            total: 200,
                            showLabel: false
                        });
                        graf.on("created", function () {
                            var svg = document.getElementsByTagName('svg')[0];
                            svg.setAttribute("transform", "scale(2)");
                            svg.setAttribute("style", "position:relative;top:70px;");
                        });

                            </script>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-12  no-padding-left no-padding-right">
                    <div class="block block-transparent block-content-table no-margin-bottom">
                        <div class="block-header block-content-mini">
                            <label class="rai-font-md">Perm.retr.(Ex F.Naz.)</label>
                        </div>
                        <div class="block-content block-content-mini text-center">
                            <div class="chart" data-percent="0"></div>
                            <span class="graph-center-value">&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12  no-padding-left no-padding-right">
                    <div class="block block-transparent block-content-table no-margin-bottom">
                        <div class="block-header block-content-mini">
                            <label class="rai-font-md">Permesso retribuito</label>
                        </div>
                        <div class="block-content block-content-mini text-center">
                            <div class="chart" data-percent="0"></div>
                            <span class="graph-center-value">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-12 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-10 text-right">
                                        <div class="rai-chart-legend bg-default"></div>
                                    </td>
                                    <td class="td-40 td-graf rai-font-md"><b>-</b> fruite</td>
                                    <td class="td-10 td-graf"></td>
                                    <td class="td-40 td-graf rai-font-md"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row push-5-t">
                        <div class="col-sm-12 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-10 text-right">
                                        <div class="rai-chart-legend bg-cda"></div>
                                    </td>
                                    <td class="td-40 td-graf rai-font-md"><b>-</b> pianificate</td>
                                    <td class="td-10 td-graf">
                                        <div class="rai-chart-legend bg-cdf"></div>
                                    </td>
                                    <td class="td-40 td-graf rai-font-md"><b>-</b> non pian.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-20 text-right">
                                        <div class="rai-chart-legend bg-default"></div>
                                    </td>
                                    <td class="td-80 td-graf rai-font-md"><b>-</b> fruite</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row push-5-t">
                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-20 text-right">
                                        <div class="rai-chart-legend bg-cda"></div>
                                    </td>
                                    <td class="td-80 td-graf rai-font-md"><b>-</b> non pian.</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-20 text-right">
                                        <div class="rai-chart-legend bg-default"></div>
                                    </td>
                                    <td class="td-80 td-graf rai-font-md"><b>-</b> fruite</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row push-5-t">
                        <div class="col-lg-12 col-xs-12 no-pad-left no-pad-right">
                            <table style="width: 100%">
                                <tr>
                                    <td class="td-20 text-right">
                                        <div class="rai-chart-legend bg-cda"></div>
                                    </td>
                                    <td class="td-80 td-graf rai-font-md"><b>-</b> non pian.</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right bg-white" style="display: block;">


        </div>
    </section>


</div>






