@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;


<section class="panel ">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>

        </div>

        <h2 class="panel-title">Scegli cosa fare</h2>


    </header>
    <div class="panel-body">
        <div class="row">

            <div class="col-xs-8 font-180">
                <span class="my-card-loading-block"> </span>
            </div>

        </div>

</section>