@using myRaiHelper;
@using myRaiCommonModel.ess;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model TrasferteDaRendicontareVM

@{
    if ( Model != null && Model.Conteggio > 0 )
    {
        <section class="rai-widget" id="panelTrasferteDaRendicontare">
            <div class="rai-widget-body bg-base">
                <div class="rai-widget-cta">
                    <div class="rai-widget-cta-title">
                        <label class="rai-title interactive-primary-color">@Model.Messaggio</label>
                    </div>
                    <div class="rai-widget-cta-action">
                        <a href="@Model.Url" aria-label="Vedi" class="btn btn-action-default font-w600 bg-interactive-secondary interactive-primary-color">Vedi</a>
                    </div>
                </div>
            </div>
        </section>
    }
}