@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@model PresenzaDipendenti

<div style="width: 100%" data-async="/Home/PresenzaDipendenti">
    @if ( Model.IsPreview )
    {
        @Html.Partial( "subpartial/_skel_presenzeDipendenti" )
    }
    else
    {
        @Html.Partial( "~/Views/Approvazione/subpartial/_sub_presenzeDipendenti.cshtml" , Model )
    }
</div>