@model myRaiCommonModel.ProfiloImageModel

<div class="rai-profile-widget"
     @if (Model.display != null) { @: style="display:@Model.display"
     }>
    @if (Model.Checkbox)
    {
        <div class="rai-checkbox">
            <input class="sel-idrichieste"  type="checkbox" value="" onclick="CheckSelez()">
            <label class="rai-caption" for="">&nbsp;</label>
        </div>
    }
    <div class="rai-profile-image"
         @if (Model.NascondiImage) { @: style="display:none"
         }>

        <img src="@(myRaiHelper.CommonHelper.GetUrlFotoExternal(Model.Matricola))" class="">
        @if (Model.InServizio != null)
        {

            if (Model.InServizio == myRaiHelper.EnumPresenzaDip.Presente)
            {
                <div class="border-base-color rai-profile-presence bg-feedback-success"></div>
            }
            else if (Model.InServizio == myRaiHelper.EnumPresenzaDip.Assente)
            {
                <div class="border-base-color rai-profile-presence bg-feedback-error"></div>
            }
            else if (Model.InServizio == myRaiHelper.EnumPresenzaDip.SmartWorking)
            {
                <div style="background-color:#1d79cb" class="border-base-color rai-profile-presence"></div>
            }
        }

    </div>
    <div class="rai-profile-info">

        <span class="rai-font-md-bold ">@Model.Row1</span>

        <br>
        <span class="rai-font-sm">@Model.Row2</span>
    </div>

</div>
