
@using myRaiHelper;

<div class="rai modal right fade" id="popupview-cedolino" role="dialog" aria-modal="true" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-popin">

        <div class="rai modal-content scroll-container">

            <div class="block block-transparent remove-margin-b">
                <div class="block-header">
                    <div style="display:table-cell;vertical-align:middle;height:58px;position:relative;top:-15px;">
                        <label class="rai-font-modal-heading">Dettaglio richiesta</label>

                    </div>
                    <div class="block-options">
                        
                    </div>
                </div>
                <div class=" text-center rai-font-md-bold" id="periodo-scroll">

                </div>
                <div class="block-content">

                    <div class="row">




                        <div class="col-md-12">
                            <section class="rai panel" id="indietro-section">
                                <div class="panel-body">
                                    <button onclick="$('#popupview-cedolino').modal('hide')"
                                            class="btn btn-action-icon">
                                        <span class="fa fa-angle-left"></span>
                                    </button>
                                    <span class="rai-font-sm">Torna indietro</span>
                                </div>
                            </section>
                        </div>


                        <div class="col-md-12" id="cedolino-container">>
                           
                        </div>




                    </div>


                </div>
            </div>

        </div>

    </div>

</div>


