@model myRaiCommonModel.AnnullamentoBoxModel

@if (Model.IsGestOrAdm &&
    Model.Richiesta.DATA_SCADENZA < DateTime.Now && Model.Richiesta.XR_WKF_MATCON_OPERSTATI.Max (x=>x.ID_STATO) <101)
{
    <header class="panel-heading">
        <h2 class="panel-title">Annullamento pratica</h2>
    </header>
    <div class="panel-body">
        <span class="rai-font-sm">
            Questa pratica è scaduta. Clicca qui per annullarla ed eliminarla dalla lista (può essere comunque visualizzata tramite il pannello di ricerca)
        </span>
        <div class="col-sm-12" style="padding:0px;margin-top:12px">
            <button id="button-prendi" type="button" class="btn rai-btn-secondary full-width" onclick="AnnullaRichiesta(@Model.Richiesta.ID)" style="height:44px">Annulla</button>
        </div>


    </div>
}


