
@using myRaiHelper;

<div class="rai modal right fade" data-keyboard="false" data-backdrop="static" id="popupview-gestioneperiodi" role="dialog" aria-modal="true" aria-hidden="true" style="display: none;">
    <input type="hidden" id="current-id-richiesta" />

    <div class="modal-dialog modal-dialog-popin">

        <div class="rai modal-content  scroll-container">

            <div class="block block-transparent remove-margin-b">
                <div class="block-header">
                    <div style="display:table-cell;vertical-align:middle;height:58px;position:relative;top:-15px;">
                        <label class="rai-font-modal-heading">Dettaglio periodi dipendente</label>

                    </div>
                    <div class="block-options">
                        <button onclick="ConfermaChiusuraPer()" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>



                
                <div class="block-content">
                     
                    <div class="row">
                        <div class="col-md-12" id="dettagli-per">
                           
                        </div>





                       

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>
<script>
    function ConfermaChiusuraPer() {
        swal({
            title: "Chiudi pannello",
            type: 'question',
            html: "Confermi di chiudere il pannello dei periodi?",
            showCancelButton: true,
            confirmButtonText: '<i class="fa fa-check"></i> Conferma',
            cancelButtonText: '<i class="fa fa-times"></i> Annulla',
            reverseButtons: true,
            customClass: 'rai rai-confirm-cancel'
        }).then(function () {
            $("#popupview-gestioneperiodi").modal("hide");
        });
    }
</script>

