
@using myRaiHelper;

<div class="rai modal right fade" id="popupview-amm" role="dialog" aria-modal="true" aria-hidden="true" style="display: none;">
    <input type="hidden" id="current-id-richiesta" />
    <div class="modal-dialog modal-dialog-popin">

        <div class="rai modal-content  scroll-container">

            <div class="block block-transparent remove-margin-b">
                <div class="block-header">
                    <div style="display:table-cell;vertical-align:middle;height:58px;position:relative;top:-15px;">
                        <label class="rai-font-modal-heading">Dettaglio richiesta</label>

                    </div>
                    <div class="block-options">
                        <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>



                <div class=" text-center rai-font-md-bold" id="periodo-scroll">

                </div>
                <div class="block-content" id="popup-view-amm-content">
                    <div class="row" id="alert-lavorata" style="display:none">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <b>Pratica già lavorata</b><br>
                                <span>Questa pratica fa parte del gruppo di pratiche relative al dipendente </span>
                                <span id="nome-dipendente"> Nome Dipendente </span> <span> ed è stata in parte già lavorata.</span>
                                <a id="apri-pratica" href="javascript:ApriPratica()">Apri la pratica lavorata</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">




                        <div class="col-md-8" id="dettagli-amm">
                            <section class="rai panel">
                                <header class="panel-heading">

                                    <h2 id="cat-domanda" class="panel-title"></h2>

                                </header>

                                <div class="panel-body rai-loader">
                                    <div style="height:60px"></div>

                                    @*................................................................................*@


                                </div>
                            </section>
                        </div>





                        <div class="col-md-4">
                            @*<div class="row">
                                <div class="col-sm-12" style="padding-top:22px">
                                    <span class="rai-font-md-bold">DETTAGLI RICHIESTA</span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="background-color: #eee;height: 1px;margin-top: 11px;"></div>
                                </div>
                            </div>*@
                            <div class="block block-content-table block-transparent remove-margin-bottom">
                                <div class="block-header" href="#collapse-dett-rich" data-toggle="collapse" aria-expanded="true" data-block-toggle>
                                    <label class="block-title">DETTAGLI RICHIESTA</label>
                                    <div class="block-options">
                                        <i data-toggle="collapse" class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                                <div class="block-content collapse in" id="collapse-dett-rich">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <div id="dettagli-richiesta-amm">
                                                        @*................................................................................*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div id="note-amm" class="note-amm" style="margin-top: 16px;">
                                @*................................................................................*@
                            </div>

                            <div id="promemoria" style="margin-top: 16px;" class="">
                                @*................................................................................*@
                            </div>


                            <div id="assegnazione-amm" style="margin-top: 16px; ">
                                @*................................................................................*@
                            </div>
                            <div id="annullamento-amm" style="margin-top: 16px;">
                                @*................................................................................*@
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>


