

@using myRaiHelper;

<style>
    .arret td {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        border-bottom: solid 1px #eee;
    }
</style>

<div class="rai modal right fade" id="popupview-cedolino-pagato" role="dialog" aria-modal="true" aria-hidden="true" style="display: none;">
    <input type="hidden" id="current-id-richiesta" />
    <div class="modal-dialog modal-dialog-popin modal-half-dialog">
        <div class="rai modal-content scroll-container">
            <div id="dettagli-cedolino-pagato" data-modal-wrapper>

            </div>
        </div>

    </div>

</div>

<script>



</script>