@using myRaiHelper
@using myRaiCommonModel
@model List<ProvvedimentoExt>

<div class="row push-10-t">
    <div class="col-sm-12">
        <div style="max-height:200px;overflow:hidden;overflow-y:auto;">
            <table class="table rai-table rai-table-vcenter">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Stato</th>
                        <th>Descrizione</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if ( Model != null && Model.Any( ) )
                        {
                            foreach ( var provv in Model )
                            {
                                <tr>
                                    <td>
                                        <span class="rai-font-md-neutral-bold">@provv.Data.ToString( "dd/MM/yyyy" )</span>
                                    </td>
                                    <td>
                                        <span class="rai-font-md-neutral-bold">@provv.Stato</span>
                                    </td>
                                    <td style="width:50%">
                                        <span class="rai-font-md-bold">@provv.Descrizione</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        }
                        else
                        {
                            @Html.Partial( "~/Views/Shared/_NoDati.cshtml" )
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>