@using myRaiCommonModel
@using myRaiHelper
@model AnagraficaSpeseProduzione
<style>
    .table-cedo td {
        padding: 4px 8px !important;
    }
</style>
@{
    Layout = null;
}

    <input id="speseproduzione_matricola" type="hidden" value=@Model.Matricola />

    <div class="block" style="margin-bottom:0px;">
        <div class="row">
            <div class="row push-10" style="margin:15px 10px">

                <div class="col-sm-12">
                    <div class="rai-nav-fill">
                        <div class="rai-nav-fill-item">

                        </div>
                        <div class="rai-nav-fill-item">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <span onclick="$('#datameseSpesa').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                    <input class="js-datetimepicker form-control" value=@DateTime.Today.ToString("MMMM yyyy") data-format="MMMM YYYY" data-locale="it" type="text" id="datameseSpesa" placeholder="Mese" onchange="javascript:cambioDataSpesa(this)">
                                </div>
                            </div>
                        </div>
                        <div class="rai-nav-fill-item">

                        </div>
                    </div>


                </div>

            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
            <li class="active" role="presentation">
                <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1" onclick="LoadSpeseProduzione(this, 'aperte')">
                    Aperte
                </a>
            </li>
            <li class="" role="presentation">
                <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2" onclick="LoadSpeseProduzione(this, 'concluse')">
                    Concluse
                </a>
            </li>
        </ul>

        <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
            <div class="tab-pane active" id="tab1" role="tabpanel">

                <div id="tblSpeseproduzioneContainer">
                    <div class="table-responsive">
                        <table class="rai-table table trasferte" id="table-speseproduzione">
                            <thead>
                                <tr>
                                    <th class="col-xs-5" style=" line-height:14px;">Foglio spese</th>
                                    <th class="col-xs-2" style=" line-height:14px;">Anticipo</th>
                                    <th class="col-xs-3" style="padding-bottom: 20px; line-height:14px;">Spese<br />Rendicontate</th>
                                    <th class="col-xs-3" style=" line-height:14px;">Saldo</th>
                                    <th class="col-xs-0 text-right" style="padding-bottom: 0px; line-height:14px;"></th>
                                </tr>
                            </thead>
                            <tbody id="bodySpeseproduzioneaperte" data-target="loaded">
                                @{
                                    if (Model.SpeseProduzione == null || !Model.SpeseProduzione.Any())
                                    {
                                        <tr>
                                            <td colspan="6">
                                                @Html.Partial("~/Views/Shared/_NoDati.cshtml")
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @Html.Partial("~/Views/Anagrafica/subpartial/Tab_DatiSpeseProduzione.cshtml", Model)
                                    }
                                }
                            </tbody>
                            <tbody id="bodySpeseproduzioneconcluse" data-target=""></tbody>

                        </table>

                    </div>
                    <input id="speseproduzione_statoVisibile" type="hidden" value=aperte />

                    @*     @if (Model.speseproduzione.HasNext)
                        {*@
                    <div class="text-center">
                        <i id="divCaricamentoInCorsoaperte" class="rai-loader" style="height:50px; display:none;"></i>
                    </div>
                    <div class="section-bottom" id="DivAltreSpeseaperte">

                        <a id="toggle-AltreSpese" class="hidden" style="top:20px;" data-tourdb="tour-index-arrowdown" data-step="7" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Quando trovi questo simbolo puoi espandere la sezione. Ci sono altre spese di produzione che non vedi dalla pagina principale.</p>" data-toggle="collapse" data-target="#collAltreSpeseaperte" class="apri-panel" onclick="toggleSpese(this)"><i class="fa fa-2x push-7-t font-w600 fa-angle-down text-white"></i></a>
                    </div>
                    @*   }*@
                </div>
            </div>
        </div>
    </div>



<script>
    InitDatePicker();

</script>

