@using myRaiHelper
@using myRaiCommonModel
@model AnagraficaModel

@using (Html.BeginModal("Storico dati contrattuali"))
{
    using (Html.BeginPanel(PanelType.PanelNoPadding, "Cerca situazione contrattuale", false))
    {
        <div class="block" style="margin-bottom:0px;">
            <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
                <li class="active" role="presentation">
                    <a href="#perContratto" class="rai-badge-anchor" id="hrefContr" tabindex="0" role="tab" aria-selected="true" aria-controls="perContratto">
                        Per contratto
                    </a>
                </li>

                <li class="" role="presentation">
                    <a href="#perPeriodo" class="rai-badge-anchor" id="hrefPeriodo" tabindex="0" role="tab" aria-selected="false" aria-controls="perPeriodo">
                        Per periodo o data
                    </a>
                </li>
            </ul>

            <div class="block-content tab-content" style="padding:15px 5px 0px 5px">
                <div class="tab-pane active" id="perContratto" role="tabpanel">
                    @Html.Partial("carriera/Tab_CarrieraPerContratto", Model)
                </div>
                <div class="tab-pane" id="perPeriodo" role="tabpanel">
                    @Html.Partial("carriera/Tab_CarrieraPerPeriodo", Model)
                </div>
            </div>
        </div>
    }
}


<script>
    InitDatePicker();
</script>