@using myRaiHelper
@using myRaiCommonModel
@model AnagraficaRecapiti

@{
    var listAction = new List<myRaiHelper.ActionTemplate>();
    if (Model.CanModify)
    {
        listAction.Add(new myRaiHelper.ActionTemplate() { Icon = "fa fa-pencil", OnClick = "OpenModalRecapiti('" + Model.Matricola + "')", Title = "Modifica dati recapito" });
    }
}

@using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "DATI RECAPITO", listAction))
{
    <div class="rai-table-info">
        <div class="row push-10-t">
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <span>Telefono</span>
            </div>
            <div class="col-sm-8 col-lg-9 col-xl-10">
                <span>@(Model.Telefono??"-")</span>
            </div>
        </div>
        <div class="row push-10-t">
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <span>Cellulare</span>
            </div>
            <div class="col-sm-8 col-lg-9 col-xl-10">
                <span>@(Model.Cellulare??"-")</span>
            </div>
        </div>
        <div class="row push-10-t">
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <span>Email</span>
            </div>
            <div class="col-sm-8 col-lg-9 col-xl-10">
                <span>@(Model.Email??"-")</span>
            </div>
        </div>
        <div class="row push-10-t">
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <span>Fax</span>
            </div>
            <div class="col-sm-8 col-lg-9 col-xl-10">
                <span>@(Model.Fax??"-")</span>
            </div>
        </div>
    </div>
}