@using myRaiCommonModel
@model AnagraficaModel

<div class="block" style="margin-bottom:0px;">
    <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
        <li class="active" role="presentation">
            <a href="#cause" class="rai-badge-anchor" id="hrefTpcntr" tabindex="0" role="tab" aria-selected="true" aria-controls="tpcntr">
                Cause in archivio
            </a>
        </li>

        <li class="" role="presentation">
            <a href="#provv" class="rai-badge-anchor" id="hrefSedeServ" tabindex="0" role="tab" aria-selected="false" aria-controls="sedeServ">
                Provvedimenti in archivio
            </a>
        </li>
    </ul>

    <div class="block-content tab-content" style="padding:15px 15px 0px 15px">
        <div class="tab-pane active" id="cause" role="tabpanel">
            @Html.Partial("subpartial/Tab_DatiCauseAperte", Model.DatiContenzioso)
            @Html.Partial("subpartial/Tab_DatiCauseChiuse", Model.DatiContenzioso)
        </div>
        <div class="tab-pane" id="provv" role="tabpanel">
            @Html.Partial("subpartial/Tab_DatiProvvedimentiAperti", Model.DatiContenzioso)
            @Html.Partial("subpartial/Tab_DatiProvvedimentiChiusi", Model.DatiContenzioso)
        </div>
    </div>
</div>