@model myRaiCommonModel.cvModels.cvModel

@*  ****************** FREAK - PROVA HTML BOX ESPERIENZE PROFESSIONALI ****************** *@

<section class="rai panel">
    <header class="panel-heading bg-primary">
        <div class="panel-actions">
        <a href="#" class="panel-action remove-padding text-white" data-toggle="modal" data-target=""><span class="text-white fa-2x"></span></a>
        </div>

        <h2 class="panel-title text-white">&nbsp;</h2>
    </header>

    <div class="panel-body remove-padding ">
        <!-- -->
        <table class="js-table-sections table table-hover" id="exp-1"  style="width: 50%">
                            <tbody class="js-table-sections-header">

                                <tr>
                                    <td class="text-center" style="width: 40%">
                                        <figure class="profile-picture my-card-loading-block" style="height:100px;" >
                                            
                                        </figure>
                                    </td>
                                    <td class="text-left" style="width: 60%">
                                        <p class="text-bold my-card-loading-block"></p>
                                        <p></p>
                                        <p class="text-italic my-card-loading-block"></p>
                                        <p class="text-italic my-card-loading-block"></p>
                                    </td>
                                    <td class="" style="width: 10%; vertical-align:top!important">
                                        
                                    </td>
                                </tr>
                                
                                
                                
                                
                                
                                
                            </tbody>
                        </table>
        


                <!-- pull-b-5  -->
      
</div>
</section>
