<div class="block block-themed block-transparent remove-margin-b">

    <div class="row no-margin-left-right">
        <!-- Colonna -->
        <div class="col-sm-12 no-pad-left no-pad-right border-right ">
            <div class="block-content block-content-full" style="margin-bottom: 0px; padding-bottom:5px; overflow-y: auto; height: 83vh">
                <div class="row">
                    <div class="col-xs-12" id="modulo-content-body" style="margin-left:5%; width:90%;">
                        @ViewBag.Eccezione
                    </div>
                </div>
            </div>
        </div>
        <!-- Fine colonna -->
    </div>

</div>