@using myRaiCommonModel;

@{
    string matricola = ViewBag.MatricolaUtente;
    string nominativo = ViewBag.SintesiNominativo;
}

<div class="widget-container">
    <div class="panel">
        <div class="panel-body">
            <div class="row push-20-t push-10">
                <div class="col-sm-12">
                    @Html.ProfileWidget(matricola, nominativo, htmlImgAttributes: new { @class = "img-doubled" }, details1: "Matricola " + matricola)
                </div>
            </div>

            <div class="row" style="margin-top: 6rem;">
                <div class="col-12">
                    @if (ViewBag.DataValidazione == null)
                    {
                        <span class="rai-font-md-bold">Richiesta in attesa di validazione da parte dell'utente</span>
                    }
                    else
                    {
                        <span class="rai-font-md-bold">Data richiesta</span><br />
                        <span class="rai-font-md-neutral">@Convert.ToDateTime(ViewBag.DataValidazione)</span>
                    }
                </div>
            </div>

            @if (ViewBag.DataValidazione != null)
            {
                <div class="row" style="margin-top: 6rem;">
                    <div class="rai-btn-fill">
                        <button type="button" id="btnAnnullaPraticaTfsFinale" onclick="eliminaPraticaTfrFinale()" class="btn rai-btn-primary">Annulla pratica</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    /**
     * Funzione che chiede conferma sulla chiusura del model e, eventualmente, esegue azioni
     * */
    function eliminaPraticaTfrFinale() {
        swal({
            title: 'Attenzione',
            type: 'question',
            html: "Si desidera eliminare i dati inseriti",
            showCancelButton: true,
            confirmButtonText: 'Sì',
            cancelButtonText: 'No',
            reverseButtons: true,
            customClass: 'rai rai-confirm-cancel'
        }).then(function () {
            // Cliccato su 'Sì, elimina i dati'
            eseguiEliminazioneDatiInseriti();
        }).catch(function () {});
    }
</script>