<div class="row" data-async="/DocumentiAmministrativi/GetBustaPaga?ultimoAnno=True&notifiche=@Model.nonLetti">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Documenti Amministrativi</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="block block-opt-refresh" id="my-block" style="box-shadow:none">
                    <div id="appr" class="block-content tab-content">
                        @Model.daleggere
                    </div>
                </div> 
            </div>
        </div>
    </section>
</div>