@using myRaiCommonManager;
@using myRaiCommonModel;


@model List<DettaglioSceltaDipendente>
<section class="rai panel ">
    <header class="panel-heading">
        <div class="panel-actions visible-xs">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblLeftBox" aria-expanded="true"></a>
        </div>
        <h2 id="lblLeftBox" class="panel-title">Elenco dipendenti</h2>
    </header>
    <div class="panel-body no-padding">
        <div class="block" id="" style="margin-bottom:0px;">
            <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">
                <li class="active" role="presentation">
                    <a href="#btab-all" id="" tabindex="0" role="tab" aria-selected="false" aria-controls="btab-pratiche">
                        Elenco dipendenti con scelta già effettuata
                        <span id="badge-tot-pr" style="margin-left: 5px;margin-top: -4px;" class="badge btn-primary"></span>
                    </a>
                </li>
            </ul>
            <div class="block-content tab-content" style="padding:5px 5px 1px;">
                <div class="tab-pane active" id="btab-all" role="tabpanel">
                    @{
                        if ( Model != null && Model.Any( ) )
                        {
                            int count = 0;
                            foreach ( var d in Model )
                            {
                                count++;
                                <div class="row" role="row">
                                    <div class="col-sm-2 col-xs-2">
                                        <h5 class="text-bold">@(d.Matricola)</h5>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <h5 class="text-bold">@(d.Nominativo)</h5>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <h5 class="text-bold">@(d.DataScelta.ToString("dd/MM/yyyy"))</h5>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        @{
                                            <a style="cursor:pointer;" href="#">
                                                <i title="Ripristina dati" class="fa interactive-primary-color fa-undo h4 text-success" style="font-size: 1.4em;"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            @Html.Partial("~/Views/Shared/_NoDatidiv.cshtml")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>