@using myRaiHelper;
@using myRaiCommonModel.ess;
@using myRaiCommonManager;
@using MVCProject.Custom_Helpers;

@model List<DettaglioTrasfertaVM>

<div class="block block-transparent block-content-table" id="sectsegn">
    <div class="block-header block-content-mini">
        <label class="rai-font-table-heading">Prossime trasferte</label>
    </div>
    <div class="block-content block-content-mini">
        <div class="row">
            <div class="col-sm-12">
                @{
                    if (Model == null || !Model.Any())
                    {
                        <table class="table" id="table-prox-trasferte">
                            <tbody>
                                <tr>
                                    <td class="text-center no-border" colspan="100"><span class="rai-font-md-neutral">Non ci sono dati da visualizzare</span></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table rai-table" id="table-prox-trasferte">
                            <thead>
                                <tr>
                                    <th>Giorno</th>
                                    <th>Destinazione</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var t in Model)
                                    {
                                        <tr>
                                            <td>@(t.FoglioViaggio.DATA_PARTENZA.ToString("dd MMMM yyyy"))</td>
                                            <td>@(t.FoglioViaggio.ITINERARIO)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>