@using myRaiHelper
@using myRaiCommonManager
@using myRaiData.Incentivi
@model List<XR_HRIS_ABIL_MODELLO>

@{
    ActionTemplate actionNew = new ActionTemplate()
    {
        OnClick = "AbilModelloDett(0, 'Nuova modello');",
        Icon = "fa fa-plus"
    };

    RaiAttributes attributes = new RaiAttributes()
    {
        new RaiAttribute("class","panel-collapsed"),
        new RaiAttribute("bodystyle","display:none")
    };
}

@using (Html.BeginPanel(myRaiHelper.PanelType.PanelNoPadding, "Modelli", actions: new List<ActionTemplate>() { actionNew }, panelAttributes:attributes))
{
    <div @*style="max-height:50vh;overflow:hidden;overflow-y:auto"*@>
        <table class="table rai-table rai-table-vcenter rai-table-panel">
            @if (Model.Any())
            {
                foreach (var item in Model.OrderBy(x => x.CODICE))
                {
                    <tr>
                        <td>
                            <span class="rai-font-md-bold">@item.CODICE</span>
                        </td>
                        <td>
                           
                        </td>
                        <td>
                            
                        </td>
                        <td class="rai-table-td-action">
                            <button class="btn btn-action-icon" onclick="AbilModelloDett(@item.ID_MODELLO,'@item.CODICE')"><i class="fa fa-pencil"></i></button>
                        </td>
                        <td class="rai-table-td-action"></td>
                    </tr>
                }
            }
            else
            {
                @Html.Partial("_NoDati")
            }
        </table>
    </div>
}
