 

@model myRaiCommonManager.NuovaComunicazioneModel

<div class="row">
    <div class="col-sm-5">
        <label class="rai-caption">DATA INIZIO PERIODO</label>
        <div class="input-group">
            <span class="input-group-addon" style="cursor: pointer" onclick="$('#data-ini').datetimepicker('show')"><i class="fa fa-calendar"></i></span>
            <input autocomplete="off" class="js-datetimepicker  form-control" data-format="DD/MM/YYYY" data-locale="it"
                   data-maxdata="12/31/2999" data-mindata="01/01/0001" data-val="true"
                   data-val-date="Il campo DataFine deve essere una data." data-val-required="Il campo DataInizio è obbligatorio."
                   id="data-ini" placeholder="Selezionare una data" required="required" type="text"
                   value="@(Model.DataInizio != null ? Model.DataInizio.Value.ToString("dd/MM/yyyy"):"")">
        </div>
    </div>
    <div class="col-sm-5">
        <label class="rai-caption">DATA FINE PERIODO</label>
        <div class="input-group">
            <span class="input-group-addon" style="cursor: pointer" onclick="$('#data-ini').datetimepicker('show')"><i class="fa fa-calendar"></i></span>
            <input autocomplete="off" class="js-datetimepicker  form-control" data-format="DD/MM/YYYY" data-locale="it"
                   data-maxdata="12/31/2999" data-mindata="01/01/0001" data-val="true"
                   data-val-date="Il campo DataFine deve essere una data." data-val-required="Il campo DataFine è obbligatorio."
                   id="data-fin" placeholder="Selezionare una data" required="required" type="text"
                   value="@(Model.DataFine != null ? Model.DataFine.Value.ToString("dd/MM/yyyy"):"")">
        </div>
    </div>
    <div class="col-sm-2" style="padding-top:30px;text-align:right">
        <button class="btn rai-btn-small" onclick="AggiungiNuovaComunicazioneInternal('@Model.Matricola')">Invia</button>
    </div>
    <input type="hidden" id="matr" value="@Model.Matricola" />
</div>
