@using myRaiHelper
@using myRaiGestionale.Controllers
@model myRaiCommonModel.Gestionale.Pratica

@{
    bool showHalfModal = Model.BoxAbilitati.Count == 0;//|| Model.IsPreview;
}

@using (Html.BeginModal("Scheda dipendente"))
{
    <div id="praticaContentExt">
        <div id="praticaContent" class="no-margin-left-right row ">
            <div class="col-md-7 ">

                @using (Html.BeginPanel(PanelType.Panel, "Gestione pratica"))
                {
                    @Html.Partial("../PoliticheRetributive/subpartial/Dettaglio_DatiGenerali")
                    @Html.Partial("../PoliticheRetributive/subpartial/GestioneStati")
                }
            </div>
            @if (!showHalfModal)
            {
                <div class="col-md-5">
                    @foreach (var box in Model.BoxAbilitati)
                    {
                        @Html.Partial("../PoliticheRetributive/subpartial/" + box.NOME_VIEW)
                    }
                </div>
            }
        </div>
    </div>
}





