@model myRaiCommonModel.Gestionale.Pratica

@{
    var elencoProv = Model.Dipendente.XR_PRV_DIPENDENTI_PROV;
}

@using (Html.BeginBlock(myRaiHelper.BlockType.ContentTable, "Provvedimenti recenti (ultimi 5 anni)"))
{
    <div class="row">
        <div class="col-sm-12 text-center">
            @if (Model != null && elencoProv.Where(a => a.DT_PROV.Year >= DateTime.Today.Year - 5).Count() > 0)
            {
                <div style="display:block;width:100%;max-height:100px;overflow-y:hidden;overflow-x:hidden;">

                    <table class="js-table-sections table table-hover rai-table rai-table-vcenter" role="grid">
                        <thead>
                            <tr>
                                <th>Tipologia</th>
                                <th class="text-center">Data</th>
                                <th class="text-right">Importo</th>
                            </tr>
                        </thead>
                        @foreach (var prov in elencoProv.Where(a => a.DT_PROV.Year >= DateTime.Today.Year - 5).OrderByDescending(x => x.DT_PROV))
                        {
                            <tr role="row">
                                <td class="col-sm-6 text-left">
                                    <span class="rai-font-md-bold" data-toggle="tooltip" data-placement="bottom" data-html="true" data-trigger="hover click" title="@(Html.Raw(prov.DESCRIZIONE != null ? prov.DESCRIZIONE.Replace("\n", "<br/>") : ""))">@prov.XR_PRV_PROV.NOME</span>
                                </td>
                                <td class="col-sm-2 rai-font-md text-center">
                                    @(prov.DT_PROV.ToString("yyyy/MM"))
                                </td>
                                <td class="col-sm-4 text-right rai-font-md">
                                    @(prov.IMPORTO.ToString("N") + " €")
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            }
            else
            {
                <label class="text-italic">Nessun provvedimento trovato</label>
            }
        </div>
    </div>
}
