@using myRaiCommonManager
@model int

<div class="modal-dialog modal-dialog-popin">
    <div class="modal-content ">
        <div class="rai block block-themed block-transparent no-margin-bottom">
            <div class="block-header" style="height: 58px; border-radius: 6px 6px 0px 0px">
                <label class="rai-font-modal-heading">Seleziona lo stato della consegna</label>
                <div class="block-options">
                    <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            <div class="block-content">
                <section class="rai panel">
                    <div class="panel-body">
                        <div class="row push-10">
                            <div class="col-sm-12">
                                <label class="rai-font-md">Qual è stato l'esito della consegna?</label>
            </div>
                        </div>
            <div class="row">
                            <div class="col-sm-12">
                                <div class="rai-btn-fill">
                                    @foreach (var stato in PoliticheRetributiveManager.GetStatoLetteraList().Where(x=>x.Value!=""))
                                    {
                                        <button class="btn rai-btn-secondary" onclick="InternalConsegnaLettera(@Model, @stato.Value)">@stato.Text</button>
                                    }
                    </div>
                </div>
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>
</div> 