
@using (Html.BeginModal("Ricerca dipendenti"))
{
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginPanel(myRaiHelper.PanelType.NoHeader, "", false))
            {
                <div class="row ">
                    <div class="col-sm-12">
                        @Html.Partial("../PoliticheRetributive/subpartial/widgetRicercaAnagr", new myRaiCommonModel.Gestionale.RicercaAnagrafica() { BoxDest = "RicercaDipendenti", ResultView = "elencoAnagrSelezione" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="RicercaDipendentiExt" style="margin-bottom:0px !important;">
                            <div id="RicercaDipendenti" style="height:400px;">

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    
}

