@using myRaiGestionale.Controllers
@using myRaiHelper
@{
    var campagneAttive = PoliticheRetributiveController.GetCampagneAttive();
}

@if (campagneAttive != null && campagneAttive.Any(x => x.campagna.ID_CAMPAGNA > 1))
{
<section class="panel" id="panelApriCampagna">
    <header class="panel-heading">
        <h2 class="panel-title">Piani attivi</h2>
        <div class="panel-actions ">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
        </div>
    </header>
    <div class="panel-body no-padding" style="">
        <table class="table rai-table rai-table-panel rai-table-vcenter" role="grid">
                <tbody>
                    @foreach (var item in campagneAttive.Where(x => x.campagna.ID_CAMPAGNA > 2))
                    {
                        <tr>
                            <td>@item.campagna.NOME</td>
                            <td class="rai-table-td-action">
                                <a href="#" class="btn btn-action-icon" onclick="GestModificaCampagna(@item.campagna.ID_CAMPAGNA)"><i class="fa fa-pencil"></i></a>
                            </td>
                            @if (item.EnableGest)
                            {
                                <td class="rai-table-td-action"><a href="#" class="btn btn-action-icon" onclick="GestCancellazionePiano(@item.campagna.ID_CAMPAGNA)"><i class="fa fa-trash"></i></a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    @if (PoliticheRetributiveHelper.EnableGest(PolRetrChiaveEnum.BudgetRS) || PoliticheRetributiveHelper.EnableGest(PolRetrChiaveEnum.BudgetQIO))
    {
    <div class="panel-footer">
        <div class="rai-btn-fill">
            <a href="#" class="btn rai-btn-small" onclick="GestAperturaCampagna()">Crea piano</a>
        </div>
    </div>
    }
</section>
}
else
{
    <section class="panel" id="panelApriCampagna">
        <header class="panel-heading">
                <h2 class="panel-title">Piano</h2>
        </header>
        <div class="panel-body">
            <div class="widget-summary push-10">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h3 class="title" style="word-break: break-word;">Crea un nuovo piano</h3>
                    </div>

                </div>
            </div>
            <div class="summary-footer">
                <a href="#" class="btn btn-sm rai-btn-small full-width" onclick="GestAperturaCampagna()">Crea piano</a>
            </div>
        </div>
    </section>
}