@*<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Lettere provvedimenti</h2>
        <div class="panel-actions visible-xs" style="position: absolute">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
        </div>
    </header>
    <div class="panel-body">
        <div class="widget-summary push-10">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-cda">
                    <i class="fa fa-info"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h3 class="title" style="word-break: break-word;">Scarica le lettere dei provvedimenti</h3>
                </div>
                <div class="summary-footer">
                    <a href="@Url.Action("ScaricaLettere","PoliticheRetributive")" class="btn btn-default btn-scriv text-uppercase bg-puls_dash" style="height:auto;">Scarica</a>
                </div>
            </div>
        </div>

    </div>
</section>*@

@Html.RenderWidget(myRaiHelper.WidgetType.Normal, "Lettere provvedimenti", "fa fa-info", "Scarica le lettere dei provvedimenti", action: new myRaiHelper.ActionTemplate() {
    Href = Url.Action("ScaricaLettere", "PoliticheRetributive"),
    Text = "Scarica"
})