<section class="panel" id="panelAggiungiDipendente">
    <header class="panel-heading">
        <h2 class="panel-title">Gestione</h2>
        <div class="panel-actions visible-xs" style="position: absolute">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
        </div>
    </header>
    <div class="panel-body">
        <div class="widget-summary push-10">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h3 class="title" style="word-break: break-word;">Inserisci una nuova richiesta</h3>
                </div>
            </div>
        </div> 
        <div class="summary-footer">
            <a href="#" class="btn rai-btn-small full-width" onclick="GestAggiungi()" style="height:auto;">Aggiungi dipendente</a>
        </div>
    </div>
</section>