@using myRaiCommonModel
@model List<GruppoAd>

@using (Html.BeginPanel(myRaiHelper.PanelType.PanelNoPadding, "Gruppi AD"))
{
    <table class="table rai-table rai-table-vcenter rai-table-collapsable rai-table-panel">
        @foreach (var item in Model)
        {
            <tbody class="rai-table-collapsable-header" data-loaded="false" data-gr="@item.Nome" data-rai-collapsable-onopen="LoadGruppo">
                <tr>
                    <td>
                        <label class="rai-font-table-heading">@item.Nome</label>
                    </td>
                    <td class="rai-table-td-action">
                        <span class="rai-notification" data-count="@item.Nome">-</span>
                    </td>
                    <td class="rai-table-td-toggle">
                        <span class="fa fa-chevron-down" ></span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3" class="text-right bg-neutrals-xl-10">
                        <button class="btn rai-btn-small" disabled id="mail-@item.Nome">Invia mail</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="no-padding">
                        <div id="box-@item.Nome" style="max-height:60vh;overflow:hidden; overflow-y:auto">
                            @Html.Partial("Elenco_Membri", item)
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}