@using myRaiHelper
@using myRaiCommonModel
@{
    Layout = "~/Views/Shared/_layoutContent.cshtml";
    ViewBag.Title = "HRIS - Gruppi AD";

}

<section role="main" class="content-body">
    <main id="main-container">
        <div class="content">
            @using (Html.BeginOnePageNav("nav-abil", "Abilitazioni"))
            {
                <div class="row">
                    <div class="col-md-8">
                        <div id="box-gruppi">

                        </div>
                    </div>
                    <div class="col-md-4">
                       
                    </div>
                </div>
            }
        </div>
    </main>
    <!-- end: page -->
</section>

@section afterjs{
    <script>
        RaiUpdateWidget("box-gruppi", "/GruppiAD/Elenco_Gruppi", "html", null);

        function LoadGruppo(element) {
            let nomeGruppo = $(element).attr('data-gr');
            if ($(element).attr('data-loaded') == 'false') {
                RaiUpdateWidget("box-" + nomeGruppo, "/GruppiAD/Elenco_Membri", "html", { name: nomeGruppo }, false, function () {
                    $(element).attr('data-loaded', 'true');
                    $('[data-count="'+nomeGruppo+'"]').text($('#box-' + nomeGruppo).find('tbody > tr').length);
                }, false, "POST");
            }
        }
    </script>
}
