@using myRaiCommonModel

@model ModuloVM

<div class="block block-themed block-transparent remove-margin-b">

    <div class="block-header">
        <label class="rai-font-modal-heading">
            ESERCIZIO DIRITTO SMART WORKING
        </label>
        <div class="block-options">
            <button id="@(Model.WidgetId)_ChiudiModale" data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>

    <div class="row no-margin-left-right">
        <!-- Colonna -->
        <div class="col-sm-12 no-pad-left no-pad-right border-right ">
            <div class="block-content block-content-full" style="margin-bottom: 0px; padding-bottom:5px; overflow-y: auto; height: 83vh">
                <div class="row">
                    <div class="col-xs-12" id="modulo-content-body" style="margin-left:5%; width:90%;">
                        <iframe style="width:100%; height:80vh!important;" src="@Url.Action("GetPDF","Moduli")?matricola=@Model.Matricola&codiceModulo=@Model.CodiceModulo"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fine colonna -->
    </div>
</div>
<div class="modal-footer" style="width:100%;height:60px;position:absolute;bottom:0px;text-align:center;border-top:none;margin-left: 0px;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
</div>