@using myRaiCommonModel
@model SpeseProduzioneViewModel
@if (Model == null)
{
    <div cass="row">
        @Html.Partial("~/Views/Shared/_NoDatidiv.cshtml")

    </div>
}
else
{
   
    <div class="block block-transparent block-content-table">
        <div class="block-header block-content-mini">
            <label class="rai-font-table-heading">Competenze di @DateTime.Now.ToString("MMMM")</label>
        </div>
        <div class="block-content block-content-mini">
            <div class="rai-table-info">
                <div class="row">
                    <div class="col-xs-5"><span class="rai-font-md-neutral-bold">Importi </span></div>

                    <div class="col-xs-7 text-right"><span class="rai-font-md-bold"> @ViewBag.SommaImporti €</span></div>
                </div>
            </div>
        </div>
    </div>
}







