@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;

<div id="div-cal" style="width: 100%" data-async="/raiacademy/getcalendario">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            </div>
            <h2 class="panel-title">Il mio calendario</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <span class="my-card-loading-block"> </span>
                <span class="my-card-loading-block"> </span>
            </div>
        </div>
    </section>
</div>