@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;

<div class="row">
    <div class="col-sm-9">
        <div class="btn-group btn-group-justified btn-group-academy" id="div_btn" role="tablist">
            <a id="button-cat-0" class="cors panel-featured-primary text-primary btn btn-default" data-tipo-corsi="Cerca nel catalogo" role="tab" aria-label="Tutti i corsi" aria-controls="ElencoCorsi">
                <span>Tutti i corsi</span>
            </a>
        </div>
        <br />

        <div id="ElencoCorsiExt" class="">
            <div id="ElencoCorsi" class="">
                @for ( int i = 0 ; i < 9 ; i++ )
                {
                    <div class="col-lg-4 col-xl-4" style="margin-bottom: 10px;">
                        <section class="card mt-4">
                            <header class="card-header academy-header-img-corso my-card-loading-block" style="border: 0px;"></header>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-xs-12 col-md-12 academy-titoli-thumbnail" style="margin-left: 5px;">
                                        <div class="academy-tematica-thumbnail academy-ellipsis text-primary my-card-loading-block">
                                        </div>

                                        <div class="academy-titolo-thumbnail text-primary academy-ellipsis-2row my-card-loading-block">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-3" id="filtro-corsi-container">
    </div>
</div>
