@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;

@model RaiAcademyVM

@{
    bool isMobile = Request.Browser.IsMobileDevice;
}

<div class="row">
    @if ( isMobile )
    {
        <div class="col-sm-3 visible-xs" id="filtro-corsi-container">
            @Html.Partial( "~/Views/RaiAcademy/FiltroCorsi.cshtml" , Model )
        </div>
    }

    <div class="col-sm-9">
        <div class="btn-group btn-group-justified btn-group-academy" id="div_btn" role="tablist" data-cat="">
            <a tabindex="0" id="button-cat-0" onclick="ButtonCat(0)" class="button-cat-0 cors panel-featured-primary text-primary btn btn-default hidden-xs" data-tipo-corsi="Cerca nel catalogo" role="tab" aria-label="Tutti i corsi" " aria-selected="true">
                <span>Tutti i corsi</span>
            </a>
            <a tabindex="-1" id="button-cat-1" onclick="ButtonCat(1)" class="button-cat-1 cors btn btn-default hidden-xs" data-tipo-corsi="Cerca nei corsi su richiesta" role="tab" aria-label="Corsi su richiesta">
                <span>Su richiesta</span>
                <span id="popSuRichiesta" class="push-5-l hidden-xs" data-toggle="tooltip" data-html="true" title="Elenca i corsi su richiesta">
                    <i id="" class="fa fa-info-circle"></i>
                </span>
            </a>
            <a tabindex="-1" id="button-cat-2" onclick="ButtonCat(2)" class="button-cat-2 cors btn btn-default hidden-xs" data-tipo-corsi="Cerca nei corsi aperti a tutti" role="tab" aria-label="Corsi aperti a tutti">
                <span>Aperti a tutti</span>
                <span id="popApertiTutti" class="push-5-l hidden-xs" data-toggle="tooltip" data-html="true" title="Elenca i corsi aperti a tutti">
                    <i id="" class="fa fa-info-circle"></i>
                </span>
            </a>
            <a tabindex="-1" id="button-cat-3" onclick="ButtonCat(3)" class="button-cat-3 cors btn btn-default hidden-xs" data-tipo-corsi="Cerca nei corsi obbligatori" role="tab" aria-label="Corsi obbligatori">
                <span>Obbligatori</span>
                <span id="popObbligatori" class="push-5-l hidden-xs" data-toggle="tooltip" data-html="true" title="Elenca i corsi obbligatori">
                    <i id="" class="fa fa-info-circle"></i>
                </span>
            </a>
            <div class="btn-group btn-group-visible-xs" role="group">
                <button id="btnGroupDrop1" type="button" class="cors btn btn-default panel-featured-primary text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tutti i corsi
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a tabindex="0" id="button-cat-0" onclick="ButtonCat(0)" class="0 cors panel-featured-primary text-primary btn btn-default" data-tipo-corsi="Cerca nel catalogo" role="tab" aria-label="Tutti i corsi" " aria-selected="true">
                        <span>Tutti i corsi</span>
                    </a>
                    <a tabindex="-1" id="button-cat-1" onclick="ButtonCat(1)" class="button-cat-1 cors btn btn-default" data-tipo-corsi="Cerca nei corsi su richiesta" role="tab" aria-label="Corsi su richiesta">
                        <span>Su richiesta</span>
                    </a>
                    <a tabindex="-1" id="button-cat-2" onclick="ButtonCat(2)" class="button-cat-2 cors btn btn-default" data-tipo-corsi="Cerca nei corsi aperti a tutti" role="tab" aria-label="Corsi aperti a tutti">
                        <span>Aperti a tutti</span>
                    </a>
                    <a tabindex="-1" id="button-cat-3" onclick="ButtonCat(3)" class="button-cat-3 cors btn btn-default" data-tipo-corsi="Cerca nei corsi obbligatori" role="tab" aria-label="Corsi obbligatori">
                        <span>Obbligatori</span>
                    </a>
                </div>
            </div>

        </div>
        <br />

        <div id="ElencoCorsiExt">
            <div id="ElencoCorsi">
                @Html.Partial( "~/Views/RaiAcademy/ElencoCorsi.cshtml" , Model.Corsi )
            </div>
        </div>
    </div>
    @if ( !Request.Browser.IsMobileDevice )
    {
        <div class="col-sm-3 hidden-xs" id="filtro-corsi-container">
            @Html.Partial( "~/Views/RaiAcademy/FiltroCorsi.cshtml" , Model )
        </div>
    }
</div>

