@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;

<div class="row">
    <div class="col-sm-12">
        <h2>Materiali e Documenti</h2>
        <div id="risorse" class="academy-tab-body my-card-loading-block" role="tabpanel">

        </div>
    </div>
</div>
