@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using myRaiCommonModel.RaiAcademy;
@using MVCProject.Custom_Helpers;

@model List<myRaiData.MyRai_Notifiche>
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        </div>
        <h2 class="panel-title">Notifiche</h2>
    </header>
    <div class="panel-body" style="padding:0px;height:225px;">
        <div data-nano="true" class="nano notifiche">
            <div class="nano-content">
                <table class="table ">
                    <tbody>
                        @if ( Model != null && Model.Count > 0 )
                        {
                            foreach ( var item in Model )
                            {
                                <tr @(item.categoria == "RifiutoEccezione" ? "class=scadute" : item.categoria == "ApprovazioneEccezione" ? "class=approvate" : "")>
                                    <td style="padding: 15px;">
                                        <a class="notifiche-dec" href="/notifiche?tipo=@(item.tipo==null?"2":item.tipo.ToString())">@item.descrizione</a>
                                    </td>
                                    <td style="padding: 15px;">
                                        <button onclick="CancellaNotifica(@item.id , $(this).closest('tr'), $(this).closest('table'), $(this)  )"
                                                type="button" class="btn btn-alert padd4" data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            @Html.Partial( "_nodati" )
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>