
<section class="panel" id="agendaCorsi">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        </div>
        <h2 class="panel-title">La mia agenda</h2>
    </header>

     <div id="get-calendario" class="block panel-body" style="overflow-x:hidden;padding:10px;">
        <!-- Block tabs alternativo per stile Porto admin template -->
        <div class="row" style="padding-bottom: 20px; margin-top: 10px; /*border-bottom: solid 1px #eee*/">
            <div class="col-xs-2" style="text-align: right">
                <span style="font-size: 10px" class="glyphicon glyphicon-triangle-left text-primary pointer"></span>
            </div>
            <div class="col-xs-8">
                <p class="text-bold my-card-loading-block"></p>
            </div>
            <div class="col-xs-2" style="text-align: left">
                <span style="font-size: 10px" class="glyphicon glyphicon-triangle-right  text-primary pointer"></span>

            </div>
        </div>
        <div id="divcont" class="block-content tab-content no-border" style="padding: 0px;overflow-x:hidden;overflow-y:auto">
            <div data-toggle="slimscroll" data-height="50px" data-color="#46c37b" data-always-visible="true" style="width: auto;height:205px;" class="tab-pane active" id="btabswo-static-home">
                <figure class="profile-picture my-card-loading-block" style="height:100px;" ></figure>  
            </div>
        </div>

    </div>
</section>