@using System.Text.RegularExpressions

<div id='demoicons'>
    

    @{
        Regex[] Rs = new Regex[] { new Regex(@"fa\s\bfa-[a-zA-Z-]*"), new Regex(@"icon\s\bicon-[a-zA-Z-]*") };
        List<string> IconList = new List<string>();
    }
    @foreach (string file in System.IO.Directory.GetFiles(Server.MapPath("~/views"), "*.cshtml", SearchOption.AllDirectories))
    {
        foreach (var R in Rs)
        {
            MatchCollection M = R.Matches(System.IO.File.ReadAllText(file));
            if (M.Count > 0)
            {
                for (int i = 0; i < M.Count; i++)
                {
                    IconList.Add(M[i].Value);
                }
            }

        }
    }
    @foreach (var icon in IconList.Distinct().OrderBy(x => x))
    {
        <div class='col-sm-4'><span class='@icon'></span><span class='icon-name'>@icon</span></div>
    }


</div>
