@using myRaiHelper;

@using (Html.BeginModal("Modal Half"))
{
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginPanel(PanelType.Panel, "Colonna principale", false))
            {
                <div class="row push-10">
                    <div class="col-sm-12">
                        @Html.ProfileWidget("103650", "Vincenzo Bifano", null)
                    </div>
                </div>

                using (Html.BeginBlock(BlockType.ContentTable, "Modifica anagrafica", new List<ActionTemplate>() { new ActionTemplate() { Icon = "fa fa-refresh" } }))
                {
                    using (Html.BeginForm("Save_Form", "RaiDesign", FormMethod.Post, new { @id = "modal-form" }))
                    {

                        <div class="form-group">
                            <div class="row push-10">
                                <div class="col-sm-12">
                                    <label class="rai-caption">Campo di testo</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row push-20">
                                <div class="col-sm-12">
                                    <label class="rai-caption">Select</label>
                                    <select class="form-control">
                                        <option value="">Default</option>
                                        <option value="1">Valore 1</option>
                                        <option value="2">Valore 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rai-btn-fill">
                                        <button class="btn rai-btn-secondary" onclick="ClearThisForm()">Pulisci form</button>
                                        <button class="btn rai-btn-primary" onclick="SubmitThisForm(this)">Salva</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
}

<script>
    function ClearThisForm() {
        event.preventDefault();
        RaiClearForm('modal-form');
    }

    function SubmitThisForm(button) {
        RaiSubmitForm(button, 'modal-form', 
            function () {
                return {};
            }, null, null, "Salvataggio avvenuto con successo",
            function () {
                $('#modal-half').modal('hide');
            })
    }
</script>