@using myRaiHelper;

@using (Html.BeginModal("Modal manuale"))
{
    <div class="row">
        <div class="col-sm-8">
            @using (Html.BeginPanel(PanelType.Panel, "Colonna principale", false))
            {
                <div class="row push-10">
                    <div class="col-sm-12">
                        @Html.ProfileWidget("103650", "Vincenzo Bifano", null)
                    </div>
                </div>
                @Html.RenderBlock(BlockType.ContentTable, "Dettaglio", "subpartial/Informazioni")
                using (Html.BeginBlock(BlockType.ContentTable, "Altri dettagli"))
                {
                    <div class="rai-table-info">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Nome campo</label>
                            </div>
                            <div class="col-sm-8">
                                <label>Valore</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Nome campo</label>
                            </div>
                            <div class="col-sm-8">
                                <label>Valore</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Nome campo</label>
                            </div>
                            <div class="col-sm-8">
                                <label>Valore</label>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-sm-4">
            @using (Html.BeginBlock(BlockType.ContentTable, "Colonna secondaria blocco 1"))
            {
                <div class="rai-table-info">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginBlock(BlockType.ContentTable, "Colonna secondaria blocco 2"))
            {
                <div class="rai-table-info">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginBlock(BlockType.ContentTable, "Colonna secondaria blocco 3"))
            {
                <div class="rai-table-info">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nome campo</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Valore</label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}