
@using (Html.BeginPanel(myRaiHelper.PanelType.Panel, "Stress test"))
{
    <div class="row push-10">
        <div class="col-sm-4">
            <div class="row push-10">
                <div class="col-sm-12">
                    <label class="rai-caption">N.ro processi</label>
                    <input type="text" id="st-num-proc" class="form-control" />
                </div>
            </div>
            <div class="row push-10">
                <div class="col-sm-12">
                    <label class="rai-caption">Chiamate per processo</label>
                    <input type="text" id="st-num-call-per-proc" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" name="st-stop-flag" value="false" />
                    <div class="rai-btn-fill">
                        <button id="st-btn-stop" class="btn rai-btn-secondary" disabled onclick="RaiSTInterrompi()">Interrompi</button>
                        <button id="st-btn-start" class="btn rai-btn-primary" onclick="RaiSTAvvia()">Avvia processo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div style="overflow:hidden; overflow-y:auto; max-height:400px;">
                <table class="table rai-table rai-table-vcenter" id="st-table-counter">
                    <thead>
                        <tr>
                            <th>Proc. num</th>
                            <th>Num. call. effettuate</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div style="overflow:hidden; overflow-y:auto; max-height:400px;">
                <table class="table rai-table rai-table-vcenter" id="st-table-log">
                    <thead>
                        <tr>
                            <th>Proc. num</th>
                            <th>Call. num</th>
                            <th>Esito</th>
                            <th>Durata</th>
                            <th>Messaggio</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}
