
@* freak - definisco il modello *@
@model myRaiCommonModel.cvModels.cvModel.AltreInfo


   @{
       myRai.Data.CurriculumVitae.cv_ModelEntities cvEnt = new myRai.Data.CurriculumVitae.cv_ModelEntities();
   }
<div class="modal fade" id="modal-popup-iniziale" role="dialog" aria-hidden="true" style="display: none;"> @*tabindex="-1" *@
    <div class="modal-dialog modal-dialog-popu-iniziale">
    <form class="js-form2 form-horizontal form-insertformazione" action="/CurriculumVitae/InsertFormazione" method="post">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
              <div class=" block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                <h3 class="block-title">Corso di formazione</h3>
              </div>
              <div class="modal-body" id="edit-content">
    <div class="form-group">
        <!-- Composizione della FORM -->
        <div class="col-md-12"> @*col-md-8 col-sm-offset-2*@
            <div class="">    @*form-material*@
                <div class="push-10">
                    <label for="_corso">Titolo corso</label>
                    <input class="form-control" type="text" id="_corso" name="_corso"  placeholder="Inserire a testo libero il titolo del corso" />
                </div>
                
                <div class="row">
                    <div>
                        <div class="col-md-6 push-10">
                                <div class="form-material input-group date" style="position: relative">
                                    <label>Anno</label>
                                    <input class="js-datetimepicker form-control" data-format="YYYY" data-locale="it" type="text" id="_anno" name="_anno" placeholder="Selezionare un anno" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            
                        </div>
                        <div class="col-md-6 push-10">
                        <div>
                                <div class="form-material input-group date" style="position: relative">
                                    <label >Durata</label>
                                    <input class="form-control"type="text" id="_durata" name="_durata" placeholder="Inserire a testo libero la durata">
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row push-10">
                    <div class="col-md-12">
                        <label for="_presso">Nome società o ente erogatore della formazione</label>
                        <input class="form-control" type="text" id="_presso" name="_presso" placeholder="Inserire a testo libero il nome della società" />
                    </div>
                    
                </div> 
                <div class="push-10">
                    <label for="_localitaStudi">Città</label>
                    <input class="form-control" type="text" id="_localitaCorso" name="_localitaCorso" placeholder="Inserire a testo libero la città dove si è svolto il corso" />
                </div>
                <div class="push-10">
                    <label for="_codNazione">Paese</label>
                    <select class="js-select2 form-control"  id="_codNazione" name="_codNazione" style="width: 100%;"  data-placeholder="Selezionare dalla lista">
                        <option></option><!-- necessario per il placeholder con Select2 plugin -->
                        @{
                            var naz = (from nazione in cvEnt.DNazione
                                        orderby nazione.DES_NAZIONE
                                        select nazione).ToList();
                        }
                        @foreach (var elem in naz)
                        {
                            <option value="@elem.COD_SIGLANAZIONE">@elem.DES_NAZIONE</option>
                        }
                    </select>
                </div>
                <div class="row push-10">
                    <div class="col-md-12">
                        <label for="_note">Principali competenze acquisite</label>
                        <textarea class="form-control" id="_note" name="_note" rows="5" placeholder="Descrivere sinteticamente le principali competenze acquisite utilizzando al massimo 250 caratteri"></textarea>
                    </div>
                    
                </div>

            </div>
        </div>
        <!-- fine form -->
    </div> <!-- FREAK - COPIARE FINO A QUAAAAAAAAAAAA -->
              </div>
                  <div class="block-content block-content-mini block-content-full border-t">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-warning"  data-dismiss="modal" type="button"><i class="fa fa-arrow-circle-o-left"></i> Indietro</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary" type="submit" onclick="submit_formazione()"><i class="fa fa-check-circle-o"></i> Invia</button> 
                        </div>
                    </div>
                  </div>
          </div>
        </div>
          </form>
    </div>
</div>
