@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="body">
    @Html.Partial( "../Shared/header2" , new myRaiCommonModel.NotifichePopupModel( CommonHelper.GetCurrentUserMatricola( ) ) )
    <div class="inner-wrapper">
        @Html.Partial( "../Shared/sidebar" , myRaiHelper.UtenteHelper.getSidebarModel(  ) )
        <section role="main" class="content-body">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel" id="">
                        <header class="panel-heading">
                            <div class="row">
                                <h2 class="panel-title">Elenco JobPosting</h2>
                            </div>
                        </header>
                        <div class="panel-body">
                            <div id="TblJobsPosting_Container">
                                @Html.AsyncPartial( "AdminJobPosting" , "LoadJobs" , "~/Views/AdminJobPosting/subpartial/TblJobsPosting_skeleton.cshtml" , TempData )
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>

@section afterjs {
    @Html.Raw( TempData["script"] )
}