@using myRaiHelper;
@using myRaiCommonModel.ess;
@using MVCProject.Custom_Helpers;
@using myRaiHelper;

@model RiepilogoTrasferteInDefinizioneVM

@{
    Layout = null;
}
<div class="block block-transparent block-content-table">
    <div class="block-header block-content-mini">
        <label class="rai-font-table-heading">In corso di definizione</label>
    </div>
    <div class="block-content block-content-mini">
        <div class="rai-table-info">
            <div class="row">
                <div class="col-xs-5"><span class="rai-font-md-neutral-bold">Spese previste </span></div>
                <div class="col-xs-7 text-right"><span class="rai-font-md">@(String.Format( "{0:N2} €" , Model.SpesePreviste ))</span></div>
            </div>

            <div class="row">
                <div class="col-xs-5"><span class="rai-font-md-neutral-bold">Anticipi </span></div>
                <div class="col-xs-7 text-right"><span class="rai-font-md">@(String.Format( "{0:N2} €" , Model.Anticipi ))</span></div>
            </div>

            <div class="row">
                <div class="col-xs-5"><span class="rai-font-md-neutral-bold">Rimborsi </span></div>
                <div class="col-xs-7 text-right"><span class="rai-font-md-bold">@(String.Format( "{0:N2} €" , Model.Rimborsi ))</span></div>
            </div>
        </div>
    </div>
</div>
