@using myRaiHelper;
@using myRaiCommonModel.ess;
@using MVCProject.Custom_Helpers;
@using myRaiHelper;

@model TrasferteViewModel
@{
    Layout = null;


    string macroStato = "";
    switch (Model.MacroStato)
    {
        case myRaiCommonModel.ess.TrasferteMacroStato.Aperte:
            macroStato = "Aperte";
            break;
        case myRaiCommonModel.ess.TrasferteMacroStato.Concluse:
            macroStato = "Concluse";
            break;
        default:
            break;
    }
}

<div class="table-responsive">
    <table class="rai-table table trasferte" id="table-eventi-3">
        <thead>
            <tr>
                <td class="col-xs-5 text-left">Foglio di viaggio</td>
                <td class="col-xs-2">Sp. Prev</td>
                <td class="col-xs-2">Rimborsi</td>
                <td class="col-xs-2">Anticipi</td>
                <td class="col-xs-1">&nbsp;</td>
            </tr>
        </thead>
        <tbody id="bodyTrasferte@(macroStato)">
            @{
                if ( Model.Data.Viaggi == null || !Model.Data.Viaggi.Any( ) )
                {
                    <tr>
                        <td colspan="6" class="text-center">
                            <label class="rai-font-md-neutral">Non ci sono trasferte @(macroStato.ToLower())</label>
                            @*@Html.Partial( "~/Views/Shared/_NoDati.cshtml" )*@
                        </td>
                    </tr>
                }
                else
                {
                    @Html.Partial( "~/Views/Trasferte/subpartial/TrTblTrasferte.cshtml" , Model )
                }
            }
        </tbody>
    </table>
</div>

@{
    if ( Model.HasNext )
    {
        <div class="text-center">
            <i id="divCaricamentoInCorso@(macroStato)" class="rai-loader" style="height:50px; display:none;"></i>
        </div>
        <div class="section-bottom" id="DivAltreTrasferte@(macroStato)">

            <a id="toggle-AltreTrasferte@(macroStato)" style="top:20px;" data-tourdb="tour-index-arrowdown" data-step="7" data-intro="<h5 class=&quot; titolo-tour text-primary text-bold&quot;></h5><p class=&quot;testo-tour&quot;>Quando trovi questo simbolo puoi espandere la sezione. Ci sono altre trasferte che non vedi dalla pagina principale.</p>" data-toggle="collapse" data-target="#collAltreTrasferte@(macroStato)" class="apri-panel" onclick="toggleTrasferte('toggle-AltreTrasferte','@(macroStato)')"><i class="fa fa-2x push-7-t font-w600 fa-angle-down text-white"></i></a>
        </div>
    }
}