@model myRaiCommonModel.TrattamentoEconomicoModel

@{
    string MyMatr = myRaiHelper.CommonHelper.GetCurrentUserMatricola();
}
<section class="panel " style="">
    <header class="panel-heading" data-panel-toggle="">
        <h1 class="panel-title">Elenco richieste</h1>
        <div class="panel-actions rai-panel-actions">
            <a href="#" class="panel-action rai panel-action-toggle" data-panel-toggle="" aria-labelledby="lblRightBox" aria-expanded="true"></a>
        </div>
    </header>
    <div class="panel-body no-padding">

        <div id="div-richieste-te">

            <div class="block" style="margin-bottom:0px;">

                <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs" role="tablist">

                    <li id="li-1" class="active" role="presentation">
                        <a href="#tab1" class="rai-badge-anchor" id="hrefTab1" tabindex="0" role="tab" aria-selected="true" aria-controls="tab1">
                            IN CARICO A ME
                        </a>
                    </li>
                    <li id="li-2" class="" role="presentation">
                        <a href="#tab2" class="rai-badge-anchor" id="hrefTab2" tabindex="0" role="tab" aria-selected="false" aria-controls="tab2">
                            DA PRENDERE IN CARICO 
                        </a>
                    </li>
                    <li id="li-3" class="" role="presentation">
                        <a href="#tab3" class="rai-badge-anchor" id="hrefTab3" tabindex="0" role="tab" aria-selected="false" aria-controls="tab3">
                            IN CARICO AD ALTRI 
                        </a>
                    </li>
                </ul>

                <div class="block-content tab-content" style="padding:23px 5px 1px;overflow:unset;">
                    <div class="tab-pane active" id="tab1" role="tabpanel">
                        <div>
                            <div class="panel-body  panel-body-nopadding" id="">

                                @Html.Partial("_contentTab",Model.RichiesteInCaricoAme)
                        
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="tab2" role="tabpanel">
                        <div>
                            <div class="panel-body  panel-body-nopadding" id="">

                                @Html.Partial("_contentTab", Model.RichiesteInCaricoANessuno)
                             
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="tab3" role="tabpanel">
                        <div class="panel-body  panel-body-nopadding" id="">

                            @Html.Partial("_contentTab", Model.RichiesteInCaricoAdAltri)
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
</section>

