@model myRaiCommonModel.PopupTeModel

<div class="block block-transparent remove-margin-b">
    <input type="hidden" id="current-id-richiesta" value="@Model.Richiesta.ID" />
    <div class="block-header">
        <div style="display:table-cell;vertical-align:middle;height:58px;position:relative;top:-15px;">
            <label class="rai-font-modal-heading">Dettaglio richiesta</label>

        </div>
        <div class="block-options">
            <button data-dismiss="modal" class="btn btn-action-icon"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>

    <div class=" text-center rai-font-md-bold" id="periodo-scroll">

    </div>
    <div class="block-content" id="popup-te">

        <div class="row">
            <div class="col-md-8" id="popup-content-centro">

               
            </div>



            <div class="col-md-4">

                <div id="popup-content-dettaglilaterale">
                    
                </div>


                <div id="popup-content-assegna">
                    
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    GetPopupContentAssegna(@Model.Richiesta.ID);
    GetPopupContentCentro(@Model.Richiesta.ID);
    GetPopupContentDettagliLaterale(@Model.Richiesta.ID);

     
    function GetPopupContentCentro(id) {
        $("#popup-content-centro").html("<div style='height:400px' class='rai-loader'></div>");
        $("#popup-content-centro").load("/trattamentoEconomico/GetPopupContentCentro?id=" + id);
    }
    function GetPopupContentAssegna(id) {
        $("#popup-content-assegna").html("<div style='height:400px' class='rai-loader'></div>");
        $("#popup-content-assegna").load("/trattamentoEconomico/GetPopupContentAssegna?id=" + id);
    }
    function GetPopupContentDettagliLaterale(id) {
        $("#popup-content-dettaglilaterale").html("<div style='height:400px' class='rai-loader'></div>");
        $("#popup-content-dettaglilaterale").load("/trattamentoEconomico/GetPopupContentDettagliLaterale?id=" + id);
    }
</script>