
@using myRaiHelper;

<div class="rai modal right fade" id="popupview-te" role="dialog" aria-modal="true" aria-hidden="true" style="display: none;">
    
    <div class="modal-dialog modal-dialog-popin">

        <div class="rai modal-content  scroll-container" id="popupte-content">

            

        </div>

    </div>

</div>
 


