
@model myRaiCommonModel.TrattamentoEconomicoIndexModel
<section class="rai panel" id="panelRicercaRichieste">
    <header class="panel-heading">
        <h2 class="panel-title">Filtra elenco richieste</h2>
    </header>
    <div class="panel-body">
        <form id="cercaImm">
            <div class="rai form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-caption">MESE</label>
                        <div class="input-group mb-md">
                            <span onclick="$('#datadal').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                            <input class="js-datetimepicker form-control" data-format="MM/YYYY" data-locale="it" type="text" id="datamese" placeholder="Mese">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-caption">MATRICOLA O NOMINATIVO DIPENDENTE</label>
                        <input type="text" class="form-control form-control-value mb-md" id="matricola" placeholder="Matricola" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-caption">TIPOLOGIA</label>
                        <select class="form-control form-control-value mb-md" id="tipo">
                            <option></option>
                            @foreach (var cat in Model.ListaCategorie)
                            {
                                <option value="@cat.ID">@cat.TITOLO</option>
                            }

                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-caption">STATO DELLA RICHIESTA</label>
                        <select class="form-control form-control-value mb-md" id="stato">
                            <option></option>
                            <option value="1">Da lavorare</option>
                            <option value="2">In lavorazione</option>
                            <option value="3">Lavorata</option>
                            <option value="4">Annullata</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="rai-caption">TASK ESEGUITI NEL MESE</label>
                        <div class="input-group mb-md">
                            <span onclick="$('#datatask').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                            <input class="js-datetimepicker form-control" data-format="MM/YYYY" data-locale="it" type="text" id="datatask" placeholder="Mese">
                        </div>
                    </div>

                </div>
                <div class="row push-20-t">
                    <div class="col-sm-12">
                        <div class="rai-btn-fill">
                            <input type="button" id="btnRipristina" class="btn rai-btn-secondary" title="Ripristina" value="Ripristina" onclick="reset()" required="">
                            <input type="button" id="btnCercaMatricola" class=" btn rai-btn-primary" title="Cerca" value="Cerca" onclick="GetContentTE()" required="">
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>