
<section class="panel">
    <div class="panel-body" style="font-size: 120%;">
         <span class="my-card-loading-block">
                        </span>

        <div class="row">
           
                <span class="my-card-loading-block" style="width: 84%;display: block;height: 24px;margin-bottom: 10px;margin-left:20px">
                        </span>
            
           
        </div>
    </div>
    <div class="panel-footer" style="background-color: #fff;">
        <div class="row">
            <div class="col-sm-2">
               
                 &nbsp;
            </div>
            <div class="col-sm-10 text-right">
                  &nbsp;
            </div>
        </div>

    </div>
</section>