
<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
						
					</div>

					<h2 class="panel-title">Notifiche</h2>

				 
				</header>
				<div class="panel-body">
                    <table>
                        <tbody>
                             @Html.Partial("_nodati")
                        </tbody>
                    </table>
				</div>
				
</section>