<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyRaiWindowsService1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>



    <!--########### PRODUZIONE ########################################################       -->  

  <connectionStrings>
        <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <applicationSettings>
        <MyRaiWindowsService1.Properties.Settings>
            <setting name="MyRaiWindowsService1_EsponiAnagrafica_Service"
                serializeAs="String">
                <value>http://hrgb.servizi.rai.it/ws/Service.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_sendMail_MailSender" serializeAs="String">
                <value>http://sendmail.servizi.rai.it/mail.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_it_rai_servizi_svildigigappws_WSDigigapp"
                serializeAs="String">
                <value>http://digigappws.servizi.rai.it/wsdigigapp.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_it_rai_servizi_HRGA_Sedi"
                serializeAs="String">
                <value>http://hrga.servizi.rai.it/Filtro/sedi.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_Autorizzazioni_Sedi" serializeAs="String">
                <value>http://hrga.servizi.rai.it/Filtro/sedi.asmx</value>
            </setting>
        </MyRaiWindowsService1.Properties.Settings>
    </applicationSettings>
    
      <appSettings>
        <add key="URLdigigapp" value="http://digigappws.intranet.rai.it/wsdigigapp.asmx"/>
        <add key="URLhrga" value="http://hrga.servizi.rai.it/Filtro/sedi.asmx"/>
        <add key="URLhrgb" value="http://hrgb.servizi.rai.it/ws/Service.asmx"/>
        <add key="DefaultMail" value=""/>
    </appSettings>

  <!--########### FINE PRODUZIONE ########################################################       -->


  <!--########### SVILUPPO ########################################################  -->

    <!--<connectionStrings>
        <add name="digiGappEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stocav420,6000;initial catalog=digiGapp;user id=dba_digigapp;password=g2w3e3r3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

      <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stocav420,6000;initial catalog=digiGapp;user id=dba_digigapp;password=g2w3e3r3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    
    <applicationSettings>
        <MyRaiWindowsService1.Properties.Settings>
            <setting name="MyRaiWindowsService1_EsponiAnagrafica_Service"
                serializeAs="String">
                <value>http://hrgb.servizi.rai.it/ws/Service.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_sendMail_MailSender" serializeAs="String">
                <value>http://sendmail.servizi.rai.it/mail.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_it_rai_servizi_svildigigappws_WSDigigapp"
                serializeAs="String">
                <value>http://svildigigappws.servizi.rai.it/wsdigigapp.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_it_rai_servizi_HRGA_Sedi"
                serializeAs="String">
                <value>http://svilhrga.servizi.rai.it/Filtro/sedi.asmx</value>
            </setting>
            <setting name="MyRaiWindowsService1_Autorizzazioni_Sedi" serializeAs="String">
                <value>http://hrga.servizi.rai.it/Filtro/sedi.asmx</value>
            </setting>
        </MyRaiWindowsService1.Properties.Settings>
    </applicationSettings>
        
    <appSettings>
        <add key="URLdigigapp" value="http://svildigigappws.servizi.rai.it/wsdigigapp.asmx"/>
        <add key="URLhrga" value="http://svilhrga.servizi.rai.it/Filtro/sedi.asmx"/>
        <add key="URLhrgb" value="http://svilhrgb.servizi.rai.it/ws/Service.asmx"/>
        <add key="DefaultMail" value="RUO.SIP.PRESIDIOOPEN@rai.it"/>
    </appSettings>-->
  
  <!--########### FINE SVILUPPO ########################################################       -->

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>