@using myRaiHelper;
@using myRaiCommonModel.Detassazione;
@using MVCProject.Custom_Helpers;

@model DetassazioneModel
<div class="block block-themed block-transparent remove-margin-b">
    <div class="block-header bg-cdf" style="height: 58px;">
        <ul class="block-options visible-xs">
            <li>
                <button data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </li>
        </ul>
        @{
            if ( Model.Codice.Equals( "2C" ) )
            {
                <h4 class="lead" style="display:inline;float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">Modulo di richiesta detassazione</h4>
            }
            else
            {
                <h4 class="lead" style="display:inline;float: left; margin: -3px 0 0 0px; font-size: 2.1rem; color: #fff;">Modulo rinuncia detassazione</h4>
            }
        }
        <h4 class="lead" id="periodo-scroll" style="font-weight:500;display:inline;float: left;margin: -3px 0 0 10px;font-size: 2.1rem;color: #fff;"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Chiudi"><span aria-hidden="true">×</span></button>
    </div>
    <div class="row no-margin-left-right">
        <!-- Colonna -->
        <div class="col-sm-12 no-pad-left no-pad-right border-right ">
            <div class="block-content block-content-full boxdate" style="margin-bottom: 0px; padding-bottom:5px;">
                <div class="row">
                    <iframe style="width:100%; height:80vh!important;" src="@Url.Action("GetPDF","Detassazione")?matricola=@Model.Matricola&anno=@Model.Anno&codiceDetassazione=@Model.CodiceDetassazione"></iframe>
                </div>
            </div>
        </div>
        <!-- Fine colonna -->
    </div>
</div>
<div class="modal-footer" style="width:100%;height:60px;position:absolute;bottom:0px;text-align:center;border-top:none;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
</div>