<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="myRaiCommonTasks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>


  <connectionStrings>
    <add name="digiGappEntities" connectionString="metadata=res://*/digiGappEntities.csdl|res://*/digiGappEntities.ssdl|res://*/digiGappEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="digiGappEntities" connectionString="metadata=res://*/digiGappEntities.csdl|res://*/digiGappEntities.ssdl|res://*/digiGappEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STOCAV420,6000;initial catalog=digiGapp;user id=dba_digiGapp;password=g2w3e3r3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


  <appSettings>
    <add key="URLdigigapp" value="http://digigappws.servizi.rai.it/wsdigigapp.asmx"/>
    <add key="URLhrga" value="http://hrga.servizi.rai.it/Filtro/sedi.asmx"/>
    <add key="URLhrgb" value="http://hrgb.servizi.rai.it/ws/Service.asmx"/>
    <add key ="coordinate" value="120,686,120,659"/>
  </appSettings>



  <applicationSettings>
    <myRaiCommonTasks.Properties.Settings>
      <setting name="myRaiCommonTasks_it_rai_servizi_HRGA_Sedi" serializeAs="String">
        <value>http://hrga.servizi.rai.it/Filtro/sedi.asmx</value>
      </setting>
      <setting name="myRaiCommonTasks_it_rai_servizi_svildigigappws_WSDigigapp" serializeAs="String">
        <value>http://digigappws.servizi.rai.it/wsdigigapp.asmx</value>
      </setting>
      <setting name="myRaiCommonTasks_it_rai_servizi_hrgb_Service" serializeAs="String">
        <value>http://hrgb.servizi.rai.it/ws/Service.asmx</value>
      </setting>
      <setting name="myRaiCommonTasks_it_rai_servizi_sendmail_MailSender" serializeAs="String">
        <value>http://sendmail.servizi.rai.it/mail.asmx</value>
      </setting>
    </myRaiCommonTasks.Properties.Settings>
  </applicationSettings>



</configuration>