@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

@{
    ViewBag.Title = "Borse di studio";
    Layout = "~/Views/Shared/_layoutContent.cshtml";
}

@model Index_BorseDiStudio


<section role="main" class="content-body">
    <div id="containerSideLeft" class="col-lg-8" style="min-width: 500px;">
        @Html.Partial("~/Views/BorseDiStudio/subpartial/StoricoRichieste.cshtml", Model.Storico)
    </div>
    <div id="containerSideRight" class="col-lg-4" style="min-width: 300px;">
        @Html.Partial("~/Views/BorseDiStudio/subpartial/RiepilogoRichieste.cshtml", Model.Riepilogo)
    </div>
    <div id="containerModale" class="modal right fade in" role="dialog" aria-hidden="true">
        <div class="modal-backdrop fade in" data-dismiss="modal"></div>
        <div class="modal-dialog modal-dialog-popin">
            <div id="modal-buttons">
                <span class="modal-close-botton-lg" aria-label="Close" data-dismiss="modal">x</span>
                <span class="modal-close-botton-xs visible-xs" aria-label="Close" data-dismiss="modal">x</span>
            </div>

            <div class="modal-content height100" style="width: 100%; height: 100%;">
                <div class="modal-panel block block-themed block-transparent" style="width: 100%; height: 100%; margin-bottom: 0; overflow-y: hidden;">
                    <div class="modal-header block-header bg-cdf">
                        <span class="modal-title h3" style="font-weight: 100;"></span>
                    </div>
                    <div class="modal-body" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
