@using System.Globalization;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;

<li class="nav-main-heading">
    <span class="sidebar-mini-hide">Approvazioni</span>
</li>
<li class="PRE">
    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-file-text-o"></i><span class="sidebar-mini-hide">Elenco Richieste</span></a>
    <ul>
        <li>
            <a href="/Responsabile/totaledaapprovare">Da approvare</a>
        </li>
        <li>
            <a href="/Ricerca/RicercaEccezioni">Ricerca</a>
        </li>
    </ul>
</li>