<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Caccia70.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
   <connectionStrings>
      <add name="digiGappEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="digiGappEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZTOLS420,6000;initial catalog=digiGapp;user id=user_digigapp;password=c6w5e4q3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="IncentiviEntities" connectionString="metadata=res://*/Incentivi.ModelIncentivi.csdl|res://*/Incentivi.ModelIncentivi.ssdl|res://*/Incentivi.ModelIncentivi.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZTOCERV410,6000;Initial Catalog=Czndb;User ID=Czndb;Password=g6h2c6n9;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

   </connectionStrings>
    <applicationSettings>
        <Caccia70.Properties.Settings>
            <setting name="Caccia70_it_rai_intranet_digigappwshis2016vip_WSDigigapp"
                serializeAs="String">
                <value>http://digigappws-his2016vip.intranet.rai.it/WSDigigapp.asmx</value>
            </setting>
        </Caccia70.Properties.Settings>
    </applicationSettings>
</configuration>