<div style="width: 100%" data-async="/feriepermessi/getpermessiRetr">   
<section class="panel">
		<header class="panel-heading">
			<div class="panel-actions">
				<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
			</div>
			<h2 class="panel-title">PR - Permessi Retribuiti</h2>
		</header>

		<div class="panel-body">
            <div class="row">
                                <span class="my-card-loading-block" > </span>     
                                <span class="my-card-loading-block" > </span>     
                                <span class="my-card-loading-block" > </span>     
	 
            </div>
		</div>
				
    </section>
    </div>