@using System.Globalization;
@using myRaiHelper;
@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRaiCommonManager;

@model ModelDash

<div id="modal-programma">
    <div class="modal right fade" id="modal-popin-nuovo" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content height100">
                @using (Html.BeginModal("Gestione del programma"))
                {
                    using (Html.BeginForm("", "", FormMethod.Post, new { id = "form-programma" }))
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                @using (Html.BeginPanel(PanelType.Panel, "Inserimento", false))
                                {
                                    <div class="form-group">
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Titolo</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" id="titolo" name="titolo">
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Luogo</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" id="luogo" name="luogo">
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Anno</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group mb-md">
                                                    <span style="cursor: pointer" onclick="$('#anno').datetimepicker('show')" class="input-group-addon"><i class="icons icon-calendar"></i></span>
                                                    <input class="js-datetimepicker form-control annoinizio" type="text" data-format="YYYY" data-locale="it" id="anno" name="anno">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Amministratore</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" id="admin" name="admin">
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Capienza Totale</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" min="0" type="number" id="numeroMedio" name="numeroMedio" />
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Limite per evento</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" min="0" type="number" id="numeroAtteso" name="numeroAtteso" />
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Limite per programma</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input class="form-control" min="0" type="number" id="numeroMassimo" name="numeroMassimo" />
                                            </div>
                                        </div>
                                        <div class="row push-10">
                                            <div class="col-sm-4">
                                                <label class="rai-caption">Nota per email</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" id="testo_mail" name="testo_mail" rows="5" placeholder="Descrivere le note dell'email"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row push-10-t">
                                        <div class="col-sm-12">
                                            <button id="invia-programma" type="submit" class="btn rai-btn-primary full-width">Inserisci Programma</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-sm-6">

                                @using (Html.BeginPanel(PanelType.NoHeader, ""))
                                {
                                    using (Html.BeginBlock(BlockType.ContentTable, "Sedi Abilitate"))
                                    {
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="sedi" name="sedi" placeholder="inserisci sedi">
                                            </div>
                                        </div>
                                    }

                                    using (Html.BeginBlock(BlockType.ContentTable, "Matricole Abilitate"))
                                    {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input class="form-control" type="text" id="matricole" name="matricole" placeholder="inserisci matricole">
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
