@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRai.DataControllers;

@model ApprovazioniAttivitaModel

<div id="approvazioni-produzione">
    <header class="panel-heading">
        <h2 class="panel-title" tabindex="0">Da approvare</h2>
        <div class="panel-actions">
            <a tabindex="0" type="button" data-toggle="block-option" data-action="refresh_toggle"
               id="refresh-attivita"
               data-refreshurl="/ApprovazioneProduzione/GetRichiesteAttProduzione"
               data-parentdiv="approvazioni-produzione"
               data-refreshelements="my-block,my-block2" data-action-mode="demo"
               aria-label="Aggiorna le richieste da approvare">
                <i class="icons icon-refresh"></i>
            </a>
        </div>
    </header>
    <div id="blockDay" class="block" style="">
        <div class="block-content" style="padding: 0px;">
            <div class="block block-opt-refresh" id="my-block2">
                <div id="appr" class="block-content tab-content" style="height:100px">
                </div>
            </div>
        </div>
    </div>
</div>