@using myRaiHelper;
@using myRaiCommonModel;
@using MVCProject.Custom_Helpers;
@using myRai.DataControllers;

@model ModelDash

<style>
    .panel-actions a.dropdown-item {
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
</style>

<div id="extDaApprovare">
    <div id="daapprovare">
        <header class="panel-heading">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="panel-title" tabindex="0">Da approvare</h2>
                </div>
                <div class="col-sm-5 text-right">
                    <button tabindex="0" type="button" class="btn btn-md btn-default btn-change-view dropdown-toggle" data-toggle="dropdown" id="viewButton" style="width:auto;">
                        Vista per richiesta
                    </button>
                    <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(15px, 35px, 0px); right: 25px; top:0px; will-change: transform;">
                        <a class="dropdown-item" href="#" data-view-show="blockRich" data-view-hide="blockDayRound,blockDay,blockType" onclick="changeApprView(this)">Vista per richieste</a>
                        <a class="dropdown-item" href="#" data-view-show="blockDayRound" data-view-hide="blockDay,blockRich,blockType" onclick="changeApprView(this)">Vista per giornata/turno</a>
                        <a class="dropdown-item" href="#" data-view-show="blockDay" data-view-hide="blockDayRound,blockRich,blockType" onclick="changeApprView(this)">Vista per giornata</a>
                        <a class="dropdown-item" href="#" data-view-show="blockType" data-view-hide="blockDay,blockRich,blockDayRound" onclick="changeApprView(this)">Vista per codice eccezione</a>
                    </div>
                </div>
            </div>
            <div class="panel-actions">
                <a tabindex="0" type="button" data-toggle="block-option" data-action="refresh_toggle"
                   id="refresh-attivita"
                   data-refreshurl="/ApprovazioneProduzione/GetRichiesteAttProduzione"
                   data-parentdiv="daapprovare"
                   data-refreshelements="my-block,my-block2,my-block3,my-block4"
                   data-action-mode="demo"
                   aria-label="Aggiorna le richieste da approvare">
                    <i class="icons icon-refresh"></i>
                </a>
            </div>
        </header>
        <div id="blockRich" class="block">
            <div class="block-content" style="padding:0px;">
                <div class="block" id="my-block">
                    <div id="appr" class="block-content tab-content">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial( "~/Views/ApprovazioneProduzione/subpartial/da_approvare3.cshtml" )
    </div>
</div>